::ng-deep {
  @import "../../../assets/css/intermx-new.theme.less";
}
// TODO:: Remove this style
.common-pading{
  padding: 16px 48px 16px 88px;
  overflow: auto;
  height:100%;
}
.imx-main-content{
  height: 100%;
  background: var(--grays-bg-200);
  .header-section{
    background: #ffffff;
  }
}
