::ng-deep{
  app-markets-selector-dialog{
    .markets-section{
      overflow: hidden !important;
    }
    .market-selection{
      place-content: start !important;
      margin-bottom: 0px;
      align-items: center !important;
    }
    .search-section, .market-type-section{
      padding: 0 !important;
    }
    .search-field {
      input{
        border-bottom: unset !important;
      }
    }
    .mat-radio-button{
      padding: 8px 0px !important;
      width: 100%;
    }
    .mat-radio-label-content {
      width: 100% !important;
      align-items: center;
      font-weight: 300;
      color: var(--high-emphasis);
      font-size: 14px;
    }
    .less-items{
      min-height: 300px !important;
    }
    app-arrow-navigation{
      padding: 0px 15px;
      .slno{
        margin-right: 10px;
      }
    }
    .cdk-virtual-scroll-viewport{
      min-height: 300px !important;
    }
    .chip-section , .section{
      display: none !important;
    }
  }
}