::ng-deep{
  .c-define-target{

  .mat-tab-header-pagination-before {
    justify-content: flex-start !important;
  }

  .mat-tab-header-pagination-after {
    justify-content: flex-end !important;
  }

  .mat-tab-header-pagination {
    box-shadow: none !important;
    min-width: 24px !important;
  }

  .main-block > .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
    margin-right: 0 !important;
    color: inherit;

   & > .mat-icon {
      height: 12px !important;
      width: 8px !important;
    }
  }

 .mat-tab-group.imx-tab-capital .mat-tab-content{
   padding: 0 !important;
 }


 }

 .dt-mt-3{
  margin-top: 16px;
 }
 app-define-target {
  app-audience-filter {
    .mat-button {
      font-size: 12px !important;
      padding: 0px 5px;
    }
   }
 }
 
}
