h1 {
  color: var(--grays-bg-700);
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.15px;
  margin-bottom: 32px;
}

.modal-close-icon path {
  fill: var(--text-primary);
}

.details-element {
  margin-right: 10px;
}

.no-users {
  font-size: 13px;
  color: #B00048;
  margin-bottom: 36px;
}

.user-address-container {
  width: 70%;
  border: 1px solid var(--primary-bg-600);
  border-radius: 14px;
  padding: 16px 8px 0 !important;
}

.division{
  margin-top: 5px;
}
.mat-dialog-actions {
  padding-top: 32px;
  padding-bottom: 32px;
}

.tax-id {
  font-size: 14px;
  line-height: 18px;
  color: var(--grays-bg-800);
}

.radio-users-container {
  margin-top: 2rem;
  max-height: 180px;
  overflow-y: auto;
}

.radio-users-title {
  margin-bottom: 1rem;
}

.radio-users-title,
.radio-name,
.radio-email {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: var(--grays-bg-800);
}
