.row {
  margin: 5px auto;
}
.actions {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.highlight {
  font-weight: bold;
  background: #f7f4f4;
  color: #000000;
}
mat-label {
  display: block;
  margin-bottom: 5px;
}
