mat-error.small-font{
    font-size: 10px;
}
::ng-deep {
    app-name-and-attributes-form {
        .inventory-form__field {
            fieldset {
                border: none;
                padding: 0;
                margin: 0;
                margin-top: -1px;
                width: 150px !important;
                min-width: 0;
                legend {
                    color: rgba(0,0,0,.54);
                    top: 1.28125em;
                    font-size: 11px;
                    font-weight: 300;
                    letter-spacing: 0.47px;
                }
                .mat-form-field-appearance-legacy {
                    .mat-form-field-infix {
                        padding-top: 0;
                        border: 0px;
                    }
                }
                .mat-form-field {
                    float: left;
                    width: 75px;
                }
                .pad10 {
                    padding-right: 10px;
                }
            }
        }
    }
}
