.previewing-title {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 30px;
    color: var(--grays-bg-700);
}

::ng-deep{
    .reports-previwe-header {
        padding: 18px;

    }

    .custom-mat-menu {
        .mat-menu-content:not(:empty) {
            padding: 0px !important;
        }
    }
}