@import '../../../assets/css/variables.less';

::ng-deep {
  app-generate-scenario-duplicate-popup {
    .imx-project-form {
      .title{
        font-size: 14px !important;
        line-height: 18px !important;
        letter-spacing: 1px !important;
        text-transform: none !important;
        color: var(--grays-bg-700) !important;
      }
      .description{
        margin-top: 1.43rem;
        h6{
          font-size: 14px !important;
          line-height: 18px !important;
          color: var(--grays-bg-800) !important;
        }
        > h6:last-child{
          margin-top: 1.43rem;
        }
      }
      .action-margin{
        margin-top: 2rem !important;
      }
      .mat-form-field {
        width: 100%;
        .mat-form-field-label {
          font-size: 10px;
          line-height: 13px;
          letter-spacing: 0.6px;
          text-transform: uppercase;
        }
        .mat-input-element {
          font-size: 13px;
          line-height: 16px;
          letter-spacing: 0.5px;
          color: var(--grays-bg-800);
        }
      }
    }
  }
}
