<form
  method="post"
  class="noAnimation imx-project-form"
  [formGroup]="scenarioForm"
  novalidate
  autocomplete="off"
  (ngSubmit)="onSubmit(scenarioForm)"
>
  <h4 mat-dialog-title class="title">Duplicate Name Error</h4>
  <div class="description">
    <h6>Another {{ data?.type === 'MP' ? 'Market' : 'Inventory' }} Plan found with the same Plan name.</h6>
    <h6>Change name of this plan to continue plan generation.</h6>
  </div>
  <button mat-icon-button mat-dialog-close class="mat-dialog-close">
    <mat-icon>highlight_off</mat-icon>
  </button>
  <mat-dialog-content>
    <mat-form-field class="imx-input">
      <mat-label>{{ labels.scenario[0] }} Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="scenarioForm.controls.name.invalid">
        <span
          *ngIf="scenarioForm.controls.name['errors']['required'] == true"
          >{{ nameValidError }}</span
        >
        <span
          *ngIf="
            scenarioForm.controls.name['errors']['required'] !== true &&
            scenarioForm.controls.name['errors']['whitespace'] == true
          "
          >{{ nameWhiteSpaceValidError }}</span
        >
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="center" class="action-margin">
    <button mat-button class="imx-button-primary">
      save & generate
    </button>
  </mat-dialog-actions>
</form>
