@import "../../../../assets/css/variables.less";


.c-location-selection {

  .btn-clear{
    margin-right: 12px;
    color           : var(--medium-emphasis) !important;
    font-size       : 13px;
    font-weight     : bold;
    letter-spacing  : 0.08px;
    text-transform  : uppercase;
    border-radius   : 4px !important;
  }
  .btn-primary-color{
    background-color: var(--button-bg-color);
    color           : var(--text-whites) !important;
    font-size       : 13px;
    font-weight     : bold;
    letter-spacing  : 0.08px;
    line-height     : 24px;
    text-transform  : uppercase;
    border-radius   : 4px !important;
  }

  .search-highlight {
    color: var(--primary-bg) !important;
   }

}


.c-location-selection .c-loc-selctn-header{

  &__title{
    margin-top: 0;
    margin-bottom: 10px;
  }

  .search-highlight {
    color: var(--primary-bg) !important;
  }

}

.c-location-selection .c-loc-selctn-body{


  ::ng-deep.mat-list {

    max-width: 100%;
    overflow-y: auto;
    max-height: 216px;
    overflow-x: hidden;

    .mat-list-item {
      box-shadow: none;
      font-size: 14px;
      height: 41px !important;
      margin-left: 16px;
      border-bottom: 1px solid var(--grays-bg-300);
      cursor: pointer;
    }

  }


  h5{
   font-size: 16px;
   margin: 8px 0;
  }


  ::ng-deep.mat-chip-list-wrapper {
    max-height: 120px;
    overflow-y: auto;
    overflow-x: hidden;
  }


  mat-form-field {
    input{
      border: none !important;
    }
  }

}

.c-location-selection .c-loca-selctn-footer{

  &__wrapper{
    margin-top: 12px;
  }

}



