.c-yearly-report-table {
  border-collapse: collapse;
  width: 1140px;;
  margin-left: 1px;

  th, td {
    padding: 2px;
    font-weight: 400;
    font-size: 0.625rem;
    border: 1px solid var(--grays-bg-600);
    box-sizing: border-box;
    text-align: center;
    width: 72px;
  }

  th:first-child, td:first-child{
    width: 29px;
    border: none;
  }

  th {
    text-transform: uppercase;
  }
}
