::ng-deep{

    app-tags-input-ids-table {

        .app-tags-input-ids-table {
            table {
                width: 100%;
                margin-top: 5px;
                thead {
                    background: #f1f1f1;
                }
                th {
                    padding: 5px 8px;
                    border-bottom: 1px solid #f1f1f1;
                }
                td{
                    padding: 5px 8px;
                    text-align: center;
                }
                a{
                    color: var(--button-bg-color);
                    cursor: pointer;
                }
                .invalid-ids {
                    color: var(--error-base);
                }
            }
        }
        
    }

}