<div class='c-container-line-item-list imx-new-theme'>
  <div fxLayout='row' fxLayoutAlign='start center' class='vlist-header-action' fxLayoutGap='18px'>
    <div fxFlex="90" class="export-options" fxLayoutAlign="start center" fxLayoutGap='1rem'>
      <div class="total-record" *ngIf='tablePagination?.total === tablePagination?.found'>Total: {{tablePagination?.total}}</div>
      <div class="total-record" *ngIf='tablePagination?.total !== tablePagination?.found'>Found : {{tablePagination?.found || 0}}</div>
      <div class="insertion-orders-list-table-headers__total-record spiner-div" *ngIf="isLoading">
        <mat-spinner diameter="20"></mat-spinner>
      </div>
    </div>
    <div fxFlex="10" fxLayoutAlign="end center">
      <div tooltip='Customize Columns' class="custom-column" placement='top' delay='200' tooltipClass='imx-tooltip-v3'
           customClass='imx-field-tooltip' *ngIf='!data?.fullScreenMode'>
        <mat-icon svgIcon='IMX-columns' class='svg-primary' (click)='customizeColumn()'></mat-icon>
      </div>
      <div *ngIf='!data?.fullScreenMode' tooltip='Expand Table' placement='top' delay='200' tooltipClass='imx-tooltip-v3'
           customClass='imx-field-tooltip'>
        <mat-icon (click)='enterFullScreen()'>zoom_out_map</mat-icon>
      </div>
      <div *ngIf='data?.fullScreenMode' tooltip="Collapse Table" placement="top" delay="200" tooltipClass="imx-tooltip-v3" customClass="imx-field-tooltip">
        <mat-icon svgIcon="IMX-fullscreen-exit" class="full-screen-exit-icon"  (click)='exitFullScreen()'></mat-icon>
      </div>
    </div>
  </div>

  <div>
    <div class="vlist-table-parent" [class.fullScreen] = "data?.fullScreenMode">
      <mat-table class='table-header-auto imx-table-striped' mat-table matSort matSortDisableClear
                 (matSortChange)='onSorting($event)'
                 matSortActive='{{sort?.active}}'
                 matSortDirection='{{sort?.direction}}'
                 [dataSource]='dataSource'
                 [matSortDisabled]="!tableData?.length">

        <ng-container matColumnDef='jobId' [sticky]="true">
          <mat-header-cell style='padding-left: 1.2rem !important;' class="job-id-td" [ngStyle]="{'left.px': 1 }" fxFlex='8.125rem' mat-sort-header class='first-column border-right--none' *matHeaderCellDef>
            Job ID #
          </mat-header-cell>
          <mat-cell style='padding-right: 0rem !important' id='first-column' fxFlex='8.125rem' mat-cell *matCellDef='let element' class='first-column' [ngStyle]="{'left.px': 1}">
            <a (click)='openJobDetails(element)' href='javascript:void(0)'
               class='table-link' >{{element.jobId}}</a></mat-cell>
        </ng-container>

        <ng-container matColumnDef='name'>
          <mat-header-cell fxFlex='17.75rem' mat-sort-header *matHeaderCellDef>Job Name</mat-header-cell>
          <mat-cell fxFlex='17.75rem' mat-cell *matCellDef='let element'> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef='clientName'>
          <mat-header-cell fxFlex='14rem' *matHeaderCellDef> Client Name</mat-header-cell>
          <mat-cell fxFlex='14rem' mat-cell *matCellDef='let element'> {{element?.client?.clientName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef='createdAt'>
          <mat-header-cell fxFlex='7.25rem' mat-sort-header *matHeaderCellDef> Date Created</mat-header-cell>
          <mat-cell fxFlex='7.25rem' mat-cell *matCellDef='let element'>
            <span [innerHTML]="(element.createdAt | dateAgo :'new') | lowercase"></span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='startDate'>
          <mat-header-cell fxFlex='6.1rem' mat-sort-header *matHeaderCellDef> Start Date</mat-header-cell>
          <mat-cell fxFlex='6.1rem' mat-cell *matCellDef='let element'>
            <span [innerHTML]="(element.startDate | date: 'MM/dd/yyyy')"></span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='jobTotal'>
          <mat-header-cell fxFlex='8.37rem' mat-sort-header *matHeaderCellDef> Job Total</mat-header-cell>
          <mat-cell fxFlex='8.37rem' mat-cell *matCellDef='let element'>
            $ {{(element.jobTotal || '0') | convert:'NUMERICALFORMAT':2:true:'0,0.00'}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='approved'>
          <mat-header-cell fxFlex='5.8125rem' *matHeaderCellDef>Approved</mat-header-cell>
          <mat-cell fxFlex='5.8125rem' class='jobs-checkpoints' mat-cell *matCellDef='let element'>
            <mat-icon class='jobs--approved' *ngIf='isApproved(element)' svgIcon='IMX-tick'></mat-icon>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='jobBilled'>
          <mat-header-cell fxFlex='5.93rem' *matHeaderCellDef>Job Billed</mat-header-cell>
          <mat-cell fxFlex='5.93rem' class='jobs-checkpoints' mat-cell *matCellDef='let element'>
            <mat-icon class='jobs--billed' *ngIf='isJobBilled(element)' svgIcon='IMX-tick'></mat-icon>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='cancelled'>
          <mat-header-cell fxFlex='5.93rem' *matHeaderCellDef> Cancelled</mat-header-cell>
          <mat-cell fxFlex='5.93rem' class='jobs-checkpoints' mat-cell *matCellDef='let element'>
            <mat-icon class='jobs--cancelled' *ngIf='isCancelled(element)' svgIcon='IMX-tick'></mat-icon>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef='updatedAt'>
          <mat-header-cell fxFlex='9.625rem' mat-sort-header *matHeaderCellDef> Last Modified</mat-header-cell>
          <mat-cell fxFlex='9.625rem' mat-cell *matCellDef='let element'>
            <span [innerHTML]="(element.updatedAt | dateAgo :'new') | lowercase"></span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action" [sticky]="true">
          <mat-header-cell *matHeaderCellDef fxFlex="2.5rem" class="action-menu-column-jobs" [ngStyle]="{'left.px': 209}">
          </mat-header-cell>
          <mat-cell *matCellDef="let element;let i = index" fxFlex="2.5rem" class="action-menu-column-jobs" [ngStyle]="{'left.px': 209}">
            <mat-icon [matMenuTriggerFor]="actionMenu" class="action-icon" [isAccessDenied]="(!userPermission?.delete && !userPermission?.create && !userPermission?.view)" visiblityType="menu" module="print_production" appUserAccessPermission>more_vert</mat-icon>
            <mat-menu #actionMenu="matMenu" xPosition="before" class="action-dropdown-imx minimun-height action-menu-position  action-dropdown-width table-action-position">
              <button [isAccessDenied]="!userPermission?.view" module="print_production" visiblityType="view" appUserAccessPermission mat-menu-item (click)="openPrinterAuthorizationPDF(element)">View Production Authorization</button>
              <button [isAccessDenied]="!userPermission?.view" module="print_production" visiblityType="view" appUserAccessPermission mat-menu-item (click)="viewJobInvoicePDF(element)">View Client Invoice</button>
              <button [isAccessDenied]="!userPermission?.create" module="print_production" visiblityType="create" appUserAccessPermission mat-menu-item (click)="duplicateItem.emit(element)">Duplicate</button>
              <button [isAccessDenied]="!userPermission?.delete" module="print_production" visiblityType="delete" appUserAccessPermission mat-menu-item (click)="deleteItem.emit(element)">Delete</button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef='customizeColumnService.displayedColumns;sticky: true'></mat-header-row>
        <mat-row *matRowDef='let row; let i = index; columns: customizeColumnService.displayedColumns;'></mat-row>

      </mat-table>
      <div fxLayout='row' fxLayoutAlign='center center' fxFill *ngIf='!tableData?.length && !isLoading' class='noDataFound'>
        <div>
          <p [innerHTML]="'No Items found with that Criteria. <br /> Try searching for something else.'"></p>
          <img src='../../../../assets/images/cuate.svg' alt=''>
        </div>
      </div>
    </div>



    <div class="vlist-pagination" [class.no-top-border]="!dataSource?.data?.length && isLoading" >
      <!-- <div class="spiner-div" *ngIf="isLoading">
        <mat-spinner diameter="30" ></mat-spinner>
      </div> -->
      <div>
        <mat-paginator
          [disabled]='!tableData?.length'
          (page)='getPageEvent($event)'
          [length]='tablePagination?.found || 0'
          [pageIndex]='(tablePagination?.page || 1) - 1'
          [pageSize]='tablePagination?.perPage'
          [pageSizeOptions]='paginationSizes'
          [showFirstLastButtons]='true'
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
