.modal-dialog{
  top:10%;
}
.modal-footer{
  border-top: none;
  margin-top: 50px;
}
mat-selection-list{
  max-height: 300px;
  overflow: auto;
}
mat-spinner{
  left: 50%;
  position: absolute;
}
.text-center{
  text-align: center;
}
.save-workspace-dialog-begin{
  padding: 20px;
  h4{
    margin-top: 0px;
  }
}

.place-loader>mat-spinner {
  margin: 10px auto;
}