<div class="forget-password-main-block">
<form  method="post" class="loginForm noAnimation Test" [formGroup]="resetForm" novalidate autocomplete="off" (ngSubmit)="resetPassword(resetForm.value)">
  <h5 mat-dialog-title>Reset Your Password</h5>
  <div mat-dialog-content>
    <span class="login-title-solgan">We'll email you instructions to reset your password. If you don't have access to your email anymore, contact <a href="mailto:geekout@geopath.org" id="login-title-link" class="forget-link">geekout@geopath.org</a></span>
    <mat-form-field floatLabel="always">
        <label>Email</label>
          <input matInput id="defaultForm-email" formControlName="email" autocomplete="off">
          <mat-error *ngIf="resetForm['controls'].email.hasError('required')">Email can't be blank</mat-error>
          <mat-error *ngIf="resetForm['controls'].email.hasError('email')">Should be valid email.</mat-error>                  
      </mat-form-field> 
  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
     <button mat-raised-button id="submit-button" type="submit" class="reset-btn button-primary uppercase">Reset Password</button>
     <button mat-button class="login-page-link forget-link" [mat-dialog-close]="true" >Return to login</button>
  </div>
</form>
</div>
