@import url(../../../assets/css/variables.less);
.forget-password-main-block{
  .mat-button-focus-overlay{
    background: unset !important;
  }
  padding: 20px;
  h5,span{
    color: var(--g-color);
  }
  .reset-btn{
    min-width: 170px;
  }
  mat-form-field{
    width: 80%;
    input{
      height: 30px;
      border-bottom: none;
      font-size: 17px;
      color: #383838;
    }
    input:focus{
      border-bottom: none;
      box-shadow: unset;
    }
    label{
      font-weight: normal;
      font-size: 17px;
      color: #383838;
    }
    &.mat-focused{
      label{
        color: var(--button-bg-color);
      }
    }
    mat-error{
      font-size: 13px;
    }
  }
  .forget-link{
    font-size: 14px;
    color: var(--button-bg-color);
  }
}
.mat-dialog-content{
  min-height: 140px;
}
@media @all-devices-under-768 {
  .forget-password-dialog{
    max-width: 90vw;
    .mat-dialog-container{
    padding: 5px;
    }
  }
  .forget-password-main-block{
    padding: 0px;
    mat-form-field{
      width: 100%;
    }
    .mat-dialog-content{
      min-height: 195px;
    }
    .mat-dialog-actions{
      flex-direction: column;
      button{
        width: 100%;
      }
    }
  }
}
