::ng-deep {
  app-add-agencies {
    width: 100%;
  }
  .add-agency-main {
    
    .add-agency-Header{
      h4{
        margin-bottom:10px;
        word-break: break-all;
        padding-right: 1rem;
      }
    }
    .add-agency-body{
      padding:0px 16px 16px 5px;
      overflow-y:auto;
      overflow-x:hidden;
    }
    .imx-button-secondary, .imx-button-primary{
      height:34px;
    }
    .add-agency-footer{    
      width: 80%;
      padding: 10px;
    }
  }
}
