
.subtitle-block {
    margin: 20px 0px 30px 0;
}
.previewing-sub-title {
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 25px;
    color: var(--grays-bg-700);
}
.last-generated {
    font-size: 14px;
    line-height: 18px;
    color: var(--grays-bg-800);
}
.separator {
    color: var(--grays-bg-400);
    height: 1px !important;
    margin: 0;

  &.mt-1{
    margin-top: 1rem;
  }
  &.mb-1{
    margin-bottom: 1rem;
  }
}

.report-line-block{
  padding-left: 2.313rem;
  padding-top: 1.813rem;
}
.c-invoice-container{

  &__report-block{
    height: calc(100vh - 34rem);
    overflow-y: auto;
    scrollbar-width: none; // for firefox
    padding-top: 1rem;
    margin-left: 1.625rem;
  }

  &__sub-title{
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.563rem;
    letter-spacing: 0.15px;
    color: var(--grays-bg-800);
    margin-top: .5rem;
  }

  ::-webkit-scrollbar {
    width: 0;
  }

  &__end-note{
    width: 31.063rem;
    margin-top: -2rem;
  }
}
