::ng-deep {
    app-validate-imported-data {
        .row-container {
            width: 100%;

            .close-icon {
                line-height: 13px;
                color: var(--low-emphasis);
            }
        }

        .header {
            padding: 10px;
            background: #F9F9F9;
        }

        .imx-button-primary {
            background: var(--primary-bg-800);
            box-shadow: 0px 2px 6px rgb(0 0 0 / 16%);
            color: #FFFFFF;
        }

        .actions {
            margin-top: 2rem;
        }
    }
}
