.audience{
    display:flex;
}
.radio-button{
    background-color: var(--grays-bg-300);
    height: 22px;
    width: 22px;
    border-radius: 50%;
    margin-left: 4px;
    margin-top: 12px;
    margin-bottom: 4px;
    animation-duration: 1s;
    animation-name: place;
    background: linear-gradient(30deg, rgba(221, 221, 221, 0.863) 0px, #ecebebf1 40px, rgba(221, 221, 221, 0.863) 80px);
    overflow: hidden;
    position: relative;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.checkbox-button{
    background-color: var(--grays-bg-300);
    height: 19px;
    width: 22px;
    border-radius: 2%;
    margin-left: 15px;
    margin-top: 13px;
    margin-bottom: 11px;
    animation-name: place;
    background: linear-gradient(30deg, rgba(221, 221, 221, 0.863) 0px, #ecebebf1 40px, rgba(221, 221, 221, 0.863) 80px);
    overflow: hidden;
    position: relative;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.audience-ghost{
    background-color: var( --grays-bg-300);
    border-radius: 4px 4px 4px 4px;
    width: 362px;
    animation-duration: 1s;
    animation-name: place;
    background: linear-gradient(90deg, rgba(204, 203, 203, 0.863) 0px,#ecebebf1 40px, rgba(204, 203, 203, 0.863) 70px);
    overflow: hidden;
    height: 15px;
    position: relative;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-left:19px;
    margin-top:15px;
}
.audience-ghost1{
    background-color: var( --grays-bg-300);
    border-radius: 4px 4px 4px 4px;
    width: 300px;
    animation-duration: 1s;
    animation-name: place;
    background: linear-gradient(90deg, rgba(204, 203, 203, 0.863) 0px,#ecebebf1 40px, rgba(204, 203, 203, 0.863) 70px);
    overflow: hidden;
    height: 15px;
    position: relative;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-left:19px;
    margin-top:15px;
}
.audience-ghost1{
    background-color: var( --grays-bg-300);
    border-radius: 4px 4px 4px 4px;
    width: 300px;
    animation-duration: 1s;
    animation-name: place;
    background: linear-gradient(90deg, rgba(204, 203, 203, 0.863) 0px,#ecebebf1 40px, rgba(204, 203, 203, 0.863) 70px);
    overflow: hidden;
    height: 15px;
    position: relative;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-left:19px;
    margin-top:15px;  
}
.audience-ghost2{
    background-color: var( --grays-bg-300);
    border-radius: 4px 4px 4px 4px;
    width: 320px;
    animation-duration: 1s;
    animation-name: place;
    background: linear-gradient(90deg, rgba(204, 203, 203, 0.863) 0px,#ecebebf1 40px, rgba(204, 203, 203, 0.863) 70px);
    overflow: hidden;
    height: 15px;
    position: relative;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-left:19px;
    margin-top:15px;
}
.audience-ghost3{
    background-color: var( --grays-bg-300);
    border-radius: 4px 4px 4px 4px;
    width:  348px;
    animation-duration: 1s;
    animation-name: place;
    background: linear-gradient(90deg, rgba(204, 203, 203, 0.863) 0px,#ecebebf1 40px, rgba(204, 203, 203, 0.863) 70px);
    overflow: hidden;
    height: 15px;
    position: relative;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-left:19px;
    margin-top:15px;
}
.audience-ghost4{
    background-color: var( --grays-bg-300);
    border-radius: 4px 4px 4px 4px;
    width: 280px;
    animation-duration: 1s;
    animation-name: place;
    background: linear-gradient(90deg, rgba(204, 203, 203, 0.863) 0px,#ecebebf1 40px, rgba(204, 203, 203, 0.863) 70px);
    overflow: hidden;
    height: 15px;
    position: relative;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-left:19px;
    margin-top:15px;
}
.audience-ghost5{
    background-color: var( --grays-bg-300);
    border-radius: 4px 4px 4px 4px;
    width: 340px;
    animation-duration: 1s;
    animation-name: place;
    background: linear-gradient(90deg, rgba(204, 203, 203, 0.863) 0px,#ecebebf1 40px, rgba(204, 203, 203, 0.863) 70px);
    overflow: hidden;
    height: 15px;
    position: relative;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-left:19px;
    margin-top:15px;
}
@keyframes place{
    0%   { background-position: -100px;}
    100% { background-position: 100px;}
   }
  