<div class="audience" fxLayout="column">
  <div fxLayout="row">
    <div [ngClass]="{'radio-button':selectionType === 'single','checkbox-button':selectionType !== 'single'}"></div>
    <div class="audience-ghost"></div>
  </div>
  <div fxLayout="row">
    <div [ngClass]="{'radio-button':selectionType === 'single','checkbox-button':selectionType !== 'single'}"></div>
    <div class="audience-ghost1"></div>
  </div>
  <div fxLayout="row">
    <div [ngClass]="{'radio-button':selectionType === 'single','checkbox-button':selectionType !== 'single'}"></div>
    <div class="audience-ghost2"></div>
  </div>
  <div fxLayout="row">
    <div [ngClass]="{'radio-button':selectionType === 'single','checkbox-button':selectionType !== 'single'}"></div>
    <div class="audience-ghost3"></div>
  </div>
  <div fxLayout="row">
    <div [ngClass]="{'radio-button':selectionType === 'single','checkbox-button':selectionType !== 'single'}"></div>
    <div class="audience-ghost4"></div>
  </div>
  <div fxLayout="row">
    <div [ngClass]="{'radio-button':selectionType === 'single','checkbox-button':selectionType !== 'single'}"></div>
    <div class="audience-ghost5"></div>
  </div>
</div>