@import "../../../assets/css/variables.less";
::ng-deep {
  app-places-statistic-popup {
    .placeStatisticSheetPopup {
      width: 1000px;
      .imx-pading-20{
        padding: 20px;
      }
      .imx-divider{
        padding: 0px 20px;
      }
      .popupHeader{
        padding: 20px 20px 0px 20px;
      }
      .alink{     
        color: var(--primary-bg);
        cursor: pointer;
        font-size: 12px;
      }
      h4 {
        margin: 5px 0px;
        font-size: 24px;
        color: var(--high-emphasis);
      }
      .subtitle-1 {
        margin-bottom: 10px;
      }
      .panel_nav {
        position: absolute;
        right: 10px;
        top: 18px;
        font-size: 18px;
        mat-icon {
          color: var(--text-primary);
        }
        .panel_nav_text {
          color: var(--g-color);
          margin-top: 2px;
        }
      }
      .placeDetailBlock {
        margin: 15px 0px;
        padding: 20px;
        overflow-y: auto;
        overflow-x: hidden;
        p{
          margin-bottom: 20px;
          font-size: 13px;	
          font-weight: 300;	
          letter-spacing: 0.17px;	
          line-height: 19px;
        }
        h5{
          font-size: 16px;	
          font-weight: bold;	
          letter-spacing: -0.3px;	
          line-height: 21px;
          margin-top: 0px !important;
          margin-bottom: 15px !important;
        }
        .number-h1{
          font-size: 36px;	
          font-weight: 300;	
          letter-spacing: -0.68px;	
          line-height: 36px;
          mat-icon{
            top: -7px;
            left: 5px;
            color: var(--primary-bg);
            position: relative;
          }
        }
        .place-image{
          img{
            max-width: 200px;
          }
        }
        .imx-mt-10{
          margin-top: 10px !important;
        }
        .block{
          margin: 0px 15px;
        }
        .block-1{
          min-width: 255px;
          max-width: 255px;
          margin: 0px 15px 10px 0px;
        }
        .imx-rm-15{
          margin-right: 15px;
        }
        .div-w-130{
          min-width: 130px;
          max-width: 130px;
        }
        .div-w-185{
          min-width: 185px;
          max-width: 185px;
        }
        .div-w-200{
          min-width: 200px;
          max-width: 200px;
        }
        table{
          td{
            width: 50px;
          }
        }
      }
      .surface {
        height: 120px;
        width: 185px;
      }
      .placeDetailList {
        padding-left: 20px;
        ul {
          list-style: none;
          margin: 0px;
          padding: 0;
          li {
            margin-bottom: 10px;
          }
        }
      }
      .popupActionBlock {
        margin-top: 15px;
        padding: 0px 20px 20px;
      }
      .btn-primary-color {
        font-size: 12px;
        padding: 0px 10px;
        margin-left: 10px;
        line-height: 0;
        .mat-icon {
          font-size: 20px;
          margin-top: 2px;
        }
      }
      .primaryBtn {
        background: var(--primary-bg);
        color: var(--text-whites);
      }
      .selectYearDD {
        margin: 15px 0px 0px 10px;
        .mat-form-field-label {
          font-size: 14px;
          color: var(--high-emphasis);
        }
      }
      .posRel {
        position: relative;
      }
      .sampleData {
        position: absolute;
        height: 100%;
        width: 100%;
        color: rgba(0, 0, 0, 0.87);
        font-size: 30px;
        font-weight: bold;
        letter-spacing: -0.49px;
        line-height: 33px;
        text-align: center;
        background: rgba(265,265,265, 0.50);
          span {
            transform: rotate(-26deg);
            display: block;
            margin-top: 40px;
            opacity: 0.6;
          }
        }
    }
  }
}
