
::ng-deep {
  app-save-as-file {
    .imx-project-form {
      .mat-form-field {
        width: 100%;

        .mat-input-element {
          font-size: 13px;
          line-height: 16px;
          letter-spacing: 0.5px;
          color: vat(--grays-bg-800);
        }
      }
    }
  }
}
