.alert-action-button{
  place-content: flex-end;
  display: flex;
  margin: 10px;
  button{
    margin-left: 10px;
    font-weight: bold;
    color: var(--medium-emphasis);
    text-transform: uppercase;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(17, 14, 14, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .primary-btn{
    background: var(--primary-bg);
    color: #fff;
  }
}
mat-form-field {
  margin: 10px 0;
}
.main-create-new-alert {
  height: calc(~"100vh - 130px");
  overflow-x: hidden;
  overflow-y: auto;
}

.imx-input-no-border{
  height:auto;
  border: none;
}

mat-spinner {
  margin: 10px auto;
}
