::ng-deep {
  app-time-stamp {
    p {
      margin: 0;
      &.title {
        color: var(--grays-bg-600) !important;
        font-size: 10px !important;;
      }
      &.info {
        font-size: 13px !important;
        color: var(--grays-bg-800) !important;
      }
    }
  }
}
