::ng-deep{
  .save-audience-dialog-box{
    .save-audience-dialog
    {
      margin: 0px;
      width: 100%;
      padding: 10px 24px 0 24px;
    }
    .audience-title{
      font-size: 18px;
    }
    .mat-dialog-actions{
      position: relative !important;
      top: 0 !important;
      right: 0 !important;
      padding: 20px;
      .audience-dialog-cancel-btn {
        background: unset !important;
      }
    }
  }

}