<form class="c-client-accounting" [formGroup]="clientAccountingForm" #clientAccountingFormRef="ngForm">
  <section fxLayout="row wrap" fxHide fxLayoutGap="1rem" fxLayoutAlign="start center">
    <mat-form-field fxFlex="19.563rem" class="imx-input">
      <mat-label>Client Name</mat-label>
      <input formControlName="clientName" matInput autocomplete="off" readonly/>

      <mat-error *ngIf="clientAccountingForm.controls['clientName']?.errors?.required">Client Name is required.
      </mat-error>
      <mat-error
        *ngIf="!clientAccountingForm.controls['clientName']?.errors?.required && clientAccountingForm.controls['clientName']?.errors?.whitespace">
        <span>Invalid Client name.</span>
      </mat-error>
    </mat-form-field>
  </section>

  <section fxLayout="row wrap" fxLayoutGap="1rem" fxLayoutAlign="start center">
    <mat-form-field class="imx-input imx-dropdown" fxFlex="8.938rem">
      <mat-label>Accounting Dept</mat-label>
      <mat-select
        formControlName="accountingDept"
        [panelClass]="'imx-select'"
        [class.placeholder-default]="clientAccountingForm['controls'].accountingDept.value==''">
        <mat-option *ngIf="accountingDepts?.length" [value]="null">Select Accounting Dept</mat-option>
        <mat-option *ngFor="let accountingDept of accountingDepts"
                    [value]="accountingDept?._id">{{accountingDept.name}}</mat-option>
        <mat-option disabled *ngIf="accountingDepts?.length <= 0">
          No Records Found.
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="imx-input imx-dropdown" fxFlex="8.938rem">
      <mat-label>File/System ID</mat-label>
      <mat-select
        formControlName="fileSystemId"
        [panelClass]="'imx-select'"
        [class.placeholder-default]="clientAccountingForm['controls'].fileSystemId.value==''">
        <mat-option *ngIf="fileSystems?.length" [value]="null">Select File/System ID</mat-option>
        <mat-option *ngFor="let item of fileSystems" [value]="item?._id">{{item.name}}</mat-option>
        <mat-option disabled *ngIf="fileSystems?.length <= 0">
          No Records Found.
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="imx-input imx-dropdown" fxFlex="8.938rem">
      <mat-label>PUB ID Type</mat-label>
      <mat-select
        formControlName="pubIdType"
        [panelClass]="'imx-select'"
        [class.placeholder-default]="clientAccountingForm['controls'].pubIdType.value==''">
        <mat-option *ngIf="pubIdTypes?.length" [value]="null">Select PUB ID Type</mat-option>
        <mat-option *ngFor="let pubIdType of pubIdTypes" [value]="pubIdType?._id">{{pubIdType.name}}</mat-option>
        <mat-option disabled *ngIf="pubIdTypes?.length <= 0">
          No Records Found.
        </mat-option>
      </mat-select>
    </mat-form-field>
  </section>

  <section fxLayout="row wrap" fxLayoutGap="1rem" fxLayoutAlign="start center">
    <mat-form-field class="imx-input imx-dropdown" fxFlex="8.938rem" tooltip="{{invoiceFormatTooltipText?.length > 10 ? invoiceFormatTooltipText : ''}}" placement="right" delay="200" tooltipClass="imx-tooltip-v3" customClass="imx-field-tooltip">
      <mat-label>Invoice Format</mat-label>
      <mat-select
        #invoiceFormatRef (selectionChange)="getInvoiceFormatText()"
        formControlName="invoiceFormat"
        [panelClass]="'imx-select'"
        [class.placeholder-default]="clientAccountingForm['controls'].invoiceFormat.value==''">
        <mat-option *ngIf="invoiceFormats?.length" [value]="null">Select Invoice Format</mat-option>
        <mat-option *ngFor="let invoiceFormat of invoiceFormats"
                    [value]="invoiceFormat?._id">{{invoiceFormat.name}}</mat-option>
        <mat-option disabled *ngIf="invoiceFormats?.length <= 0">
          No Records Found.
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="imx-input imx-dropdown" fxFlex="8.938rem" tooltip="{{invoiceDeliveryTooltipText?.length > 10 ? invoiceDeliveryTooltipText : ''}}" placement="right" delay="200" tooltipClass="imx-tooltip-v3" customClass="imx-field-tooltip">
      <mat-label>Invoice Delivery</mat-label>
      <mat-select
        #invoiceDeliveryRef (selectionChange)="getInvoiceDeliveryText()"
        formControlName="invoiceDelivery"
        [panelClass]="'imx-select'"
        [class.placeholder-default]="clientAccountingForm['controls'].invoiceDelivery.value==''">
        <mat-option *ngIf="invoiceDeliveries?.length" [value]="null">Select Invoice Delivery</mat-option>
        <mat-option *ngFor="let invoiceDelivery of invoiceDeliveries"
                    [value]="invoiceDelivery?._id">{{invoiceDelivery.name}}</mat-option>
        <mat-option disabled *ngIf="invoiceDeliveries.length <= 0">
          No Records Found.
        </mat-option>
      </mat-select>
    </mat-form-field>
  </section>

  <section fxLayout="row wrap" fxLayoutGap="1rem" fxLayoutAlign="start center">
    <div fxLayout="row" class="range-slide-toggle" fxLayoutAlign="start center">
      <label> Upload Cost Type <span class="ml-4px mr1-rem"  [class.is-active]="!isGross"> NET</span></label>
      <mat-slide-toggle #uploadCostRef formControlName="uploadCostType"
                        [checked]="isGross"
                        (change)="setUploadCostTypeValue($event)"><span
        [class.is-active]="isGross">GROSS</span></mat-slide-toggle>
    </div>
  </section>

  <section class="client-code-block" fxLayout="row wrap" fxLayoutGap="1rem" fxLayoutAlign="start center">
    <div fxLayout="row" class="range-slide-toggle" fxFlex="20rem" fxLayoutAlign="start center">
      <label> Client-Required Billing Reference <span class="mr1-rem ml-4px" [class.is-active]="!clientAccountingForm.controls.clientCodeRequired.value"> YES</span></label>
      <mat-slide-toggle formControlName="clientCodeRequired"><span
        [class.is-active]="clientAccountingForm.controls.clientCodeRequired.value">NO</span>
      </mat-slide-toggle>
    </div>

    <mat-form-field fxFlex="21.5rem" class="imx-input">
      <mat-label>Client Billing References</mat-label>
      <input formControlName="clientCode" matInput autocomplete="off"/>
      <mat-error>
        <span>Invalid Client Billing References.</span>
      </mat-error>
    </mat-form-field>
  </section>

  <section fxLayout="row wrap" fxLayoutGap="1rem" fxLayoutAlign="start start">

    <mat-form-field *ngIf="clientAccountingForm['controls'].billingCompany as billingCompanyField" class="imx-dropdown imx-input details-mat-form-field" fxFlex="8.398rem"  tooltip="{{clientAccountingForm['controls'].billingCompany.value?.name ?.length>10 ? clientAccountingForm['controls'].billingCompany.value?.name : ''}}" placement="top" delay="200" tooltipClass="imx-tooltip-v3" customClass="imx-field-tooltip">
      <mat-label>Billing Company</mat-label>
      <input
        type="text"
        #companyInputRef
        (click)="openBillingCompanyAutoComplete()"
        matInput
        [matAutocomplete]="companiesList"
        formControlName="billingCompany"
        class="imx-input-no-border"
      />
      <mat-icon svgIcon='IMX-new-tab-link' class="svg-primary mat-link-icon"
                [class.disabled]="!clientAccountingForm.controls.billingCompany.value?._id"
                (click)="$event.stopPropagation();tabLinkHandler(billingCompanyField.value?.organizationType, billingCompanyField.value?.organizationTypeId)" matSuffix></mat-icon>
      <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      <mat-autocomplete
        #companiesList="matAutocomplete"
        (opened)="updateCompanyContainer()"
        class="autocomplete-scroll imx-autocomplete-dropdown"
        panelWidth="230px"
        [displayWith]="companyDisplayWithFn"
        (optionSelected)="onCompanySelection($event)"
      >

        <div  class="company-list-autocomplete"
              infiniteScroll
              [infiniteScrollDistance]="1"
              [infiniteScrollThrottle]="0"
              [scrollWindow]="false"
              [fromRoot]="true"
              [immediateCheck]="false"
              [alwaysCallback]="false"
              [infiniteScrollDisabled]="billingCompanyAutoComplete.data?.length >= billingCompanyAutoComplete?.pagination?.total"
              [infiniteScrollContainer]="panelCompanyContainer"
              (scrolled)="loadMoreBillingCompanies()">
        <mat-option [value]="null" class="hide-selected-tick">Select Billing Company</mat-option>
        <mat-option *ngFor="let company of billingCompanyAutoComplete.data;trackBy: companyTrackByFn"
                    [class.mat-selected]="selectedBillingCompany?._id == company._id"
                    [value]="company"
                    tooltip="{{company.name?.length >10 ? company.name : ''}}" placement="top" delay="200" tooltipClass="imx-tooltip-v3" customClass="imx-field-tooltip">
          <span [innerHTML]="company.name | imx_highlight: companyInputRef.value"></span>
        </mat-option>

        <mat-option disabled *ngIf="billingCompanyAutoComplete.isLoading ">
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <mat-spinner diameter="20"></mat-spinner>
          </div>
        </mat-option>

        <mat-option disabled
                    *ngIf="!billingCompanyAutoComplete.isLoading  && billingCompanyAutoComplete.data?.length <= 0">
          Invalid Entry.
        </mat-option>
        </div>
      </mat-autocomplete>
      <mat-error  *ngIf="clientAccountingForm['controls'].billingCompany.hasError('invalid')">
        Please select from the drop down list.
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="clientAccountingForm['controls'].billingContact as billingContactField" class="imx-input imx-dropdown details-mat-form-field client-form__select" fxFlex="9.398rem">
      <mat-label>Billing Contact</mat-label>

      <mat-icon svgIcon='IMX-new-tab-link' class="svg-primary mat-link-icon for-mat-select"
                [class.disabled]="!clientAccountingForm.controls.billingContact.value"
                (click)="$event.stopPropagation();tabLinkHandler('Contact', billingContactField.value)" matSuffix></mat-icon>

      <mat-select #billingContactRef (selectionChange)="getBillingContactText()" [panelClass]="contactPanelClass" formControlName="billingContact"
                  [class.placeholder-default]="clientAccountingForm['controls'].billingContact.value==''"
                  tooltip="{{ isBillingCompanySelected && billingContactTooltipText?.length > 10 ? billingContactTooltipText : ''}}" placement="right" delay="200" tooltipClass="imx-tooltip-v3" customClass="imx-field-tooltip"
                  >

        <div class="mat-select-panel__wrapper" infiniteScroll
             (scrolled)="billingContactsProvider.loadMoreData(null,null)"
             [scrollWindow]="false"
             [infiniteScrollDistance]="1"
             [infiniteScrollThrottle]="0"
             [fromRoot]="true">

        <mat-option *ngIf="isBillingCompanySelected" (click)="createContact();billingContactRef.close()" class="divider-option" disabled><mat-icon>add</mat-icon> Create Contact</mat-option>
        <mat-option *ngIf="!billingContactsProvider.isLoading && billingContactsProvider?.data?.length" [value]="null">Select Billing Contact</mat-option>
        <mat-option *ngFor="let contact of billingContactsProvider.data"
                    [value]="contact?._id"
                    (onSelectionChange)="selectBillingContact($event, contact)"
                    tooltip="{{contact['firstName']}} {{contact['lastName']}}" placement="top" delay="200" tooltipClass="imx-tooltip-v3" customClass="imx-field-tooltip">
          {{contact['firstName']}} {{contact['lastName']}}
        </mat-option>
        <mat-option disabled *ngIf="billingContactsProvider.isLoading">
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <mat-spinner diameter="20"></mat-spinner>
          </div>
        </mat-option>
        <mat-option disabled *ngIf="!billingContactsProvider.isLoading && billingContactsProvider.data?.length <=0 && !isBillingCompanySelected" class="primary-color">
          Please select Billing Company first
        </mat-option>
        <mat-option disabled *ngIf="!billingContactsProvider.isLoading && billingContactsProvider.data?.length <=0 && isBillingCompanySelected">
          No Records Found.
        </mat-option>
        </div>
      </mat-select>
    </mat-form-field>

     <!-- <mat-form-field fxFlex="21.5rem" class="imx-input">
      <mat-label>Billing Notes</mat-label>
      <input formControlName="billingNotes" matInput autocomplete="off"/>
      <mat-error>
        <span>Invalid Billing Notes.</span>
      </mat-error>
    </mat-form-field> -->
    <!-- <div class="accounting-note">
      <app-notes moduleName="clientAccounting" [noteParentId$]="clientAccountNoteId$" placeholder="Billing Notes"></app-notes>
    </div> -->


  </section>

  <!-- need to build organisation block ui should be reusable -->
  <section>

    <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="1rem">
      <!-- Organization card view -->
       <app-organiazation-view [company]="selectedBillingContact" [style.display]="selectedBillingContact?'block':'none'"></app-organiazation-view>

       <!-- Note card view -->
      <div class="accounting-note">
      <app-notes moduleName="clientAccounting" [noteParentId$]="clientAccountNoteId$" placeholder="Billing Notes"  [visiblityModule]="'client_accounting'" [disableEdit]="disableEdit"></app-notes>
      </div>
    </div>
  </section>

  <section fxLayout="row wrap" fxLayoutGap="1rem" fxLayoutAlign="start start">

    <mat-form-field *ngIf="clientAccountingForm['controls'].vendorPayableCompany as vendorPayableCompanyField" class="imx-dropdown details-mat-form-field imx-input" fxFlex="11.125rem"  tooltip="{{clientAccountingForm['controls'].vendorPayableCompany.value?.name ?.length>10 ? clientAccountingForm['controls'].vendorPayableCompany.value?.name : ''}}" placement="top" delay="200" tooltipClass="imx-tooltip-v3" customClass="imx-field-tooltip">
      <mat-label>Vendor Payable Company</mat-label>
      <input
        type="text"
        #vendorInputRef
        (click)="openVendorCompanyAutoComplete()"
        matInput
        [matAutocomplete]="vendorsList"
        formControlName="vendorPayableCompany"
        class="imx-input-no-border"
        #trigger="matAutocompleteTrigger" [autocompletePosition]="trigger" [scrollContainer]="accountTabSelectId" (click)="trigger.openPanel()"
      />
      <mat-icon svgIcon='IMX-new-tab-link' class="svg-primary mat-link-icon"
                [class.disabled]="!clientAccountingForm.controls.vendorPayableCompany.value?._id"
                (click)="$event.stopPropagation();tabLinkHandler(vendorPayableCompanyField.value?.organizationType, vendorPayableCompanyField.value?.organizationTypeId)" matSuffix></mat-icon>
      <mat-icon matSuffix>keyboard_arrow_down</mat-icon>

      <mat-autocomplete
        #vendorsList="matAutocomplete"
        (opened)="updateVendorCompanyContainer()"
        class="vendor-company-list-autocomplete imx-autocomplete-dropdown"
        infiniteScroll
        [infiniteScrollDistance]="1"
        [infiniteScrollThrottle]="0"
        [infiniteScrollDisabled]="vendorCompanyAutoComplete.data?.length >= vendorCompanyAutoComplete?.pagination?.total"
        (scrolled)="loadMoreVendorCompanies()"
        [scrollWindow]="false"
        [infiniteScrollContainer]="panelVendorCompanyContainer"
        [fromRoot]="true"
        panelWidth="230px"
        [displayWith]="companyDisplayWithFn"
        (optionSelected)="onVendorCompanySelection($event)"
      >
        <mat-option [value]="null" class="hide-selected-tick" tooltip="Select Vendor Payable Company" placement="top" delay="200" tooltipClass="imx-tooltip-v3" customClass="imx-field-tooltip">Select Vendor Payable Company</mat-option>
        <mat-option *ngFor="let company of vendorCompanyAutoComplete.data;trackBy: companyTrackByFn"
                    [class.mat-selected]="selectedVendorCompany?._id == company._id"
                    [value]="company"
                    tooltip="{{company.name?.length >10 ? company.name : ''}}" placement="top" delay="200" tooltipClass="imx-tooltip-v3" customClass="imx-field-tooltip">
          <span [innerHTML]="company.name | imx_highlight: vendorInputRef.value"></span>
        </mat-option>

        <mat-option disabled *ngIf="vendorCompanyAutoComplete.isLoading ">
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <mat-spinner diameter="20"></mat-spinner>
          </div>
        </mat-option>

        <mat-option disabled
                    *ngIf="!vendorCompanyAutoComplete.isLoading  && vendorCompanyAutoComplete.data?.length <= 0">
          Invalid Entry.
        </mat-option>
      </mat-autocomplete>
      <mat-error  *ngIf="clientAccountingForm['controls'].vendorPayableCompany.hasError('invalid')">
        Please select from the drop down list.
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="clientAccountingForm['controls'].vendorPayableContact as vendorContactField" class="imx-input imx-dropdown details-mat-form-field client-form__select" fxFlex="11.125rem">
      <mat-label>Vendor Payable Contact</mat-label>
      <mat-icon svgIcon='IMX-new-tab-link' class="svg-primary mat-link-icon for-mat-select"
                [class.disabled]="!clientAccountingForm.controls.vendorPayableContact.value"
                (click)="$event.stopPropagation();tabLinkHandler('Contact', vendorContactField.value)" matSuffix></mat-icon>

      <mat-select #vendorContactRef (selectionChange)="getVendorContactText()" [panelClass]="contactPanelClass" formControlName="vendorPayableContact"
                  [class.placeholder-default]="clientAccountingForm['controls'].vendorPayableContact.value==''"
                  tooltip="{{isVendorCompanySelected && vendorContactTooltipText?.length > 10 ? vendorContactTooltipText : ''}}" placement="right" delay="200" tooltipClass="imx-tooltip-v3" customClass="imx-field-tooltip"
                 >
        <div class="mat-select-panel__wrapper" infiniteScroll
             (scrolled)="vendorContactsProvider.loadMoreData(null,null)"
             [scrollWindow]="false"
             [infiniteScrollDistance]="1"
             [infiniteScrollThrottle]="0"
             [fromRoot]="true">
        <mat-option *ngIf="isVendorCompanySelected" (click)="createContact('vendor');vendorContactRef.close()" class="divider-option" disabled> <mat-icon>add</mat-icon> Create Contact</mat-option>
        <mat-option *ngIf="!vendorContactsProvider.isLoading && vendorContactsProvider?.data?.length" [value]="null">Select Vendor Payable Contact</mat-option>
        <mat-option *ngFor="let contact of vendorContactsProvider.data"
                    [value]="contact?._id"
                    (onSelectionChange)="selectVendorContact($event, contact)"
                    tooltip="{{contact['firstName']}} {{contact['lastName']}}" placement="top" delay="200" tooltipClass="imx-tooltip-v3" customClass="imx-field-tooltip">
            {{contact['firstName'] }} {{contact['lastName']}}
        </mat-option>
        <mat-option disabled *ngIf="vendorContactsProvider.isLoading">
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <mat-spinner diameter="20"></mat-spinner>
          </div>
        </mat-option>
        <mat-option disabled *ngIf="!vendorContactsProvider.isLoading && vendorContactsProvider.data?.length <=0 && !isVendorCompanySelected" class="primary-color">
          Please select Vendor Payable Company first
        </mat-option>
        <mat-option disabled *ngIf="!vendorContactsProvider.isLoading && vendorContactsProvider.data?.length <=0 && isVendorCompanySelected">
          No Records Found.
        </mat-option>
        </div>
      </mat-select>
    </mat-form-field>

  </section>
  <section  [style.display]="selectedVendorContact?'block':'none'">
    <app-organiazation-view [company]="selectedVendorContact"></app-organiazation-view>
  </section>
</form>
