.save-workspace-dialog
{
  margin: 0px;
  width: 500px;
  padding: 0px;
  max-height: none;
  .modal-body
  {
    padding: 40px 40px 0px 40px;

  }
  .modal-footer
  {
    padding: 10px 40px 10px 40px;
    display: flex;
    place-content: flex-end;
    border-top: 1px solid #e5e5e5;
    .cancel-link
    {
      color: var(--text-primary) !important;
      font-size: 15px;
      font-weight: bold;
      padding: 10px;
      text-decoration: none;
    }
    .geo-button
    {
      margin-right: 0;
    }
  }
  h5
  {
    font-size: 20px;
    color:var(--g-color);
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 25px;
    margin-top: 0px;
  }
  .md-form:first-child
  {
    margin-top: 15px;
  }
  .md-form
  {
    margin-bottom: 15px;
    input
    {
      font-size: 18px;
      padding: 10px;
      width: 100%;
      border-radius: 2px;
      border: 1px solid #bdbdbd;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
    }
    textarea
    {
      font-size: 18px;
      padding: 10px;
      border-radius: 2px;
      border: 1px solid #bdbdbd;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
      resize: none;
      width: 100%;
    }
  }
}
