.c-line-item-description{
  border: 1px solid #101010;
  padding: 8px 8px 4px;
  border-radius: 5px;
  width: 1107px;

   &__header{
     font-size: 0.75rem;
     line-height: 0.938rem;
     letter-spacing: 0.4px;
     color: var(--grays-bg-800);
   }

  &__body{
    font-size: 0.75rem;
    line-height: 13px;
    letter-spacing: 0.6px;
    margin-top: 0.875rem;
    color: #101010;

    &_title{
      text-align: left;
      text-transform: uppercase;

      > th{
        font-size: 9px;
        font-weight: 400;
      }
    }
  }

  .c-line-item-table{

    td{
      padding: 0;
    }

    &__market{
      width: 6.313rem;
    }

    &__vendor{
      width: 10.75rem;
    }

    &__media-type{
      width: 7.313rem;
    }

    &__sales-tax{
      width: 3.5rem;
    }

    &__unit-size{
      width: 3.25rem;
    }

    &__unit-period{
      width: 4.438rem;
    }

    &__term-period{
      width: 5.625rem;
    }

    &__unit-id{
      width: 6.375rem;
    }

    &__media-location{
      width: 18.563rem;
    }
  }
}


