@import "/src/assets/mixins/mixin-sticky-column-left-fix.less";
.atable-container {
  position: relative;
}
.agencies-list-main {
  padding-right:2rem;
  .agency-search-btn {
    margin-left:1rem;
  }
  .agency-table-scroll{
    width:calc(100vw - 230px);
    overflow:auto;
    background: #ffffff;
  }
  .alist-header{
    width:100%;
  }
  .alist-body{
    margin-top: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .noDataFound{
    width: 100%;
    background: #fff;
    margin:.25rem 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
      font-size: 1.75rem;
      line-height: 2.313rem;
      font-weight:400;
      text-align: left;
      color: var(--grays-bg-800);
    }
    img{
      height:100%;
    }
  }
  .alist-pagination{
    position: relative;
    min-height: 48px;
    max-height: 48px;
    border-top: 1px solid;
    border-color: var(--grays-bg-400);
    .spiner-div{
    position: absolute;
    align-items: center;
    display: flex;
    place-content: center;
    width: 100%;
    top: 12px;
    }

  }
  .optional-option{
    color: var(--low-emphasis);
  }
}

::ng-deep{

  .agencies-list-dialog-fullscreen {
    max-width: 90vw !important;
    .mat-dialog-container {
      padding: 0px;
      overflow: hidden;
    }
    .agencies-list-main {
      padding: 0px;
    }
    .agency-table-scroll {
      width: auto;
      min-width: 100%;
      min-height: calc(80vh - 56px) !important;
      max-height: calc(80vh - 56px) !important;
    }
    .alist-body {
      margin-top: 0px !important;
    }
    .alist-header-action {
      padding: 0.5rem 1rem;
    }
    .mat-sort-header-content {
      border-bottom: none !important;
    }
    .full-screen-exit-icon{
      padding: 3px;
      border-radius: 4px;
      path, line {
        stroke: var(--white-color);
      }
      background-color: var(--primary-bg);
    }
    .noDataFound{
      min-height: calc(80vh - 160px) !important;
    }
  }
  app-agencies-list {
    .mat-sort-header-sorted .mat-sort-header-arrow {
      opacity: 1 !important;
      transform: translateY(0%) !important;
    }
    margin-top: -22px;
    .search-by-name:not(.mat-form-field-should-float) {
      .mat-form-field-label {
        text-transform: none !important;
      }
    }
  }
  app-agencies-list {
    .imx-input-no-border{
      height:auto;
      border: none;
    }
    .agency-table-scroll{
      width: calc(100vw - 230px);
      max-width: 100%;
      overflow: auto;
      min-width: -webkit-fill-available;
      .mat-column-action{
        .action-btn-main{
          position: absolute;
          .action-btn{
            top: -12px;
            position: absolute;
            right: -15px;
          }
        }

      }
    }
    .mat-paginator {
      .mat-paginator-container{
        height: 48px;
        min-height: 48px;
        max-height: 48px;
      }
      .mat-paginator-page-size{
        max-height: 48px;
        align-items: center;
      }
      .mat-paginator-range-actions {
        min-height: 48px;
        max-height: 48px;
      }
      .mat-paginator-page-size-select {
        .mat-form-field-underline {
          display: none;
        }
        .mat-form-field-infix {
          border: 1px solid var(--grays-bg-600);
          border-radius: 5px;
          padding: 5px;
          margin-top: 10px;
        }
      }
      .mat-paginator-range-actions{
        .mat-paginator-range-label{
          display: none;
        }
      }
    }
    .mat-table{
      max-width: inherit;
      min-width: fit-content;
      mat-row{
        border: none;
        mat-cell{
          word-break: break-all;
          &.mat-table-sticky{
            z-index: 0 !important;
          }
        }
      }
      mat-cell, mat-header-cell {
        .mixin-sticky-column-left-fix(340px);
      }
    }
    /*.action-btn-main{
      position: absolute;
      z-index: 1;
    }*/
    .center-contant{
      place-content: center;
    }
    width: 100%;
    .svg-primary{
      path, line {
        stroke: var(--primary-bg);
      }
    }

    .alist-header-action{
      width:100%;
      background: #ffffff;
      padding: 5px 20px;
      // border-bottom: 1px solid;
      // border-color: var(--grays-bg-400);
      mat-icon{
        color:var(--primary-bg);
        cursor: pointer;
        &.tune-icon{
          transform: rotate(90deg);
        }
      }
      .total-record{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: var(--grays-bg-700);
      }
    }
    mat-header-cell{
      &.mat-column-state{
        .mat-sort-header-sorted{
          display: flex;
          .mat-sort-header-content{
            order:2;
          }
          .mat-sort-header-arrow{
            display:flex;
            order:1;
            position:relative;
            margin-right: 5px !important;
          }
        }
        .mat-sort-header-arrow{
          left: inherit !important;
          margin-left: -15px !important;
        }
        place-content:center;
      }  
    }
  }
  .placeholder-default{
    .mat-select-value-text{
      color: var(--low-emphasis);
    }
  }
  .agency-list-delete-dialog{
    h3,.modal-description{
      word-break: break-word;
    }
  }
  .autocomplete-scroll {
    .users-list-autocomplete{
      max-height: 14.375rem;
      overflow-y: auto;
    }

    &.mat-autocomplete-panel{
      overflow-y: hidden !important;
      padding-right: 0 !important;
    }
  }
}
