.inventory-plan{
  .expanded{
    max-height: 100%;
    transition: max-height 225ms cubic-bezier(0.4, 0.0, 0.2, 1);
  }

  .collapsed{
    max-height: 0;
    padding-bottom: 0 !important;
    transition: max-height 225ms cubic-bezier(0.4, 0.0, 0.2, 1);
  }

  .plan-header-action{
    background: #ffffff;
    padding: 15px;
    // border-bottom: 1px solid;
    border-color: var(--grays-bg-400);
    mat-icon{
      color:var(--primary-bg);
      cursor: pointer;
      &.tune-icon{
        transform: rotate(90deg);
      }
    }
    .total-record{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: var(--grays-bg-700);
    }
  }
  .inventory-plan-table-main{

    padding-bottom:10px;
    .plan-table-list{
      min-width:100%;
      overflow-x: auto;
      overflow-y: auto;
      max-height: calc(~"100vh - 375px");
    }
    .outer-plan-main{
      background: var(--grays-bg-100);
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      min-width: 100%;
    }
    .plan-table{
     width: 100%;
     min-width: inherit;
    }
  }
  .detail-row{
    min-height: 0px;
  }
  .element-detail {
    overflow: hidden;
    width: 100%;
  }
  .expanted-icon {
    cursor: pointer;
    color:var(--primary-bg);
  }
  .plan-generate-link{
    padding: 10px;
    color: var(--grays-bg-700);
    background: var(--grays-bg-100);
    width: 85vw;
    // box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    a{
      cursor: pointer;
      color:var(--primary-bg);
      margin:0 10px;
    }
  }
}

::ng-deep{
  app-inventory-plan{
    .mat-sort-header-sorted .mat-sort-header-arrow {
      opacity: 1 !important;
      transform: translateY(0%) !important;
    }
    .svg-primary{
      path, line {
        stroke: var(--primary-bg);
      }
    }
    .mat-header-cell{
      &.mat-column-action{
        .mat-sort-header-container{
          display:none;
        }
      }
      &.mat-column-checked{
        .mat-checkbox{
          margin-right:4px;
        }
      }
    }


    .inventory-list-action{
      a{
        background: var(--grays-bg-700);
        border-radius: 5px;
        padding:5px;
        color: #ffffff;
        display: flex;
        place-content: center;
        align-items: center;
        cursor: default;
        &.enable-inventory-set{
          background: var(--primary-bg-800);
          cursor: pointer;
        }
        mat-icon{
          font-size: 14px;
          width: 14px;
          height: 14px;
          line-height: 14px;
        }
      }
    }
    .plan-table{
      .mat-header-row{
        z-index: 2 !important;
      }
      /*mat-row{
        mat-cell{
          &:first-child{
            padding-left:15px !important;
          }
          font-size: 13px;
          line-height: 16px;
          letter-spacing: 0.5px;
          color: var(--grays-bg-700);
          .primary-tex-color{
            color: var(--primary-bg);
          }
          .element-detail{
            padding-bottom: 10px;
          }
        }
      }*/
      .mat-sort-header-content{
        text-transform: unset !important;
      }
    }
    .mat-column-expandedDetail{
      position:responsive;
      .mat-sort-header-content {
        text-align: left;
        text-transform: uppercase !important;
        font-size:10px !important;
      }
    }
    .module-disable{
      opacity: 0.6 !important;
      pointer-events: none;
      cursor: not-allowed !important;
    }
    .IMX-fullscreen {
      .mat-table {
        max-height: calc(~"100vh - 245px");
      }
    }
  }
  .audience-overlay-position,.plan-overlay-position{
    margin-left:15px;
    .mat-list-item-content{
      padding: 0 0.5rem !important;
    }
  }
  .plan-overlay-position{
    mat-form-field{
      height:36px;
    }
  }
  .audience-overlay-position{
    .audience-header{
        text-align: left;
        padding: 1rem 0.5rem;
        width: 100%;
        margin-bottom:0px;
    }
    .full-width{
      width:100%;
    }
    mat-form-field{
      height: 36px;
    }
    .mat-form-field-underline{
      background-image: unset !important;
    }
    .mat-selection-list{
      margin-top: 10px;
    }
    .imx-button-basic_icon{
      align-items: center;
      display: flex;
      place-content: center;
      width: 100%;
    }
  }

  .inventory-plan-dialog-fullscreen {
    max-width: 90vw !important;
    .mat-dialog-container {
      padding: 0;
      overflow: hidden;
    }
    .inventory-plan {
      padding-right: 0;
    }
    .plan-table-list{
      width: auto;
      min-width: 100%;
      min-height: calc(80vh - 56px) !important;
      max-height: calc(80vh - 56px) !important;
    }
    .full-screen-exit-icon{
      padding: 3px;
      border-radius: 4px;
      path, line {
        stroke: var(--white-color);
      }
      background-color: var(--primary-bg);
    }
  }
}

// .inventory-plan-table{
//   width: 100% !important;
// }