::ng-deep {
  app-hourly-impressions {
    // margin-left: 100px;
    p{
      align-self: flex-start;
    }
    p.line-heading{
      position: relative;
      top: 10px;
      z-index: 2;
    }
  }
}