::ng-deep {
  app-add-client {
    .add-client {
      padding: 30px 0 30px 30px;
      .header{
        word-break: break-all;
        padding-right: 1rem;
      }
      &__body {
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
      }
      &__content {
        width: 100%;
      }
      &__actions{
        width: 88%;
        padding: 10px;
        padding-right: 40px;
        padding-top: 20px;
      }
    }
    .imx-button-secondary, .imx-button-primary{
      height:34px;
    }
    .bory-right-content {
      display:none !important;
     }
  }
}