mat-form-field {
  width: 100%;
}
::ng-deep{
  .auto-complete-list{
    .mat-option {
      color: var(--high-emphasis);
      font-size: 14px;
    }
  }
}

.mat-chip.mat-standard-chip {
  background-color: var(--grays-bg-200) !important;
  color: var(--high-emphasis) !important;
  font-size: 12px;
  height: auto;
  padding: 4px 7px 4px 12px;
  font-weight: 300;
}
.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary .mat-chip-remove {
  color: var(--high-emphasis) !important;
  opacity: .5;
}