@import "../../../../assets/css/variables.less";
.placePopup {
  width: 450px;
  padding: 15px;
  h5 {
    margin: 0px;
  }
  .subtitle-1 {
    margin-bottom: 10px;
  }
  .panel_nav {
    position: absolute;
    right: 10px;
    top: 18px;
    font-size: 18px;
    mat-icon {
      color: var(--text-primary);
    }
    .panel_nav_text {
      color: var(--g-color);
      margin-top: 2px;
    }
  }
}