:root {
  /* Typegraphic scale
  *  Date 13th July 2018
  */

  // Main Text Colors
  --primary-color:146,42,149;
  --text-primary:rgba(146,42,149,1);

  --primary-bg: rgba(146,42,149,1);
  --primary-bg-border: rgba(146,42,149,1);

  --primary-bg-900:rgba(85,24,117,1);
  --primary-bg-800:rgba(113,31,132,1);
  --primary-bg-700:rgba(129,36,141,1);
  --primary-bg-600:rgba(146,42,149,1);
  --primary-bg-500:rgba(159,46,155,1);
  --primary-bg-400:rgba(146,42,149,1);
  --primary-bg-300:rgba(174,75,169,1);
  --primary-bg-200:rgba(208,148,205,1);
  --primary-bg-100:rgba(226,190,224,1);
  --primary-bg-50:rgba(243,229,242,1);

  --secondary-color:0,141,151;
  --text-secondary:rgba(0,141,151,1);
  --secondary-bg:rgba(0,141,151,1);
  --secondary-bg-border:rgba(0,141,151,1);

  --secondary-bg-900:rgba(0,105,108,1);
  --secondary-bg-800:rgba(0,141,151,1);
  --secondary-bg-700:rgba(0,161,175,1);
  --secondary-bg-600:rgba(0,183,201,1);
  --secondary-bg-500:rgba(0,199,221,1);
  --secondary-bg-400:rgba(41,208,225,1);
  --secondary-bg-300:rgba(81,217,231,1);
  --secondary-bg-200:rgba(131,228,238,1);
  --secondary-bg-100:rgba(180,239,244,1);
  --secondary-bg-50:rgba(225,249,251,1);

  --color-gray: 33,33,33;
  --text-grays:rgba(33,33,33,1);

  --grays-bg-900:rgba(33,33,33,1);
  --grays-bg-800:rgba(66,66,66,1);
  --grays-bg-700:rgba(97,97,97,1);
  --grays-bg-600:rgba(117,117,117,1);
  --grays-bg-500:rgba(158,158,158,1);
  --grays-bg-400:rgba(189,189,189,1);
  --grays-bg-300:rgba(224,224,224,1);
  --grays-bg-200:rgba(238,238,238,1);
  --grays-bg-100:rgba(245,245,245,1);
  --grays-bg-50:rgba(250,250,250,1);

    --text-whites:rgba(255,255,255,1);

  // Text Color - black
  --high-emphasis: rgba(0,0,0,0.87);
  --medium-emphasis: rgba(0,0,0,0.6);
  --low-emphasis: rgba(0,0,0,0.38);
  --lower-emphasis: rgba(0,0,0,0.1);

  // Text Color - white
  --high-emphasis-white: rgba(255,255,255,1);
  --medium-emphasis-white: rgba(255,255,255,0.6);
  --low-emphasis-white: rgba(255,255,255,0.38);

  /*
  * Utility Text Color
  * Utility colors variants from 900 to 50
  * 900 - opacity: 1;
  * 600 - opacity: 0.6;
  * 300 - opacity: 0.38;
  * 100 - opacity: 0.1;
  * 50 - opacity: 0.05;
  */

  --success:rgba(0,178,105,1);
  --error:rgba(222,0,56,1);
  --warning:rgba(235,141,0,1);

  --success-base:#05D08C;
  --error-base:#B00048;
  --warning-base:#FF8256;

  --button-bg-color: #922a95;

  --white-color: #fefefe;
  --black-color: #383838;
  --green-color: #8fcc8b;
  --red-color: #f05126;
  --blue-color: #0d96d4;
  --lg-color: #b3b3b3;
  --header-g-color: #eeeeee;
  --g-color: #878787;
  --mg-color: #909090;
  --dg-color: #595959;
  --theme-sidebar-color: #212121;
  --theme-logo-color: #008da4;
  --theme-primary-color: #008da4;
  --theme-secondary-color: #008D97;
  --theme-highlight-color: #fcbd32;
  --error-bg-color: #f7d0c9;
  --error-text-color: #2d2d2e;
  --login-bg-image: "../images/login-page-background.jpg";
	--login-bg-color: #922a95;
  --popup-bg-color: #f3f3f3;
  --theme-border-color: #979797;
  --tab-bg-color: #922a95;

  --conditional-step-1: /*#00cfdc;*/ #1b616d;
  --conditional-step-2: /*#43f4ff;*/ #2a97b3;
  --conditional-step-3: /*#76f7ff;*/ #33bce2;
  --conditional-step-4: /*#98f9ff;*/ #51cfee;
  --conditional-step-5: /*#bafbff;*/ #b4eafa;

  --table-black-color: #6b6b6b;
  --sweet-alert-success:#7ED321;
  --sweet-alert-warning:#F5A623;

  --dropdown-bg-color: #FEFEFE;
  --dropdown-arrow-color:#212121;
  --dropdown-text-color: #212121;
  --dropdown-option-color: #595959;
  --dropdown-label-color: #878787;
  --dropdown-hover-bg: #E1E3E9;
  --dropdown-border-radius: 2px;

  --dropdown-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
  --drop-shadow-left-side-bar: 2px 0 5px 0 rgba(0,0,0,0.5);
  --drop-shadow-top-header: 5px 2px 4px 0 rgba(0,0,0,0.16);

  --heading-color:#212121;
  --icon-color:#D5D5D5;
  --input-text-color:rgba(0,0,0,0.87);
  --p-text-color:rgba(0,0,0,0.87);
  --button-box-text-color:#922A95;
  --caption-body-2:rgba(0,0,0,0.6);

  --list-border-color:rgba(0,0,0,0.87);
  --icon-color-1:#000;
  --calander-color:#922A95;
  --mat-icon-btn-color: #9B9B9B;


  --normal-text-input-border:#D8D8D8;
  --focused-placeholder-color: #922A95;
  --focused-text-input-border: #922A95;
  --disable-text-input: #A6A6A6;
  --focused-text-area-bg:#EEEEEE;




}

// Responsive design break points
@all-devices-under-600: ~'(max-width: 600px)';
@desktop-min-width: ~'(min-width: 1025px)';
@hd-desktop-min-width: ~'(min-width: 1281px)';
@tab-landscape-min-width: ~'(min-width: 801px)';
@tab-potrait-min-width: ~'(min-width: 600px)';
@mobile-landscape-min-width: ~'(min-width: 480px)';
@mobile-potrait-min-width: ~'(min-width: 320px)';
@all-devices-under-768: ~'(max-width: 767px)';
@all-devices-under-560: ~'(max-width: 560px)';
@all-devices-under-1200: ~'(max-width: 1200px)';
@all-devices-under-991: ~'(max-width: 991px)';
@all-devices-under-1000: ~'(max-width:1100px)';
@all-devices-under-945: ~'(max-width:945px)';
@all-devices-greater-960: ~'(min-width:960px)';
@all-devices-under-960: ~'(max-width:960px)';
@not-mobile: ~'(min-width: 768px)';
@landscape-mobile: ~'(orientation : landscape)';
@all-devide-start-0: ~'(min-width: 0px)';
@all-desktop-min-width: ~'(min-width: 1600px)';

// less -> css variable helpers
// allows looping to to set classes with names like `is-primary` to have the primary color
@colors:
  primary var(--primary-bg),
  secondary var(--secondary-bg),
  success var(--success),
  error var(--error),
  warning var(--warning),
  'white' var(--white-color),
  'black' var(--black-color),
  'green' var(--green-color),
  'red' var(--red-color),
  'blue' var(--blue-color),
  lg var(--lg-color),
  header var(--header-g-color),
  g var(--g-color),
  mg var(--mg-color),
  dg var(--dg-color),
  theme-sidebar var(--theme-sidebar-color),
  theme-logo var(--theme-logo-color),
  theme-primary var(--theme-primary-color),
  theme-secondary var(--theme-secondary-color),
  theme-highlight-color var(--theme-highlight-color),
  error-bg var(--error-bg-color),
  error-text var(--error-text-color),
  login-bg var(--login-bg-color),
  popup-bg var(--popup-bg-color),
  theme-border var(--theme-border-color),
  tab-bg var(--tab-bg-color);

// easier for loop for the plugin colors to work
  .for(@list, @code) {
  & {
    .loop(@i:1) when (@i =< length(@list)) {
      @value: extract(@list, @i);
      @code();
      .loop(@i + 1);
    }
    .loop();
  }
}
