.mat-accordion .mat-expansion-panel:first-of-type {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.mat-accordion .mat-expansion-panel:last-of-type {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.menu-body-list{
  .menu-list{
    margin-bottom: 10px;
    h5{
      padding-left: 25px;
    }
    .mat-list{
      max-width: inherit;
    }
    .tableau-link {
      color: var(--high-emphasis);
    }
  }
}
h5{
  margin: 2px 0;
  font-weight: 600;
  font-size: 14px;
}


::ng-deep{
  app-admin-nav-left{
    .mat-expansion-panel{
      background: var(--grays-bg-100);
    }
    mat-expansion-panel-header{
      border-bottom: 1px solid;
      border-color: var(--grays-bg-300);
      .mat-expansion-indicator::after{
        color: var(--high-emphasis);
      }
    }
    .mat-expansion-panel-body{
      padding: 0px;
      margin: 10px 0px;
      .mat-list-item{
        height: initial !important;
        cursor: pointer;
        padding: 5px 10px 5px 30px;
        font-size: 14px;
        &:hover, &.active{
          box-shadow: unset;
          background: var(--grays-bg-300);
        }
        &.selected{
          background: var(--grays-bg-300);
        }
      }
    }
  }
}
