::ng-deep {
    us-address {
        .mat-form-disable {
            cursor: pointer;
     
           .mat-form-field-wrapper {
             pointer-events: none !important;
           }
     
           .mat-form-field-underline {
             display: none;
           }
        }
    }
}