@import "../../../../assets/css/variables.less";
.my-place-filter{
  width: 480px;
  .heading{
    padding: 0 0 0 20px;
    h4{
      margin: 10px 0px;
    }
    hr{
      border: 0.5px solid rgba(0,0,0,.12);
      margin-right: 20px;
    }
  }
  .my-place-body-section {
    padding: 0 0 20px 20px;
    height: calc(~"100vh - 225px");
    overflow-x: hidden;
    overflow-y: auto;
  }
  .action-buttons {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    .mat-icon {
      height: 25px;
      width: 25px;
      cursor: pointer;
      color:  var(--grays-bg-600);
    }
  }
}
.collapse-navigation {
  display: flex;
  height: 100%;
  width: 24px;
  background: var(--grays-bg-200);
  min-height: 100vh;
  overflow: hidden;
  mat-icon{
    margin-top: 5px;
    cursor: pointer;
  }
}
::ng-deep{
  app-my-places-filter{
    .my-place-body-section {
      padding-right: 20px !important;
      .mat-accordion {
        .mat-expansion-panel-header {
          padding: 0px 2px;
          .mat-content {
            order: 2;
          }
          .mat-expansion-indicator {
            order: 1;
          }
          .mat-expansion-panel-header-title {
            margin-left: 8px;
            margin-right: 0px;
          }
        }
        .mat-expansion-panel-body {
          padding: 0 0 5px 16px;
        }
        .audit-jobs-list{
          .mat-expansion-panel-body{
            position: relative;
          }
        }
        .mat-expansion-panel-spacing {
          margin: 0;
        }
        .mat-expansion-panel{
          border-radius: 0px;
        }
        .mat-expansion-panel:not([class*='mat-elevation-z']) {
          box-shadow: 0 0 0 0;
        }
        .import-jobs-panel {
          .mat-expansion-panel-body {
            padding: 0 20px 16px;
          }

          .job-status {
            text-align: right;
          }
          .width100{
            width:100%;
          }
        }
      }
    }
    .mt-1{
      margin-top: 1px;
    }
  }
  .Assign-job-container .mat-dialog-container {
    overflow:hidden;
  }

}