
    <div class="row-container" >

        <div class="info-row-label sub-header">
            {{"TIME & COSTS" | uppercase}}
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <mat-form-field fxFlex="15" class="imx-dropdown imx-input new-tab-link imx-estimate-input"
                    [tooltip]="(selectedEstimate?.value?.length > 20 ) ? selectedEstimate.value : ''"
                    [placement]="'top'" [delay]="'200'" tooltipClass="imx-tooltip-v3" customClass="imx-field-tooltip">
                <mat-label>
                  Select Estimate Name
                </mat-label>
              <mat-icon svgIcon='IMX-new-tab-link' class="svg-primary mat-link-icon for-mat-select"
                        [class.disabled]="!selectedEstimate?.id"
                        (click)="$event.stopPropagation();tabLinkHandler.open(TabLinkType.ESTIMATE, getClientId, selectedEstimate?.id)"
                        matSuffix></mat-icon>
                <mat-select panelClass="imx-select disabled-view-select" [(value)]="selectedEstimate" (selectionChange)="onEstimateSelectionChange($event)" [disabled]="!userPermission?.edit || disableEntireTimeAndCost" #estimateSelect>
                  <div class="mat-select-panel__wrapper" infiniteScroll
                       (scrolled)="loadMoreEstimations()"
                       [scrollWindow]="false"
                       [infiniteScrollDistance]="1"
                       [infiniteScrollThrottle]="0"
                       [infiniteScrollDisabled]="isEstimationListLoading"
                       [fromRoot]="true">
                    <mat-option (click)="openNewEstimateWindow();estimateSelect.close();" class="create-option hide-selected-tick" disabled> <mat-icon>add</mat-icon> Create Estimate </mat-option>
                    <mat-divider></mat-divider>
                    <mat-option [value]="null" class="hide-selected-tick">Select Estimate Name</mat-option>
                    <mat-option *ngFor="let estimate of estimateAutocompleteItems" [value]="estimate">
                        {{estimate.value}}
                    </mat-option>
                    <mat-option disabled *ngIf="isEstimationListLoading">
                    <div fxLayout="row" fxLayoutAlign="space-around center" >
                        <mat-spinner diameter="20"></mat-spinner>
                    </div>
                    </mat-option>
                  </div>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" *ngIf="estimateItems && selectedEstimate?.id">

                <div fxFlex="55" class="border-group">
                    <div class="info-row-label border-group-header">
                        {{"Estimate Details" | uppercase}}
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="22">Estimate #</div>
                        <div fxFlex="22">Start Date</div>
                        <div fxFlex="22">End Date</div>
                        <div fxFlex="19">Fee</div>
                        <div fxFlex="15">Billing Comm.</div>
                    </div>
                    <div *ngFor="let estimate of estimateItems" class="border-group-row" fxLayout="row" fxLayoutAlign="start center" >
                        <div fxFlex="19%">{{estimate.estimateNumber}}</div>
                        <div fxFlex="24">{{estimate.startDate}}</div>
                        <div fxFlex="23">{{estimate.endDate}}</div>
                        <div fxFlex="22">{{estimate.fee}}</div>
                        <div fxFlex="12">{{estimate.billingComm}}</div>
                    </div>
                </div>

        </div>
    </div>

    <br>

    <form [formGroup]="periodForm" class="row-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <mat-form-field fxFlex="125px" class="imx-input imx-estimate-input" >
            <mat-label>Number of Periods</mat-label>
            <input matInput appNumeral [regex]="periodPatternRegEx" isDecimal="true" format="0.000" formControlName="numberOfPeriods" (blur)="recalculatePeriodLenght(lastModifiedPeriodField.NumberOfPeriods, $event)">

            <!-- (blur)="recalculatePeriodLenght(lastModifiedPeriodField.NumberOfPeriods)" -->
            <mat-error *ngIf="periodForm.controls['numberOfPeriods']?.errors?.min">Period Length min value is 1.</mat-error>
            <mat-error *ngIf="periodForm.controls['numberOfPeriods']?.errors?.max">Period Length max value is 52.</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="120px" class="imx-dropdown imx-input imx-estimate-input">
            <mat-label>
                Period Length
            </mat-label>
            <mat-select panelClass="imx-select disabled-view-select" (selectionChange)="recalculatePeriodLenght(lastModifiedPeriodField.PeriodLengthChange)" formControlName="periodLength" required>
            <mat-option [value]="null">Select Period Length</mat-option>
            <mat-option *ngFor="let period of periodLengths" [value]="period.value">
                {{period.value}}
            </mat-option>
            </mat-select>
            <mat-error *ngIf="periodForm.controls['periodLength']?.errors?.required">Period Length is required.</mat-error>
        </mat-form-field>



        <mat-form-field fxFlex="100px" class="imx-input imx-estimate-input error-field-width">
            <mat-label>Start Date</mat-label>
            <input
            matInput
            [min]='minDate'
            [max]='maxDate'
            [matDatepicker]="startDatePicker"
            appDateFormat
            formControlName="startDate"
            (dateChange)="recalculatePeriodLenght()"
            />
            <mat-error>Start Date should be valid(MM/DD/YYYY).</mat-error>
            <mat-icon
            (click)="startDatePicker.open()"
            matSuffix
            class="date-picker-icon date-picker-icon_input"
            svgIcon="IMX-calender"
            ></mat-icon>
            <mat-datepicker
            #startDatePicker="matDatepicker"
            [panelClass]="'imx-calander'"
            ></mat-datepicker>
        </mat-form-field>

        <mat-form-field fxFlex="100px" class="imx-input imx-estimate-input">
            <mat-label>End Date</mat-label>
            <input
            [min]='minDate'
            [max]='maxDate'
            matInput
            [matDatepicker]="endDatePicker"
            appDateFormat
            formControlName="endDate"
            (dateChange)="recalculatePeriodLenght(lastModifiedPeriodField.EndDate)"
            />
            <mat-error *ngIf="periodForm.controls['endDate']?.errors?.invalid">End Date should be valid(MM/DD/YYYY).</mat-error>
            <mat-icon
            (click)="endDatePicker.open()"
            matSuffix
            class="date-picker-icon date-picker-icon_input"
            svgIcon="IMX-calender"
            ></mat-icon>
            <mat-datepicker
            #endDatePicker="matDatepicker"
            [panelClass]="'imx-calander'"
            ></mat-datepicker>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="start center" class="toggle-io">
             <span class="toggle-text" [ngClass]="{'toggle-text_active': !autoManualToggle}">Auto</span>
            <mat-slide-toggle [checked]="autoManualToggle" class="is-digital-slide" (change)="onToggleChanges($event)" [disabled]="!userPermission?.edit" ></mat-slide-toggle>
            <span class="toggle-text" [ngClass]="{'toggle-text_active': autoManualToggle}">Manual Override</span>
        </div>


    </form>
    <p>
        <mat-error *ngIf="periodForm.controls['endDate']?.errors?.endDateError">
            End Date should be greater than or equal to the Start Date
        </mat-error>
    </p>
    <br>

    <div class="row-container">
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" class="estimate-cost-container">

            <div fxFlex="50" class="border-group relative-container">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <div fxFlex="10"></div>
                    <div fxFlex="30">I/O Dates</div>
                    <div fxFlex="30" class="pl-1">Net Amount</div>
                    <div fxFlex="30">Estimate #</div>
                </div>
                <div class="io-elements">
                    <div *ngFor="let record of insertionOrderRecords; let i = index;" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="insertionOrderRecords">
                        <div fxFlex="10">
                            <div fxLayout="row" fxLayoutAlign="center center">
                                <mat-checkbox class="imx-checkbok" [(ngModel)]="record.selected" [disabled]="!userPermission?.edit"></mat-checkbox>
                            </div>
                        </div>
                        <form fxFlex="30">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <mat-form-field fxFlex="70" class="imx-input" [ngClass]="{'disabled' : !userPermission?.edit || record?.exportedStatus || (disableEntireTimeAndCost && record.id) }">
                                    <!-- <mat-label>I/O date</mat-label> -->
                                    <input
                                    matInput
                                    [formControl]="record.ioDate"
                                    [matDatepicker]="ioDates1Picker"
                                    appDateFormat
                                    (dateChange)="ioDateChanged($event, i)"
                                    [disabled]="!userPermission?.edit || record?.exportedStatus || (disableEntireTimeAndCost && record.id)"
                                    />
                                    <mat-icon
                                    (click)="ioDates1Picker.open()"
                                    matSuffix
                                    class="date-picker-icon date-picker-icon_input"
                                    svgIcon="IMX-calender"
                                    ></mat-icon>
                                    <mat-datepicker
                                    #ioDates1Picker="matDatepicker"
                                    [panelClass]="'imx-calander'"

                                    ></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <mat-error *ngIf="ioDateErr[i]">Date should be valid(MM/DD/YYYY).</mat-error>
                        </form>
                        <div fxFlex="30">
                            <div fxLayout="row" fxLayoutAlign="space-between center">
                                <mat-icon matPrefix [inline]="true" >$</mat-icon>
                                <div class='cost-input-box amount-block' [ngClass]="{'disabled' : !userPermission?.edit}">
                                    <!--  [ngClass]="{'disabled' : !userPermission?.edit || record?.exportedStatus  || disableEntireTimeAndCost }" -->
                                    <mat-form-field class="imx-input" fxFlex="130px">
                                        <!-- [disabled]="!userPermission?.edit || record?.exportedStatus || disableEntireTimeAndCost"  -->
                                    <input matInput placeholder="" [ngClass]="{'disabled' : !userPermission?.edit}" appNumeral [regex]="deliveryNumericPatternRegEx" isDecimal="true" format="0,0.00" class="input-text-rigth" autocomplete="off" [(ngModel)]="record.netAmount" (focus)="onFocusIOAmount(record)" (blur)="onBlurIOAmount(i);formatBlankInputIO(record)">
                                  </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div fxFlex="30">
                            <div *ngIf="record?.estimateNumber; else estNoWarn"> {{record?.estimateNumber }} </div>
                            <ng-template #estNoWarn>
                                <div class="estWarn">
                                    <mat-icon class="mat-icon" svgIcon="IMX-dot"></mat-icon>
                                </div>
                            </ng-template>
                            <!-- <div>
                                <mat-form-field class="imx-input" fxFlex="120px">
                                    <input matInput placeholder="" (blur)="addEstimateNumber($event.target.value, i)" appNumberOnly [regex]="AppRegularExp.DECIMAL" [canAllowMinus]="false" [min]="0" [value]="record?.estimateNumber">
                                  </mat-form-field>
                            </div> -->
                        </div>
                    </div>
                    <div  fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2rem" *ngIf="insertionOrderRecords?.length"  module="contract" visiblityType="edit" appUserAccessPermission>
                        <div fxFlex="10.563rem">
                            <button type="button" mat-button class="imx-button-basic" (click)="onRemoveSelected()">
                                {{"remove Selected" | uppercase}}
                            </button>
                        </div>
                        <div fxFlex="7.313rem" *ngIf="insertionOrderRecords?.length>1">
                            <button type="button" mat-button class="imx-button-basic" (click)="removeAll()">
                                {{"remove all" | uppercase}}
                            </button>
                        </div>
                        <div fxFlex="8rem" fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="add-option">
                                <mat-form-field class="imx-dropdown imx-input">
                                    <mat-select panelClass="imx-select add-option-list" [(ngModel)]="selectedOption">
                                    <mat-option [value]="item+1" *ngFor="let item of addOptions">{{item+1}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <button type="button" mat-button [disabled]=" weekOptions.includes(periodForm?.value?.periodLength) && insertionOrderRecords?.length === 52" class="imx-button-basic" (click)="addNewIODate()">
                                {{"add" | uppercase}}
                            </button>
                        </div>

                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="total-section " [ngClass]="{'io-date-action': insertionOrderRecords?.length<9}">
                    <div fxFlex="50" class="cost-table">
                        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                            <div class="result-cell minwidth140">Actual Contract Total</div>
                            <!-- TODO: Will work for when changing net fields as editable -->
                            <div class="result-cell">$ {{actualContractTotal | convert:'THOUSAND':2:true}}</div>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center"  fxLayoutGap="20px" class="margin-space">
                            <div class="result-cell minwidth140">Auto Contract Total</div>
                            <div class="result-cell">$ {{totalClientNet | convert:'THOUSAND':2:true}}</div>
                        </div>
                    </div>
                    <!-- <div fxFlex="50">
                        <button mat-button  class="button-secondary-bordered" >{{"Copy to clipboard" | uppercase}} <img class="copy-icon" src="../../../../../../../assets/custom-icons/copy-to-clipboard.svg"></button>
                    </div> -->
                </div>
            </div>

            <div fxFlex="50" class="border-group grey-800">
                <div class="info-row-label border-group-header">
                    {{"COSTS" | uppercase}}
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <div fxFlex="33"></div>
                    <div fxFlex="33">{{this.periodForm?.controls?.periodLength.value && this.periodForm?.controls?.periodLength.value || 'Per Period'}}</div>
                    <div fxFlex="33">Total Contract</div>
                </div>
                <div  class="costs-row" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <div fxFlex="33">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>Net Media</div>
                            <div></div>
                        </div>
                    </div>
                    <div fxFlex="33" class="cost-gap">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>$</div>
                            <div class='cost-input-box amount-block'>
                              <mat-form-field class="imx-input" fxFlex="120px">
                                <input matInput placeholder="" [formControl]="unitNetCtrl" appNumeral [regex]="deliveryNumericPatternRegEx" isDecimal="true" format="0,0.00" (focus)="formatNumericValue(unitNetCtrl)" (blur)="calculateCost();costInsertionOrdersValues();formatBlankInput(unitNetCtrl)" class="input-text-rigth">
                              </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="33" class="cost-gap">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>$</div>
                            <div>{{totalNet | convert:'THOUSAND':2:true }}</div>
                        </div>
                    </div>
                </div>

                <div  class="costs-row" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <div fxFlex="33">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>Agency Comm.</div>
                            <div class='cost-input-box percentage-block'>
                            <mat-form-field class="imx-input" fxFlex="70px">
                              <input matInput placeholder="" [formControl]="agencyCommCtrl" appNumeral [regex]="percentagePatternRegEx" format="0,0.00" isDecimal="true" (focus)="formatNumericValue(agencyCommCtrl)" (blur)="calculateCost();formatBlankInput(agencyCommCtrl)">
                              <mat-icon matSuffix [inline]="true" >%</mat-icon>
                            </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="33" class="cost-gap">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>$</div>
                            <div>{{unitAgencyComm | convert:'NUMERICALFORMAT':2:true:'0,0.00'}}</div>
                        </div>
                    </div>
                    <div fxFlex="33" class="cost-gap">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>$</div>
                            <div>{{totalAgencyComm | convert:'NUMERICALFORMAT':2:true:'0,0.00'}}</div>
                        </div>
                    </div>
                </div>
                <div  class="costs-row" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <div fxFlex="33">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>Gross Media</div>
                            <div></div>
                        </div>
                    </div>
                    <div fxFlex="33" class="cost-gap">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>$</div>
                            <div>{{unitGrassMedia | convert:'THOUSAND':2:true}}</div>
                        </div>
                    </div>
                    <div fxFlex="33" class="cost-gap">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>$</div>
                            <div>{{totalGrassMedia | convert:'THOUSAND':2:true}}</div>
                        </div>
                    </div>
                </div>

                <div  class="costs-row" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <div fxFlex="33">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>Tax</div>
                            <div class='cost-input-box'>
                            <mat-form-field class="imx-input" fxFlex="80px">
                              <input autocomplete='off' matInput placeholder="" [formControl]="taxCtrl"  appNumeral [regex]="taxPatternRegEx" isDecimal="true" format="0,0.00[000]" (blur)="calculateCost();formatBlankInput(taxCtrl)" (focus)="formatNumericValue(taxCtrl)">
                              <mat-icon matSuffix [inline]="true" >%</mat-icon>
                            </mat-form-field>
                          </div>
                        </div>
                    </div>
                    <div fxFlex="33" class="cost-gap">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>$</div>
                            <div>{{unitTax | convert:'NUMERICALFORMAT':2:true:'0,0.00'}}</div>
                        </div>
                    </div>
                    <div fxFlex="33" class="cost-gap">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>$</div>
                            <div>{{totalTax | convert:'NUMERICALFORMAT':2:true:'0,0.00'}}</div>
                        </div>
                    </div>
                </div>
                <div  class="costs-row" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <div fxFlex="33">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>Fee</div>
                            <div></div>
                        </div>
                    </div>
                    <div fxFlex="33" class="cost-gap">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>$</div>
                            <div>{{unitFee | convert:'THOUSAND':2:true}}</div>
                        </div>
                    </div>
                    <div fxFlex="33" class="cost-gap">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div>$</div>
                            <div>{{totalFee | convert:'THOUSAND':2:true}}</div>
                        </div>
                    </div>
                </div>

                <div class="costs-row margin-space-2" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <div fxFlex="33">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="result-cell">Client Net<br>(incl. Tax)</div>
                        </div>
                    </div>
                    <div fxFlex="33" class="cost-gap">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="result-cell grey-900">$</div>
                            <div class="result-cell"> {{unitClientNet | convert:'THOUSAND':2:true}}</div>
                        </div>
                    </div>
                    <div fxFlex="33" class="cost-gap">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="result-cell grey-900">$</div>
                            <div class="result-cell">{{totalContracClientNet | convert:'THOUSAND':2:true}}</div>
                        </div>
                    </div>
                </div>

                <mat-divider></mat-divider>
                <div class="costs-row" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <div fxFlex="30.5">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="result-cell gray700">Market Rate <br> (Net per Period)</div>
                        </div>
                    </div>
                    <div fxFlex="33" class="cost-gap">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="result-cell gray700">$</div>
                            <div class="result-cell cost-input-box amount-block">
                                <mat-form-field class="imx-input" fxFlex="160px">
                                <input matInput placeholder="" appNumeral [regex]="deliveryNumericPatternRegEx" format="0,0.00"  isDecimal="true" [formControl]="marketRateCtrl" (focus)="formatNumericValue(marketRateCtrl)" (blur)="setCostEstimate();formatBlankInput(marketRateCtrl)">
                              </mat-form-field></div>
                        </div>
                    </div>
                </div>

                <div class="costs-row" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <div fxFlex="30.5">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="result-cell gray700">Install Costs <br> (for Additional Installs)</div>
                        </div>
                    </div>
                    <div fxFlex="33" class="cost-gap">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="result-cell gray700">$</div>
                            <div class="result-cell cost-input-box amount-block">
                                <mat-form-field class="imx-input" fxFlex="160px">
                                <input matInput placeholder="" [formControl]="installCostCtrl" appNumeral [regex]="deliveryNumericPatternRegEx" isDecimal="true" format="0,0.00" (blur)="setCostEstimate();formatBlankInput(installCostCtrl)" (focus)="formatNumericValue(installCostCtrl)">
                              </mat-form-field></div>
                        </div>
                    </div>
                </div>

                <div class="costs-row" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <div fxFlex="30.5">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="result-cell gray700">Included Installs</div>
                        </div>
                    </div>
                    <div fxFlex="33" class="cost-gap">
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <div class="result-cell"></div>
                            <div class="result-cell">
                                <mat-form-field class="imx-input" fxFlex="160px">
                                <input matInput placeholder=""  [formControl]="installsCtrl" (blur)="setCostEstimate()">
                              </mat-form-field></div>
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>
