::ng-deep {
  app-contact-view {
    .header{
      word-break: break-all;
    }
    .view-contact {
      padding: 30px 0px 30px 30px;

      &__body {
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
      }
      &__content {
        width: 50%;
      }
    }
    .actions-btn {
      margin-right: 2rem;
    }
    .back-to-link{
      font-size: 12px;
      color:var(--primary-bg);

      mat-icon{
        margin-right: 8px;
        height: 11px;
        width: 11px;
        font-size: 11px;
        line-height: 11px;
      }
    }
    .imx-button-secondary, .imx-button-primary{
      height:34px;
    }
  }
}