::ng-deep{
	.chip-input input{
		height: inherit !important;
	}
	.mat-chip-list-wrapper input.mat-input-element {
		margin: 0 !important;
	}
	.matHintBlock {
		margin: 10px 0 10px -4px;
    display: block;
	}

}
.mat-standard-chip{
	&.cursor-link{
		cursor: pointer !important;
	}
}
