@import url(../../../../assets/css/variables.less);

.breadcrumb-div
{
	margin: 35px 0 0 90px;
}
.breadcrumb-separator
{
  font-size: 10px !important;
}
.breadcrumb-label {
  line-height: 13px;
  height: 14px;
  letter-spacing: 0.5px;
  cursor: pointer;
  a {
    color: var(--theme-sidebar-color);
  }
}
.content-breadcrumb {
  padding-top: 25px !important;
}