<div class="layers-filter-container">
  <h4 class="heading">Layers and Display Options</h4>
  <hr />
  <div class="layers-filter-body" fxLayout="row">
    <mat-tab-group class="layers-filter-tab-group">  
    <!-- (selectedIndexChange)="tabchange($event)"> -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>layers</mat-icon>
          <span class="test-layers">Layers</span>
        </ng-template>
        <div class="tab-body">
          <!-- <app-place-customize-layer></app-place-customize-layer> -->
          <!-- <app-explore-customize-layers></app-explore-customize-layers> -->
          <app-customize-layers (changeOfLayers) = "onChangeOfLayer($event)" [layerType] = "'primary'"></app-customize-layers>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>compare</mat-icon>
          <span class="test-display-options">Display Options</span>
        </ng-template>
        <div class="tab-body">
          <app-map-display-options (changeOfDisplayOption) = "onChangeOfDisplayOption($event)" [layerType] = "'primary'" [displayOptionsList] = "displayOptionsList"></app-map-display-options>
          
        </div>
      </mat-tab>
    </mat-tab-group>  
  </div>
  <div class="layers-filter-footer" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button class="button button-secondary uppercase clear-btn test-clear-all-btn" (click)="clearAll()">Clear All</button>
    <button mat-raised-button class="button button-primary-color uppercase btn-primary-color test-apply-btn" (click)="onApply()">Apply View</button>
  </div>
</div>
