.header-address{
    flex:2 2 calc(10em + 10px); 
    text-align: center;
    h6{
      font-size: 18px;
    }
    .address-block{
      margin-top: 1rem;
      p{
        text-align: center;
      }
    }
  }
  .txt-left{
    text-align: left !important;
  }
  .txt-right{
    text-align: right !important;
  }
  .txt-center{
    text-align: center !important;
  }
  .terms-conditions-body{
    margin-top: 2rem;
    p{
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem !important;
      margin-bottom: 0.2rem !important;
      color: #000000;
    }
  }
  .inner-block-pad{
    padding: 0 3.75rem 0 2rem;
  }
  .bill-label {
    color: var(--grays-bg-800);
    font-size: 14px;
    padding-right: 16px;
    letter-spacing: 1px;
  }
  .bill-value {
      color: var(--grays-bg-900);
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.15px;
  }
  .bill-note {
    color: var(--grays-bg-800);
    font-size: 14px;
    border: 1px solid var(--grays-bg-800);
    border-radius: 5px;
    padding: 10px;
    line-height: 20px;
    height: 6.875rem;
  }
  .invoice-report-info {
    margin-top: 1.563rem;
  }
  .table-note{
    border: 1px solid var(--grays-bg-800);
    box-sizing: border-box;
    border-radius: 0px;
    color: var(--grays-bg-800);
    padding: 10px;
  }
  .notes{
    border: 1px solid var(--grays-bg-800);
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: var(--grays-bg-800);
    padding: 10px;
    margin-bottom: 1rem;
  }
  .payment-section{
    font-size: 1.25rem;
    line-height: 25px;
    letter-spacing: 0.15px;
    color: var(--grays-bg-700);
    margin-top: 3.5rem;
  }
  
  .header-captions{
    margin-top: 1rem;
    p{
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 160%;
      color: #000000;
    };
  }
  .page-break-contract{
    height: 0.5rem;
    background: #ccc;
    border: none;
    width: 100%;
  }
  
  .paragraph-font{
    font-style: normal;
    font-weight: normal;
    font-size: 1rem !important;
    margin-bottom: 0.5rem !important;
    color: var(--grays-bg-900);
    .empty{
        border-bottom: 1px solid #000000;;
    }
    .billing-title{
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 25px;
        letter-spacing: 0.15px;
      }
  }
  .campaign-margin{
    margin-bottom: 2rem !important;
  }
  .company-margin{
    margin-bottom: 1.5rem !important;
  }
  .provider-margin{
    margin-top: 3rem !important;
  }
  .billing-desc{
        margin-left: 2rem;
        font-size: 1rem;
        line-height: 20px;
        letter-spacing: 0.5px;
        color: var(--grays-bg-800);
  }
  .order-table,.order-table-data, .total-table{
    font-size: 0.813rem;
  }
  .bottom-block{
    margin-top: 2rem;
  }
  .material-table-section{
    background: #FCFCFC;
    margin-left: 19.5rem;
    .table-row{
      font-size: 0.813rem;
        div {
            border: 1px solid var(--grays-bg-600);
            padding: 4px;
            color: var(--grays-bg-800);
        }
        div:last-child {
            text-align: center;
        }
    }
    .total{
        font-weight: bold;
    }
  }
  .cost-desc{
      margin-top: 2rem;
      font-size: 0.875rem;
      line-height: 18px;
      color: #000000;
  }
  .order-sub-head{
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-bottom: 0.5rem;
  }
  .total-table{
    margin-top: 1rem;
    padding-left: 33.188rem;
    div {
      border: 1px solid var(--grays-bg-600);
      padding: 0.5rem;
      color: var(--grays-bg-800);
      background: #FCFCFC;
    }
    div:first-child{
      border: none !important;
    }
  }
  .order-table{
      margin-top: 1.375rem;
      div {
        border: 1px solid var(--grays-bg-600);
        padding: 0.5rem;
        color: var(--grays-bg-800);
        background: #FCFCFC;
    }
  }
  .order-table-data{
      div{
        color: var(--grays-bg-800);
        border: 1px solid var(--grays-bg-600);
        padding: 0.5rem;
        text-align: center;
        background: #FCFCFC;
      }
  }
  .payment-notes{
    border: 1px solid var(--grays-bg-800);
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: var(--grays-bg-800);
    padding: 10px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    min-height: 6.875rem;
    div:last-child{
      font-weight: bold;
    }
  }
  .w100{
  width: 100%;
  }
  .contract-preview-body{
    margin-bottom: 1rem;
  }
  .contract-preview-header{
    margin-bottom: 1rem;
    .contract-logo,.contract-date{
      flex:1 1 5em;
    }
  }
  .auth-detail{
    margin-top: 1rem;
  }
  .bill-and-invoice{
    margin-top: 1rem;
  }
  .contact-info{
    color: var(--grays-bg-800) !important;
    margin-top: 2rem;
    line-height: 20px;
    letter-spacing: 0.15px;
  }
  ::ng-deep{
    .order-heading{
      h2 {
          margin-top: 2rem !important;
          margin-bottom: 1rem !important;
          color: var(--grays-bg-900) !important;
          font-size: 2.125rem !important;
          line-height: 43px !important;
      }
    }
    .invoice-preview-dialog-container{
      .invoice-preview-dialog-action{
        position: fixed;
        top: 0px;
        right: 160px;
        background: #fff;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 160px;
      }
      .mat-dialog-title{
        margin-bottom: 0rem !important;
      }
      mat-dialog-container{
        .mat-dialog-content{
          margin-top: 0.2rem !important;
        }
        padding: 0px !important;
        .invoice-preview-main{
          padding: 1rem 2.625rem 1rem 1rem;
          .auth-title{
            font-size: 1.5rem;
            line-height: 30px;
            color: var(--grays-bg-900);
          }
        }
      }
      .vendor-contract-container .font-fs-10 {
        font-size: 0.75rem;
      }
      .c-preview-invoice {
        & > header {
          margin-bottom: 0.5rem;
        }
      
        &_button {
          font-weight: normal;
          font-size: .875rem;
          letter-spacing: 1.55px;
          text-transform: initial;
          text-align: left;
          line-height: 28px;
        }    
    }
     .word-break{
       word-break: break-all;
       word-break: break-word;
     }     
    }
    .contract-preview-dialog-backdrop{
      background: rgba(0,0,0,1) !important;
    }
  
    @media(min-width:0px) and (max-width:1300px){
      .contract-preview-dialog-container{
        width: 63% !important;
        .preview-dialog-action{
          right: 20px;
        }
      }
    }
    @media(min-width:1301px) and (max-width:1600px){
      .contract-preview-dialog-container{
        width: 70% !important;
        .preview-dialog-action{
          right: 20px;
        }
      }
    }
    .single-line-item{
      .head{
        padding: 4px;
        min-height: 30px;
        /* Grays/500 */
        border: 1px solid;
        border-color: var(--text-whites);
        box-sizing: border-box;
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 18px;
        /* identical to box height, or 129% */
        display: flex;
        align-items: center;
        text-align: center;
        color: var(--text-whites);
        word-break: break-word;
        background: #757575;
        // background: #D2EDD0;
      }
    }
    .lineItem-header{
      width:101.313rem;
    }
    .lineItem-data{
      background: #F9F9F9;
      align-items: stretch !important;
      .line-data{
        padding: 4px;
        font-style: normal;
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 18px;
        /* or 129% */
        display: flex;
        color: var(--grays-bg-700);
        background: #ffffff;
        min-height: 60px;
        align-items: center;
        /* Grays/500 */
        border: 1px solid;
        border-color: var(--grays-bg-500);
        word-break: break-all;
        word-break: break-word;
      }
    }
    .empty_space{
      margin-top: 5rem !important;
    }
    
  }
  