<div fxLayout="row" fxLayoutAlign="space-between center" class="layer-customize-main-block" fxLayoutGap="20px">
  <div fxFlex="50" class="left-side" fxFlexAlign="start">
    <h6 class="test-available-layer">Available Layers</h6>
    <div class="available-layers">
      <mat-accordion>
        <ng-container *ngFor="let option of layersOptionsList">
          <ng-template  [ngIf]="option === 'inventory collection'">
            <mat-expansion-panel *ngIf="inventorySetModulePermission['status']!=='hidden'" [disabled]="inventorySetModulePermission['status']==='disabled'">
              <mat-expansion-panel-header expandedHeight="48px">
                <mat-panel-title class="test-inventory-sets">
                  Inventory Sets
                </mat-panel-title>
                <mat-panel-description fxLayoutAlign="end center">
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="expansion-panel-body">
                <mat-list>
                  <mat-list-item class="test-inventory-set-item" *ngFor="let set of inventorySets; let i = index;" title="{{set.name}}">
                    <span matLine>{{set.name | truncate:'middle':18:6}} </span>
                      <div class="left-select">
                      <button class="select test-forward-button" mat-icon-button *ngIf="!set.selected; else notSelected" (click)="moveLayer(set, 'inventory collection', i)">
                        <mat-icon matListIcon>arrow_forward</mat-icon>
                      </button>
                      <ng-template #notSelected><span class="selected ">
                          <mat-icon>check</mat-icon>
                        </span>
                      </ng-template>
                    </div>
                  </mat-list-item>
                </mat-list>
                <p class="text-center no-inventory-set" *ngIf="inventorySets.length <= 0">No Inventory set data found.</p>
              </div>
            </mat-expansion-panel>
          </ng-template>
          <ng-template  [ngIf]="option === 'place collection'">

            <div  class="places-set-list" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="0"
            (scrolled)="loadMorePlaceSets()" [scrollWindow]="false">
              <app-layer-place-set
              [filteredPlacePacks]= "filteredPlacePacks"
              [type] = "'place collection'"
              [isLoading]="isLoading"
              (layer) = 'layer($event)'
              [isSearching]="isSearchingPlace"
              (searchPlaces)="searchPlaces($event)">
              </app-layer-place-set>
            </div>
          </ng-template>
          <ng-template  [ngIf]="option === 'geopathId'">
            <mat-expansion-panel  navModule="gpAudience" appAccessModule>
              <mat-expansion-panel-header class="single-unit-container">
                <mat-panel-title class="test-single-unit">Audience Delivery : Geopath Spot ID</mat-panel-title>
                <mat-panel-description fxLayoutAlign="end center">
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="expansion-panel-body single-unit-search p-b-15">
                <div *ngIf="!selectedSingleUnit; else singleUnitSelected">
                  <div class="single-unit-options test-single-unit-options">
                    <mat-radio-group fxLayout="row" fxLayoutGap="20px" [(ngModel)]="singleUnitType">
                      <mat-radio-button value="top_zips">ZIP Codes</mat-radio-button>
                      <mat-radio-button value="top_markets">Markets</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div class="place-filter-search" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-form-field  class="full-width search-field">
                      <input matInput placeholder="Geopath Spot ID" id="singleUnitSearch" [(ngModel)]="singleUnit" >
                    </mat-form-field>
                    <button type="button" mat-raised-button color="primary" class="single-inv-btn" (click)="onSingleUnitSearch();" [disabled]="singleUnit.length==0">Search</button>
                  </div>
                  <div class="filter-block-div filter_blk suggestion-autocomplete">
                    <div *ngIf="fetchingSingleSuggestion; else idList" id="singleUnitLoader"></div>
                    <ng-template #idList>
                      <mat-list [ngClass]="{'auto-Complete':geoPanelIds.length>0}">
                        <mat-list-item class="single-paces-item" *ngFor="let id of geoPanelIds; let i=index">
                          <span matLine title="{{id}}">{{id}}</span>
                          <div>
                            <button class="select" mat-icon-button *ngIf="id; else notSelected" (click)="moveLayer(id, 'geopathId', null)">
                              <mat-icon matListIcon>arrow_forward</mat-icon>
                            </button>
                          </div>
                        </mat-list-item>
                        <p class="placeholder-color text-center test-noplaces" *ngIf="!fetchingSingleSuggestion && !processing && geoPanelIds.length <= 0">No GeoPanel IDs found.</p>
                      </mat-list>
                    </ng-template>
                  </div>
                </div>
                <ng-template #singleUnitSelected>
                  <div class="single-selected">
                    <p class="test-notify-message">The unit below is added to the map. To add a different unit, please remove the current unit.</p>
                    <mat-list class="auto-Complete">
                      <mat-list-item class="single-paces-item">
                        <span matLine title="{{selectedSingleUnit}}">{{selectedSingleUnit}}</span>
                        <div>
                          <button class="select test-close-select-unit" mat-icon-button (click)="removeLayer(selectedSingleUnit, 'geopathId', null)">
                            <mat-icon matListIcon>close</mat-icon>
                          </button>
                        </div>
                      </mat-list-item>
                    </mat-list>
                  </div>
                </ng-template>
              </div>
            </mat-expansion-panel>
          </ng-template>
          <ng-template  [ngIf]="option === 'place'">
            <app-layer-single-place
            [selectedLayers] = "selectedLayers"
            [map] = "map"
            [type] = "'place'"
            [clearLayer] = "clearLayer"
            (layer) = "layer($event)"
            >
            </app-layer-single-place>
          </ng-template>
          <ng-template  [ngIf]="option === 'geography'">
            <app-layer-specific-geography
            [selectedLayers] = "selectedLayers"
            [clearLayer] = "clearLayer"
            (layer) = "layer($event)"
            >
            </app-layer-specific-geography>
          </ng-template>
          <ng-template [ngIf]="option === 'geo sets'">
            <mat-expansion-panel class="location-panel mat-elevation-z0" (opened)="geoSetsLazyLoader.triggerInitialLoad()">
              <mat-expansion-panel-header>
                <mat-panel-title [matTooltipClass]="'inventory-filter-tooltip'" matTooltipPosition="above"  matTooltip="">
                  My Saved Geography Sets
                </mat-panel-title>
                <mat-panel-description (click)="$event.stopPropagation();">
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="mat-expansion-content">
                <app-geography-sets-list
                  [preload]="false"
                  [initiator$]="geoSetsLazyLoader.initiator$"
                  [isForLayers]="true"
                  [selectedGeoSetIds]="selectedGeoSetIds"
                  (setSelected)="onGeoSetSelected($event)">
                </app-geography-sets-list>
              </div>
            </mat-expansion-panel>
          </ng-template>
        </ng-container>
      </mat-accordion>
    </div>
  </div>
  <div fxFlex="50" class="right-side" fxFlexAlign="start">
    <h6 class="test-selected-layer">Selected Layers</h6>
    <div class="scroll-div">
      <div id="boxContent" class="ngx-dnd-container" ngxDroppable [model]="selectedLayers">
        <div class="ngx-dnd-item has-handle test-selected-places" *ngFor="let layer of selectedLayers; let i = index;" ngxDraggable [model]="layer" fxLayout="column" fxLayoutAlign="start center" [ngClass]="{'sinale-places':layer.type === 'place','open-color-palet':layer['id']=== SelectedLayerColorPalet}">
          <div fxLayout="row" fxFill fxLayoutAlign="start center" class="header">

            <div *ngIf="layer['icon'] === 'icon-numbered'" class="cursor-link expand-icon icon {{layer['icon']}} dot" (click)="openColorPalet(layer['id'])" [ngStyle]="{'background-color': layer['color']}"
              title="Click to customize icon."></div>

            <div *ngIf="layer['icon'] !== 'icon-numbered'" class="cursor-link expand-icon icon {{layer['icon']}}" (click)="openColorPalet(layer['id'])" [ngStyle]="{'color':layer['color']}"
            title="Click to customize icon."></div>
            <div fxLayout="column">
              <span *ngIf="layer.type === 'place collection' || layer.type === 'inventory collection' || layer.type === 'geography'" class="title">{{isSmallScreen? (layer.data.name | truncate:'end':6) : (layer.data.name | truncate: 'middle':16:6)}}</span>
              <div fxLayout="column">
                <span *ngIf="layer.type === 'place'" class="title" title="{{layer?.data?.properties?.location_name}}">{{isSmallScreen?(layer?.data?.properties?.location_name | truncate:'end':6) : (layer?.data?.properties?.location_name | truncate: 'middle':16:6)}}</span>
                <span *ngIf="layer.type === 'geopathId'" class="title">Geopath ID  {{layer.data}}</span>
                <span *ngIf="layer.type === 'place' && layer?.data?.properties?.address as address" class="title caption" title="{{((address.street_address ? address?.street_address + ',' : '' ) + '' + address?.city  +',' + (address?.state | uppercase) + ',' + address?.zip_code )}}">{{isSmallScreen?(((address?.street_address ? address?.street_address + ',' : '' ) + '' + address?.city  +',' + (address?.state | uppercase) + ',' + address?.zip_code ) | truncate:'end':6) : (((address?.street_address ? address?.street_address + ',' : '' ) + '' + address?.city  +',' + (address?.state | uppercase) + ',' + address?.zip_code ) | truncate: 'middle':16:6)}}</span>
                <span *ngIf="layer.type === 'geo sets'" class="title">{{layer?.data?.name}}</span>
              </div>
            </div>
            <span class="septater"></span>
            <span class="action">
              <button disableRipple class="drag-icon" title="Drag" mat-icon-button ngxDragHandle  (dndStart)="onDragStart($event)" (dndEnd)="onDragEnd($event)" >
                <mat-icon >drag_handle</mat-icon>
              </button>
              <button disableRipple class="select" mat-icon-button title="Remove"  (click)="removeLayer(layer.data, layer.type, i)">
                <mat-icon >clear</mat-icon>
              </button>
            </span>
          </div>
          <div *ngIf="layer['id']===SelectedLayerColorPalet" class="color-palet" fxFill>
            <div [ngClass]="{'disabled-panel': layer['icon'] === 'icon-wink-pb-dig'}">
              <app-color-picker (appColorChange)="onAppColorChange(layer, $event, layer.type, layer['icon'])" inputLabel="Icon Color" appColor="{{layer['color']}}" (appColorClose)="onClose($event)" ></app-color-picker>
            </div>
            <div fxLayout="column" class="shape-slection" *ngIf="layer.type !== 'geopathId'">
              <p>Icon Shape</p>
              <div>
                <div *ngFor="let icon of customIcons" class="cursor-link icons-color-space {{icon}}"
                (click)="onAppColorChange(layer, layer['color'], layer.type, icon)"
                [ngStyle]="{'color':layer['icon'] == icon && layer['color'] || ''}"></div>
                <div class="cursor-link icons-color-space icon-wink-pb-dig" [ngStyle]="{'color':layer['icon'] == 'icon-wink-pb-dig' && layer['color'] || ''}" (click)="onAppColorChange(layer, layer['color'], layer.type, 'icon-wink-pb-dig')" *ngIf="layer.type === 'inventory collection'"></div>
                <div class="cursor-link expand-icon icon icon-numbered dot" [ngStyle]="{'background-color':layer['icon'] == 'icon-numbered' && layer['color'] || ''}" (click)="onAppColorChange(layer, layer['color'], layer.type, 'icon-numbered')" *ngIf="layer['id'] === 'default'"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p *ngIf="selectedLayers.length === 0" class="non-select test-no-selected-layers">No layers added. Please add layers from left column and apply them to the map.</p>
    </div>
  </div>
</div>
