::ng-deep{
  app-job-line-items-list {
    .search-panel {
      margin-bottom: 45px;

      .mat-form-field-appearance-fill .mat-form-field-flex {
        background-color: transparent !important;
      }

      .intermx-theme-new button.imx-button-basic_icon {
        padding: 0 16px;
        height: 35px;
      }

      .search-btn {
        margin-bottom: 15px !important
      }

      .search-input {
        height: 21px;
      }

      .search-form-column {
        height: 116px;
        margin-right: 10px;
      }

      .reset-button {
        height: 35px;
      }

      .imx-button-primary {
        background: var(--primary-bg-800);
        color: #FFFFFF;
      }

      .imx-button-stroked {
        background: inherit;
        border: 1px solid !important;
        border-color: var(--primary-bg-800);
        color: var(--primary-bg-800);
        padding: 0 0.5rem !important;
        border-radius: 5px !important;
        text-transform: uppercase;
      }

      .imx-button-basic_icon {
        background: inherit;
        color: var(--primary-bg-800);
        padding: 5px;
      }

      .contracts-table {
        margin-top: 1rem;
      }

      .datepicker-label {
        font-size: 11px;
      }

    }

    .imx-input-no-border {
      height: auto;
      border: none;
    }
    .mat-form-field-subscript-wrapper{
      width: 230px;
    }

    .jobslist-date-filter {
      .mat-form-field-subscript-wrapper{
        width: 100% !important;
      }
      mat-error {
        overflow-wrap: break-word;
      }
    }

  }
  .imx-calander {
    .mat-calendar-body-disabled  .mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
      color: var(--grays-bg-400) !important;
    }
  }
}
