::ng-deep {
  app-inventory-bulk-export {
    .bulk-export-container {
      h3 {
          margin: 0 0 10px 0;
      }
      p {
        margin: 0 0 20px;
      }
      .mat-radio-label-content {
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.17px;
        line-height: 19px;
        color: var(--high-emphasis);
      }
      .modal-footer {
        & > button {
          padding: 0 10px !important;
          border-radius: 5px !important;
          -webkit-border-radius: 5px !important;
          -moz-border-radius: 5px !important;
          height: 30px !important;
          font-size: 10px;
          font-weight: bold;
          line-height: unset;
        }
      }
    }
  }
}
