.imx-tooltip-v3{
  /* Grays/800 */
  background: var(--grays-bg-800);
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 18px;
  color: #FFFFFF;
  padding: 10px;
  text-align: left;
  min-width: 200px !important;
  max-width: unset !important;
  word-wrap: break-word  !important;
}
.imx-field-tooltip {
  min-width: unset !important;
  max-width: 400px !important;
  word-wrap: break-word  !important;
  span {
    overflow: hidden;
    display: inline-block;
    max-height: 90vh !important;
    text-overflow: ellipsis;
    word-wrap: break-word  !important;
    width: 100%;  
  }
}
.imx-tooltip-project {
  max-width: 500px !important;
  word-wrap: break-word;
}