.imx-notes{
  .note-list{
    margin-top: 1rem;
    .note-details{
      max-width:26.75rem;
      p{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.15px;
        margin-bottom: 0.8rem;
        color: var(--grays-bg-800);
        word-break: break-all;
        &:last-child{
          margin-bottom:0px !important;
        }
      }
      .note-actions-main{
        button{
          height: 36px;
          line-height: 26px;
          margin-right: 2rem;
          .mat-button-wrapper{
            place-content: center;
          }
        }
      }
      .note-actions{          
        display:none;
      }       
      &:not(.enable-edit-note){
        &:hover{
          .note-actions{
            display:block;
          }  
        }
      }
      &.enable-edit-note{
        .note-actions{
          display:block !important;
        }
        .note-actions-main{
          margin-top: -1rem !important;
        } 
      }
    }
    .note-date{
      max-width:1.8rem;
      font-size: 12px;
      text-align:left;
      text-transform: uppercase;
      line-height: 18px;
      align-items: center;
      letter-spacing: 0.4px;
      color: var(--grays-bg-800);
    }
    .edit-note-input{
      .mat-form-field-label{
        font-style: normal;
        font-weight: normal;
        font-size: 13px !important;
        line-height: 16px;
        letter-spacing: 0.5px;
        text-transform: inherit !important;
      }
    }
  }
}
