.popup-container {

  position: relative;
  box-shadow: 0 -6px 18px rgba(204, 214, 221, 0.8);
  margin: 16px;

  &__close {
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    width: 22.95px;
    height: 22.5px;
    padding: 0px 0 2px 0;
    z-index: 2;
    line-height: 20px;
    display: flex;
    place-content: center;
    align-items: center;
    font-weight: 600 !important;
    color: var(--medium-emphasis) !important;
    background: var(--popup-bg-color) !important;
    position: absolute;
    top: -8px;
    right: -8px;
    cursor: pointer;
    border: 0;
  }

}
