::ng-deep{
  app-grid-item{
    .mat-card{
      padding: 10px 10px 10px 5px;
    }
    .content{
      width: 100%;
      mat-card-title{
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 18px;
        color: var(--high-emphasis);
        margin-bottom: 0;
      }
      .mat-card-subtitle{
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 15px;
        color: var(--high-emphasis);
        margin-bottom: 10px;
      }
      .mat-checkbox-layout{
        width: 100%;
        .mat-checkbox-label{
          width: 100%;
          max-width: 139px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      p{
        color: var(--high-emphasis);
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.5px;
        line-height: 15px;
        margin-bottom: 0;
      }
      button{
        color: var(--primary-bg);
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 15px;
        margin-top: 10px;
        .mat-button-focus-overlay{
          opacity: 0 !important;
        }
      }
    }
  }
}
