::ng-deep {
  app-file-upload {
    .upload-section {
      width: 100%;
      min-width: 500px;
      margin-bottom: 9px;
    }
    .drop-files {
      margin: 20px 0px;
      height: 110px;
      background-color: initial;
      display: flex;
      place-content: center;
      align-items: center;
      text-align: center;
      border-color: var(--primary-bg);
      background: var(--primary-bg);
      text-align: center;
      background: linear-gradient(
          to right,
          var(--primary-bg) 50%,
          rgba(255, 255, 255, 0) 0%
        ),
        linear-gradient(var(--primary-bg) 50%, rgba(255, 255, 255, 0) 0%),
        linear-gradient(
          to right,
          var(--primary-bg) 50%,
          rgba(255, 255, 255, 0) 0%
        ),
        linear-gradient(var(--primary-bg) 50%, rgba(255, 255, 255, 0) 0%);
      background-position: top, right, bottom, left;
      background-repeat: repeat-x, repeat-y;
      background-size: 10px 1px, 1px 10px;
    }

    .file-error-text {
      color: var(--error);
      text-align: center;
    }

    input[type="file"] {
      display: none;
    }

    .files-list {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: 10px auto;
      background: #ffffff;
      border: 1px dashed;
      border-radius: 12px;
      padding: 10px;
      color:  var(--primary-bg);
      align-items: center;
      p{
        margin-bottom: 0px;
        word-break: break-word;
      }
      .delete-file {
        margin-right: 2px;
        height: 20px;
        width: 20px;
        line-height: 20px;
        border-radius: 4px;
        background: transparent;
        box-shadow: none;
        color: var(--primary-bg);
        mat-icon {
          width: 20px !important;
          height: 20px !important;
          line-height: 20px;
          padding: 0 !important;
          font-size: 16px !important;
          color: var(--primary-bg);
        }
        .mat-button-wrapper {
          display: flex;
        }
        img {
          width: 30px;
        }
      }
    }
    .upload-file-list {
      overflow: auto;
      max-height: 130px;
    }
    .file-upload-hint {
      margin: 5px 0;
      .upload-caption {
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 15px;
        text-align: left;
        letter-spacing: 0.4px;
        color: var(--primary-bg-800);
        cursor: none !important;
        margin: 0px;
      }
    }
  }

}
