mat-radio-button{
  width: 100%;
  &:hover{
    background-color: rgba(33,33,33,0.1);
  }
}
.mat-list-option{
  border-bottom: 1px solid rgba(33,33,33,0.1);
}
.mat-icon.mat-list-icon{
  color: rgba(33,33,33,0.33);
}
.places-set-list{
  overflow: auto;
}
.mat-radio-button{
  width: 100%;
  border-bottom: 1px solid rgba(33,33,33,0.1);
}
.no-item-found{
  text-align: center;
  padding: 10px;
}
