::ng-deep{
  app-contracts-list {
    .search-panel {
      margin-bottom: 45px;
    
      .mat-form-field-appearance-fill .mat-form-field-flex {
        background-color: transparent !important;
      }

      .intermx-theme-new button.imx-button-basic_icon {
        padding: 0 16px;
        height: 35px;
      }

      .search-btn {
        margin-bottom: 15px !important
      }

      .search-input {
        height: 21px;
      }

      .search-form-column {
        height: 116px;
        margin-right: 10px;
      }

      .reset-button {
        height: 35px;
      }

      .imx-button-primary {
        background: var(--primary-bg-800);
        color: #FFFFFF;
      }

      .imx-button-stroked {
        background: inherit;
        border: 1px solid !important;
        border-color: var(--primary-bg-800);
        color: var(--primary-bg-800);
        padding: 0 0.5rem !important;
        border-radius: 5px !important;
        text-transform: uppercase;
      }

      .imx-button-basic_icon {
        background: inherit;
        color: var(--primary-bg-800);
        padding: 5px;
      }

      .contracts-table {
        margin-top: 1rem;
      }

        .datepicker-label {
          font-size: 11px;
        }

      }
    }

    .scroll-section-autocomplete {
      overflow-y: auto !important;
      max-height: 200px !important;
      padding: 0 8px 0 0;
      .mat-option{
          padding: 0 !important;
      }
    }
    .contract-autocomplete{
      padding: 0 0 0 8px !important;
    }
    .client-selection{
      input{
        border-bottom: none !important;
        height: 1rem !important;
      }
    }
    .imx-calander {
      .mat-calendar-body-disabled  .mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
        color: var(--grays-bg-400) !important;
      }
    }
    .drop-maxwidth {
      max-width: inherit !important;
    }
}
