<div class="page-body" *ngIf="selectedSite">
  <div fxLayout="row" [ngStyle]="{'justify-content': isSiteAdmin ? 'space-between' : 'flex-end'}">
    <mat-form-field class="imx-dropdown imx-input" *ngIf="isSiteAdmin">
      <mat-label>Select site</mat-label>
      <mat-select panelClass="imx-select" [(value)]="selectedSite._id" (selectionChange)="onSelectSiteChange($event.value)">
        <div class="mat-select-panel__wrapper" infiniteScroll
             (scrolled)="getSitesList(true, true)"
             [scrollWindow]="false"
             [infiniteScrollDistance]="1"
             [infiniteScrollThrottle]="0"
             [infiniteScrollDisabled]="isSitesListLoading"
             [fromRoot]="true">
          <mat-option [value]="null">Select Site</mat-option>
          <mat-option *ngFor="let site of sites" [value]="site._id">
            {{ site.siteName }}
          </mat-option>
          <mat-option disabled *ngIf="isSitesListLoading">
            <div fxLayout="row" fxLayoutAlign="space-around center" >
              <mat-spinner diameter="20"></mat-spinner>
            </div>
          </mat-option>
        </div>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button class="imx-button button-primary add-groups-button" (click)="openAddGroupDialog()" module="groups" visiblityType="create" appUserAccessPermission>{{'Add group' | uppercase}}  <mat-icon class="add-site-icon">add_circle_outline</mat-icon></button>
  </div>
  <mat-card class="table-card">
    <mat-card-content>
    <ngx-datatable
      #myTable
      [columnMode]="ColumnMode.flex"
      [headerHeight]="50"
      [footerHeight]="50"
      [rows]="rows"
      [limit]="limit"
      [sorts]="[{prop: 'name', dir: 'asc'}]"
    >
      <!-- Row Detail Template -->
      <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow (toggle)="onDetailToggle($event)">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div fxLayout="row" fxLayoutAlign="start" class="expanded-details-container" [style.paddingTop]="expanded ? '0.7rem' : '0'">
            <app-group-detail fxFlex="100"
              [groupData]="row"
              [allUsers]="users"
              [allRoles]="roles"
              (deleteGroup)="onDeleteGroup($event)"
              (cancel)="toggleExpandRow(row)"
              (saveGroup)="onSaveGroup($event)"
              (deleteGroupUsers)="onDeleteGroupUsers($event)"
              (deleteGroupRoles)="onDeleteGroupRoles($event)"
              [disableEdit]="disableEdit">
            </app-group-detail>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>
      <!-- Column Templates -->
      <ngx-datatable-column
        [resizeable]="true"
        [sortable]="false"
        [draggable]="false"
        [canAutoResize]="true"
      >
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <div [style.paddingTop]="expanded ? '0.7rem' : '0'">
            <a
              [class.datatable-icon-down]="!expanded"
              [class.datatable-icon-up]="expanded"
              title="Expand/Collapse Row"
              class="expand-row"
              (click)="toggleExpandRow(row)"
            >
            </a>
          </div>
        </ng-template>
      </ngx-datatable-column>
        <ngx-datatable-column name="Group Name" prop="name" [flexGrow]="4">
          <ng-template ngx-datatable-header-template let-column="Group Name" let-sort="sortFn" let-sortDir="sortDir">
            <a (click)="sort($event, sortDir, sortFn)">
              <mat-icon
                *ngIf="sortDir"
                class="user-mgmt-sort"
                matSuffix
                [svgIcon]="sortDir === 'asc' ? 'IMX-arrow-sort-up' : 'IMX-arrow-sort-down'"
              ></mat-icon>
              Group Name
            </a>
            <span class="details-icon" (click)="onDetailsSelectToggle()">
              <mat-icon
                matSuffix
                svgIcon="IMX-user-mgmt-table-search"
              ></mat-icon>
            </span>
            <input
              type="text"
              class="details-select"
              placeholder="Type to filter names"
              (keyup)="updateFilter($event)"
              *ngIf="isDetailsSelect"
            />
          </ng-template>
          <ng-template let-value="value" ngx-datatable-cell-template let-expanded="expanded">
            <div [style.paddingTop]="expanded ? '0.7rem' : '0'">
              <span class="primary-color">{{ value }}</span>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Roles" prop="rolesCount" [sortable]="true" [flexGrow]="3">
          <ng-template ngx-datatable-header-template let-column="Roles" let-expanded="expanded" let-sort="sortFn" let-sortDir="sortDir">
            <a (click)="sort($event, sortDir, sortFn)">
              <mat-icon
                *ngIf="sortDir"
                class="user-mgmt-sort"
                matSuffix
                [svgIcon]="sortDir === 'asc' ? 'IMX-arrow-sort-up' : 'IMX-arrow-sort-down'"
              ></mat-icon>
              Roles
            </a>
          </ng-template>
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template let-expanded="expanded">
            <div [style.paddingTop]="expanded ? '0.7rem' : '0'">
              <span>{{ value + " Roles" }}</span>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Users" prop="membersCount" [sortable]="true" [flexGrow]="3">
          <ng-template ngx-datatable-header-template let-column="Users" let-expanded="expanded" let-sort="sortFn" let-sortDir="sortDir">
            <a (click)="sort($event, sortDir, sortFn)">
              <mat-icon
                *ngIf="sortDir"
                class="user-mgmt-sort"
                matSuffix
                [svgIcon]="sortDir === 'asc' ? 'IMX-arrow-sort-up' : 'IMX-arrow-sort-down'"
              ></mat-icon>
              Users
            </a>
          </ng-template>
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-expanded="expanded">
            <div [style.paddingTop]="expanded ? '0.7rem' : '0'">
              <span>{{ value + " Users" }}</span>
            </div>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-footer>
          <ng-template
            ngx-datatable-footer-template
            let-rowCount="rowCount"
            let-pageSize="pageSize"
            let-selectedCount="selectedCount"
            let-curPage="curPage"
            let-offset="offset"
          >
            <div class="page-limit-container">
              <span class="page-limit-label">Rows</span>
              <mat-form-field class="imx-dropdown imx-input">
                <mat-label>Rows</mat-label>
                <mat-select panelClass="imx-select" [disabled]="!rows || !rows.length" [(value)]="currentPageLimit" (selectionChange)="onLimitChange($event)" class="page-limit">
                  <mat-option *ngFor="let option of pageLimitOptions" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <datatable-pager
              *ngIf="rows?.length"
              [pagerLeftArrowIcon]="'datatable-icon-left'"
              [pagerRightArrowIcon]="'datatable-icon-right'"
              [pagerPreviousIcon]="'datatable-icon-prev'"
              [pagerNextIcon]="'datatable-icon-skip'"
              [page]="curPage"
              [visiblePagesCount]="currentVisible"
              [size]="pageSize"
              [count]="rowCount"
              [hidden]="false"
              (change)="myTable.onFooterPage($event)"
            >
            </datatable-pager>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable>
    </mat-card-content>
  </mat-card>
</div>
