.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .input-autocomplete {
      border-bottom: none;
      height: 13px;
      font-size: 13px;
  }

  .select-icon {
    position: relative;
    top: 4px;
    cursor: pointer;
  }