.imx-invoice-report-details {
  .imx-invoice-report-label {
      color: var(--grays-bg-800);
      font-size: 14px;
      padding-right: 16px;
  }
  .imx-invoice-report-value {
      color: var(--grays-bg-900);
      font-size: 16px;
      line-height: 20px;
  }
  .imx-invoice-report-note {
      color: var(--grays-bg-800);
      font-size: 14px;
      border: 1px solid var(--grays-bg-800);
      border-radius: 5px;
      padding: 10px;
      line-height: 20px;
  }
  .imx-invoice-report-info {
      margin-top: 25px;
  }
}