h1 {
  color: var(--grays-bg-700);
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.15px;
  margin-bottom: 32px;
}

.row-container {
    width: 100%;
}

.mat-dialog-actions {
    margin-bottom: 0;
}
.modal-close-icon path {
  fill: var(--text-primary);
}

.modal-close-icon path {
  fill: var(--text-primary);
}

button:not(.button-primary) {
  color: var(--text-primary);
}

.button-primary {
  max-width: max-content !important;
}

.mat-dialog-actions {
  padding-top: 32px;
}

.uploaders-row {
  display: flex;

  ::ng-deep {
    .drop-files {
      width: max-content;
      padding: 1rem;
    }

    .upload-section {
      width: auto;
      margin: 1rem 2rem 1rem 0;
    }
  }
}

.signature-row {
  padding-right: 7rem;
}

.division-logos {
  height: 100px;
}
