:host {
  display: block;
  width: 250px;
  padding: 10px;
}
.color-wrapper {
  display: flex;
  height: 200px;
}

.input-wrapper {
  margin-bottom: 10px;
  display: flex;
  padding: 0px 8px 0px 0px;
  height: 32px;
  place-content: center flex-start;
  align-items: center;
  width: 265px;
}
.seprater{
  flex: 1 1 auto;
}
.input-wrapper input{
  width: 50px;
  text-transform: uppercase;
}
.palet-close-icon{
  font-size: 15px;
  color: rgba(33,33,33,0.6);
  margin-left: 42px;
  cursor: pointer;
}
.color-div {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid rgb(220, 220, 220);
}

.text {
  flex: 1;
  font-family: 'Helvetica';
  line-height: 32px;
}
