.detailed-recap-report {

  &__header{
    margin-top: 14px
  }

  &__logo{
    width: 6.25rem;
    height: 6.25rem;
    margin-top: -4px;
  }

  &__heading{
    font-weight: normal;
    color: var(--grays-bg-800);
    letter-spacing: 0.15px;
    text-align: center;

    h5 {
      font-size: 1.25rem;
      line-height: 1.563rem;
      min-width: 12.563rem;
    }
    h6{
      margin-top: 1rem;
      width: 14.938rem;
      font-size: 1rem;
      line-height: 1.25rem;
    }
  }

  &__last-generated{
    color: var(--grays-bg-800);
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-align: right;
    letter-spacing: 1px;
    margin-top: 4px;
  }

  &__table {
    &_header {
      font-size: 0.875rem;
      line-height: 1.125rem;
      letter-spacing: 1px;
      color: var(--grays-bg-800);
      margin: 0 .5rem;
      padding: .5rem 0;
      box-sizing: border-box;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &_value {
      font-size: 1rem;
      line-height: 1.25rem;
      margin: 0 .5rem;
      color: #101010;
      padding-left: .5rem;
    }
  }

  &__client-code {
    width: 5rem;
    margin: 0;
  }

  &__product-code {
    width: 5rem;
  }

  &__estimate-id {
    width: 5rem;
  }


  &__client-code-val {
    width: 1.875rem;
    padding-right: 2rem;
  }

  &__product-code-val {
    width: 1.875rem;
    padding-right: 2rem;
  }

  &__estimate-id-val {
    width: 12rem;
    padding-left: 0 !important;
  }

  &__taxes-included{
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin-top: 3.875rem;
    letter-spacing: 1px;
    color: var(--grays-bg-500);
  }

  &__right-block{
    margin-right: 8.473rem;
  }
}
