::ng-deep {
  app-records-management-menu-v2 {
    .records-managment-menu {
      padding: 25px 25px 0 30px;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          padding: 8px;

          a {
            font-size: 15px;
            font-weight: 500;
            color: var(--grays-bg-800);

            &.active, &:hover {
              color: var(--primary-bg-900);
              border-bottom:1px solid;
            }
          }
        }
      }
    }
  }
}
