<div class="records-managment-menu">
  <ul>
    <li module="vendor_general" visiblityType="menu" appUserAccessPermission><a [routerLink]="'/records-management-v2/vendors'" class="tableau-link" routerLinkActive="active">Vendors</a></li>
    <li module="client_general" visiblityType="menu" appUserAccessPermission><a [routerLink]="'/records-management-v2/clients'" class="tableau-link" routerLinkActive="active">Clients</a></li>
    <li module="agency" visiblityType="menu" appUserAccessPermission><a [routerLink]="'/records-management-v2/agencies'" class="tableau-link" routerLinkActive="active">Agencies</a></li>
    <li module="contacts" visiblityType="menu" appUserAccessPermission><a [routerLink]="'/records-management-v2/contacts'" class="tableau-link" routerLinkActive="active">Contacts</a></li>
  </ul>
</div>
