.remove-border {
  border-bottom: none !important;
}

.option-font-size {
  font-size: 13px;
  line-height: 3em;
  height: 3em;
}

.mat-autocomplete-panel-input {
  min-width: calc(100% + 32px) !important;
}

.special-button {
  font-weight: bold;
}