<div class='placeDetailSheetPopup'>
  <!-- <div fxLayout="row" fxLayoutAlign="space-between start" class='panel_nav' *ngIf="placeDetail['type'] == 'map'">
    <a href="javascript:void(0);" class="prev">
      <mat-icon class="prev">keyboard_arrow_left</mat-icon>
    </a>
    <div class='panel_nav_text'> {{ placeDetail['current'] }}/{{ placeDetail['length'] }}</div>
    <a href="javascript:void(0);" class="next">
      <mat-icon class="chevron-right next">keyboard_arrow_right</mat-icon>
    </a>
  </div> -->
  <form [formGroup]="requestAuditForm">
  <div class="popupHeader" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex="50">
      <h4>{{(suggestedData['place_name'] && suggestedData['place_name']['suggestion'] && suggestedData['place_name']['suggestion'] || placeDetail['place_name'] && placeDetail['place_name']) | truncate:'middle':35}}</h4>
      <div class="body-1"> <a class="alink"><mat-checkbox formControlName="placeName" value="Place Name" > Add to Audit Request </mat-checkbox></a> |
        <app-single-text-suggestion [data]="suggestedData['place_name'] && suggestedData['place_name'] || {} " (onToggleSuggestion) = "toggleSuggestion('place_name', $event)" (onSaveSuggestion) = "saveSuggestion('place_name', 'placeName', $event)"></app-single-text-suggestion>
      </div>

      <div class="subtitle-1">
        {{suggestedData['street_address'] && suggestedData['street_address']['suggestion'] && suggestedData['street_address']['suggestion'] || placeDetail['properties']['address']['street_address']}}{{", " + placeDetail['properties']['address']['city'] | titlecase}} {{placeDetail['properties']['address']['state'] | uppercase}} {{placeDetail['properties']['address']['zip_code']}}
      </div>
      <div>
        <a class="alink"><mat-checkbox formControlName="address"> Add to Audit Request </mat-checkbox></a> | <app-single-text-suggestion [data]="suggestedData['street_address'] && suggestedData['street_address'] || {} " (onToggleSuggestion) = "toggleSuggestion('street_address', $event)" (onSaveSuggestion) = "saveSuggestion('street_address','address', $event)"></app-single-text-suggestion>
      </div>
    </div>
    <div fxFlex="50">
      <div class="selectAllAuditCheck">
        <mat-checkbox (change)="onSelectAllRequest($event)" [checked]="selectedAllAudit" [indeterminate]="interAllAudit">Select All</mat-checkbox>
      </div>

    </div>
    <!-- <div fxFlex="50">
      <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-raised-button class="btn-primary-color" type="button">
          <mat-icon>vertical_align_bottom</mat-icon>
          <span>Export PDF</span>
        </button>
        <div id = "show_menu" class="mat-menu-panel ng-trigger ng-trigger-transformMenu ng-tns-c18-29 mat-menu-before mat-menu-above mat-elevation-z4 ng-star-inserted" role="menu" tabindex="-1">
          <div class="mat-menu-content">
            <a _ngcontent-c26="" class="mat-menu-item" id="e2e-openSavePlaseSetDialogNew" mat-menu-item="" role="menuitem" tabindex="0" aria-disabled="false">Save as New Place Set</a>
            <a _ngcontent-c26="" class="pre-line mat-menu-item" id="e2e-openSaveToExistingPlaseSetNew" mat-menu-item="" role="menuitem" tabindex="0" aria-disabled="false">Add Places to Another Place Set</a>
          </div>
        </div>
        <button mat-raised-button class="btn-primary-color primaryBtn" type="button" id="place_list">
          <mat-icon>add</mat-icon>
          <span>Add to Place List</span>
        </button>
        <div class="selectYearDD">
          <mat-form-field>
            <mat-label>SELECT PERIOD</mat-label>
            <select matNativeControl id="selectPeriod">
              <option value="Last Month">Last Month</option>
              <option value="Last Quarter">Last Quarter</option>
              <option value="Year-to-Month">Year-to-Month</option>
              <option value="Last Year">Last Year</option>
              <option value="Last Year, Last Month">Last Year, Last Month</option>
              <option value="Last Year, Last Quarter">Last Year, Last Quarter</option>
            </select>
          </mat-form-field>
        </div>
      </div>
    </div> -->
    <div class="close-request">
      <button mat-mini-fab (click)="closeRequestAudit()"><mat-icon>close</mat-icon></button>
    </div>
  </div>
  <div class="imx-divider">
    <mat-divider></mat-divider>
  </div>
  <div fxLayout="row" fxFill fxLayoutAlign="start stretch" class="placeDetailBlock" [ngStyle]="{'height.px': dialogContentHeight}" (window:resize)="onResize()"
    >
    <div [ngStyle]="{'height.px': contentHeight}" (window:resize)="onResize()" class="main-content-audit">
    <div>
      <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="20px" class="brand-panel-audit">
        <div class="body-1 box-view">Brands:
          <b>{{(suggestedData['brands'] && suggestedData['brands']['suggestion'] && suggestedData['brands']['suggestion'] || (placeDetail['properties']['brands'] && placeDetail['properties']['brands'] || '-')) | truncate : 'middle': 20}}</b>
          <div><a class="alink"><mat-checkbox formControlName="brands"> Add to Audit Request </mat-checkbox></a> | <app-single-text-suggestion [data]="suggestedData['brands'] && suggestedData['brands'] || {} " (onToggleSuggestion) = "toggleSuggestion('brands', $event)" (onSaveSuggestion) = "saveSuggestion('brands', 'brands', $event)"></app-single-text-suggestion></div>
        </div>
        <div class="box-view align-item-center">
          <div fxLayout="row" fxLayoutAlign="start"  fxLayoutGap="40px">
            <div class="body-1">Industry: <b>{{suggestedData['top_category'] && suggestedData['top_category']['suggestion'] && suggestedData['top_category']['suggestion'] || placeDetail['properties']['top_category'] | truncate : 'middle': 20}}</b>
            </div>
            <div class="body-1">Sub-Industry: <b>{{suggestedData['sub_category'] && suggestedData['sub_category']['suggestion'] && suggestedData['sub_category']['suggestion'] || placeDetail['properties']['sub_category'] | truncate : 'middle': 20}}</b>
            </div>
            <div class="body-1">NAICS: <b>{{suggestedData['naics_code'] && suggestedData['naics_code']['suggestion'] && suggestedData['naics_code']['suggestion'] || placeDetail['properties']['naics_code'] | truncate : 'middle': 20}}</b></div>
          </div>
          <div><a class="alink"><mat-checkbox formControlName="industry"> Add to Audit Request </mat-checkbox></a>
            <a class="button-primary-link suggestionLink" *ngIf="!suggestedData['industry'] || !suggestedData['industry']['state']" (click)="toggleIndustrySuggestion(true)">
              <span *ngIf="suggestedData['industry'] && suggestedData['industry']['suggestion']; else suggestChange">Edit Suggestion</span>
              <ng-template #suggestChange>Suggest Changes</ng-template>
            </a>
          </div>
          <div class="suggestion-changes" *ngIf="suggestedData['industry'] && suggestedData['industry']['state']">
            <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="5px" formGroupName="industryValues">
              <mat-form-field>
                <input matInput placeholder="Enter Suggestion for Industry" formControlName='top_category'/>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Enter Suggestion for Sub-Industry" formControlName="sub_category"/>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Enter Suggestion for NAICS" formControlName="naics_code"/>
              </mat-form-field>
              <button mat-raised-button class="close-btn" (click)="toggleIndustrySuggestion(false)">
                <mat-icon>close</mat-icon>
              </button>
              <button mat-raised-button class="apply-btn uppercase" (click)="saveIndustrySuggestion()">SAVE</button>
            </div>
          </div>
        </div>
        <!-- <div class="body-1">IMX ID: <b>XXXXXX</b></div> -->
      </div>
    </div>
    <div >
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" class="imx-mt-20 audit-content-scroll" >
        <div class="posRel" fxFlex="27">
         <!-- Commented on 04/12/2019 because of https://intermx.atlassian.net/browse/IMXUIPRD-1030
          <div class="box-view-sample width312">
            <div class="box-title">
              <h6>Where Visitors Work</h6>
              <span fxFlex="1 1 auto"></span>
              <mat-icon class="heading-icon">business</mat-icon>
            </div>
            <div class="box-content-body">
                <div>
                    <div  class="sampleData" *ngIf="isAudit">
                        <span>Sample Data</span>
                    </div>
                      <p class="body-1" *ngIf="isAudit">Avg. Distance Travelled from Work: <b>24mi</b></p>
                      <div fxFlexFill fxLayout="row" fxLayoutAlign="start start" *ngIf="isAudit">
                        <div>
                          <table id="show-and-less-work" class="show-more-filter">
                              <ng-container *ngFor="let x of whereVisitorsLiveAndWorkStaticData; let i = index">
                                <tr>
                                  <td>{{i + 1}}. {{x.name}}</td>
                                  <th>{{x.value}}</th>
                                </tr>
                              </ng-container>
                            </table>
                          &lt;!&ndash; <div *ngIf="whereVisitorsLiveAndWorkStaticData.length > 4" class="show-more-action">
                            <mat-icon class="mat-icon-rtl-mirror arrow-down-visitors-work">
                              keyboard_arrow_down
                            </mat-icon>
                            <mat-icon class="mat-icon-rtl-mirror arrow-up-visitors-work display-show-and-less">
                              keyboard_arrow_up
                            </mat-icon>
                            <button mat-button type="button" id="moreAndLessBtnVisitorsWork" class="show-btn">More Items</button>
                          </div> &ndash;&gt;
                          &lt;!&ndash; <a class="less-more-link popup-tra-work-link"> <mat-icon>{{ isTraWorkMore && 'keyboard_arrow_down' || 'keyboard_arrow_up'}}</mat-icon> {{ isTraWorkMore && 'More Items' || 'Fewer Items'}} </a> &ndash;&gt;
                        </div>
                        <div class="imx-ml-15">
                          <img src="../../../assets/images/visitor_work.png" alt="">
                        </div>
                      </div>
                </div>
              <div class="no-audit-content" *ngIf="!isAudit">
                <div>
                  <p class="medium-emphasis">Once audited, this insights will provide the neighborhoods where visitors to this place work. </p>
                </div>
              </div>
              <div class="item-center">
                  <a class="alink"><mat-checkbox formControlName="visitorsWork"> Add to Audit Request </mat-checkbox></a>
                  <span fxFlex="1 1 auto"></span>
                  &lt;!&ndash; <a class="alink">Suggest Changes</a> &ndash;&gt;
              </div>
            </div>
          </div>
          <div class="imx-mt-20 posRel box-view-sample width312" >
            <div class="box-title">
              <h6>Where Visitors Live</h6>
              <span fxFlex="1 1 auto"></span>
              <mat-icon class="heading-icon">home</mat-icon>
            </div>
            <div class="box-content-body">
                <div>
                    <div class="sampleData">
                      <span>Sample Data</span>
                    </div>
                    <p class="body-1">Avg. Distance Travelled from Home: <b>24mi</b></p>
                    <div fxFlexFill fxLayout="row" fxLayoutAlign="start start">
                      <div>
                        <table id="show-and-less-live" class="show-more-filter">
                          <ng-container *ngFor="let x of whereVisitorsLiveAndWorkStaticData; let i = index">
                            <tr>
                              <td>{{i + 1}}. {{x.name}}</td>
                              <th>{{x.value}}</th>
                            </tr>
                          </ng-container>
                        </table>
                        &lt;!&ndash; <div *ngIf="whereVisitorsLiveAndWorkStaticData.length > 4" class="show-more-action">
                                                  <mat-icon class="mat-icon-rtl-mirror arrow-down">
                                                    keyboard_arrow_down
                                                  </mat-icon>
                                                  <mat-icon class="mat-icon-rtl-mirror arrow-up display-show-and-less">
                                                    keyboard_arrow_up
                                                  </mat-icon>
                                                  <button mat-button type="button" id="moreAndLessBtn" class="show-btn">More Items</button>
                                                </div> &ndash;&gt;
                      </div>
                      <div class="imx-ml-15">
                        <img src="../../../assets/images/visitor_live.png" alt="">
                      </div>
                    </div>
                  </div>
              <div class="item-center">
                  <a class="alink"><mat-checkbox formControlName="visitorsLive" > Add to Audit Request </mat-checkbox></a>
                  <span fxFlex="1 1 auto"></span>
                  &lt;!&ndash; <a class="alink">Suggest Changes</a> &ndash;&gt;
              </div>
            </div>
          </div>-->
          <div class="imx-mt-20 posRel box-view-sample width312" >
            <div class="box-title">
              <h6>Hours of Operation</h6>
              <span fxFlex="1 1 auto"></span>
              <mat-icon class="heading-icon">av_timer</mat-icon>
            </div>
            <div class="box-content-body">
            <div *ngIf="(operationHours| json) != '{}';else operationHoursNotDefined">
                <table >
                  <ng-container *ngFor="let hour of operationHours | geokeys">
                    <tr>
                      <td >{{hour['key']  | titlecase}} :</td>
                      <th>{{hour['value']['open']}} - {{hour['value']['close']}}</th>
                    </tr>
                  </ng-container>
                </table>
              </div>
              <ng-template #operationHoursNotDefined>
                  <div class="posRel">
                    <div class="sampleData" >
                        <span>Sample Data</span>
                      </div>
                    <table>
                      <tr>
                        <td >Mon :</td>
                        <th>10.00 AM - 6.00 PM</th>
                      </tr>
                      <tr>
                        <td >Tue :</td>
                        <th>10.00 AM - 6.00 PM</th>
                      </tr>
                      <tr>
                        <td >Wed :</td>
                        <th>10.00 AM - 6.00 PM</th>
                      </tr>
                      <tr>
                        <td >Thu :</td>
                        <th>10.00 AM - 6.00 PM</th>
                      </tr>
                      <tr>
                        <td >Fri :</td>
                        <th>10.00 AM - 6.00 PM</th>
                      </tr>
                      <tr>
                        <td >Sat :</td>
                        <th>10.00 AM - 6.00 PM</th>
                      </tr>
                    </table>
                  </div>
                </ng-template>
              <div class="item-center imx-mt-5">
                  <a class="alink"><mat-checkbox formControlName="hoursOperation" > Add to Audit Request </mat-checkbox></a>
                  <span fxFlex="1 1 auto"></span>
                  <!-- <a class="alink">Suggest Changes</a> -->
              </div>
            </div>
          </div>
          <div class="imx-mt-20 posRel box-view-sample width312" >
              <div class="box-title">
                <h6>Device Type</h6>
                <span fxFlex="1 1 auto"></span>
                <!-- <mat-icon class="heading-icon">av_timer</mat-icon> -->
              </div>
              <div class="box-content-body">
                  <div class="block div-w-185" *ngIf="isAudit">
                      <div>
                        <app-donut-chart *ngIf="deviceCount > 0" [data]="placeDetail.properties.measures.device_type"></app-donut-chart>
                      </div>
                </div>
                <div *ngIf="!isAudit">
                    <img src="../../../assets/images/device-type.png" alt="">
                </div>
                <div class="item-center imx-mt-10">
                    <a class="alink"><mat-checkbox formControlName="deviceType" > Add to Audit Request </mat-checkbox></a>
                    <span fxFlex="1 1 auto"></span>
                    <!-- <a class="alink">Suggest Changes</a> -->
                </div>
              </div>
            </div>
        </div>
        <div class="imx-mlr-20" fxFlex="40">
          <div class="imx-mb-20 box-view-sample width425">
            <div class="box-title">
                <h6>Popularity by Hour</h6>
                <span fxFlex="1 1 auto"></span>
                <mat-icon class="heading-icon">access_time</mat-icon>
            </div>
            <div class="box-content-body posRel">
              <div>
                  <ng-template [ngIf]="popularityByHours.length > 0  && isAudit">
                      <graph-line-chart [data]='popularityByHours' [options]="chartConfig"></graph-line-chart>
                  </ng-template>
              </div>
              <div class="no-audit-content" *ngIf="!isAudit">
                <ng-template [ngIf]="!isAudit">
                    <img src="../../../assets/images/by_hours.png" alt="">
                    <div class="overlayData">
                      <div><p class="medium-emphasis">Once audited, this insights will allow you to see the distribution of activity across the day.</p>
                      </div>
                    </div>
                  </ng-template>
              </div>
              <div class="item-center">
                  <a class="alink"><mat-checkbox formControlName="byHours"> Add to Audit Request </mat-checkbox></a>
                  <span fxFlex="1 1 auto"></span>
                  <!-- <a class="alink">Suggest Changes</a> -->
              </div>
            </div>
          </div>

          <div class="imx-mb-20 box-view-sample width425">
            <div class="box-title">
                <h6>Popularity by Day of Week</h6>
                <span fxFlex="1 1 auto"></span>
                <mat-icon class="heading-icon">today</mat-icon>
            </div>
            <div class="box-content-body posRel">
              <div>
                  <ng-template [ngIf]="popularityByDays.length  > 0 && isAudit">
                    <graph-line-chart [data]='popularityByDays' [options]="chartConfig"></graph-line-chart>
                  </ng-template>
              </div>
              <div class="no-audit-content" *ngIf="!isAudit">
                  <ng-template [ngIf]="!isAudit">
                      <img src="../../../assets/images/by_day_of_week.png" alt="">
                      <div class="overlayData">
                        <div><p class="medium-emphasis">Once audited, this insights will allow you to see the distribution of activity across the week. </p>
                        </div>
                      </div>
                    </ng-template>
              </div>
              <div class="item-center">
                  <a class="alink"><mat-checkbox formControlName="byDayOfWeek"> Add to Audit Request </mat-checkbox></a>
                  <span fxFlex="1 1 auto"></span>
                  <!-- <a class="alink">Suggest Changes</a> -->
                </div>
            </div>
          </div>

          <div class="box-view-sample width425">
            <div class="box-title">
                <h6>Popularity by Month of Year</h6>
                <span fxFlex="1 1 auto"></span>
                <mat-icon class="heading-icon">date_range</mat-icon>
            </div>
            <div class="box-content-body posRel">
              <div>
                  <ng-template [ngIf]="popularityByDays.length  > 0 && isAudit">
                      <graph-line-chart [data]='popularityByMonths' [options]="chartConfig"></graph-line-chart>
                    </ng-template>
              </div>
              <div class="no-audit-content" *ngIf="!isAudit">
                  <ng-template [ngIf]="!isAudit">
                      <img src="../../../assets/images/by_month_of_year.png" alt="">
                      <div *ngIf="!isAudit" class="overlayData">
                      <div>
                        <p class="medium-emphasis">Once audited, this insights will allow you to see the distribution of activity across the
                          year. </p>
                      </div>
                      </div>
                    </ng-template>
              </div>
                <div class="item-center">
                    <a class="alink"><mat-checkbox formControlName="byMonthOfYear"> Add to Audit Request </mat-checkbox></a>
                    <span fxFlex="1 1 auto"></span>
                    <!-- <a class="alink">Suggest Changes</a> -->
                </div>
            </div>
          </div>

        </div>
        <div class="third-block" fxFlex="25">
          <div class="imx-mb-20 box-view-sample width-312 dwellBox">
            <div class="box-title">
                <h6>Average Dwell Time</h6>
                <span fxFlex="1 1 auto"></span>
                <mat-icon class="heading-icon">person_pin_circle</mat-icon>
            </div>
            <div class="box-content-body">
              <div *ngIf="isAudit || (suggestedData['median_dwell'] && suggestedData['median_dwell']['suggestion'])">
                <p class="number-h1">
                  {{(suggestedData['median_dwell'] && suggestedData['median_dwell']['suggestion'] && suggestedData['median_dwell']['suggestion'] || (placeDetail['properties']['measures']['median_dwell'] && placeDetail['properties']['measures']['median_dwell'] || 0)) | number :'1.1-1'}} min.</p>
              </div>
              <div class="no-audit-content" *ngIf="!isAudit && !(suggestedData['median_dwell'] && suggestedData['median_dwell']['suggestion'])">
                  <div>
                    <p class="medium-emphasis"> Once audited, this insights will allow you to see the average length of visits to this place</p>
                  </div>
              </div>
              <div class="item-center" [ngClass]="{'enable-suggestion': suggestedData && suggestedData['median_dwell'] && suggestedData['median_dwell']['state']}">
                <a class="alink"><mat-checkbox formControlName="avgDwellTime"> Add to Audit Request </mat-checkbox></a>
                <span fxFlex="1 1 auto"></span>
                  <!-- <a class="alink">Suggest Changes</a> -->
                  <div> <app-single-text-suggestion [data]="suggestedData['median_dwell'] && suggestedData['median_dwell'] || {} " (onToggleSuggestion) = "toggleSuggestion('median_dwell', $event)" (onSaveSuggestion) = "saveSuggestion('median_dwell', 'avgDwellTime', $event)"></app-single-text-suggestion>
                </div>
              </div>

            </div>
          </div>

          <div  class="imx-mb-20 box-view-sample width-312">
            <div class="box-title">
                <h6>Same Day Visits</h6>
                <span fxFlex="1 1 auto"></span>
                <mat-icon class="heading-icon">today</mat-icon>
            </div>
            <div class="box-content-body">
              <div
              *ngIf="isAudit && (placeDetail['properties']['measures'] && placeDetail['properties']['measures']['related_same_day_brand'])">
                <p *ngFor="let place of placeDetail['properties']['measures']['related_same_day_brand'];let i = index"
                  class="imx-mb-5">{{i+1}}. {{place | truncate:'middle':10 | titlecase}}</p>
              </div>
                <div class="no-audit-content" *ngIf="!isAudit">
                    <div>
                      <p class="medium-emphasis">Once audited, this insights will allow you to see the average length of visits to this place.</p>
                    </div>
                </div>
                <div class="item-center">
                    <a class="alink"><mat-checkbox formControlName="dayVisit"> Add to Audit Request </mat-checkbox></a>
                    <span fxFlex="1 1 auto"></span>
                    <!-- <a class="alink">Suggest Changes</a> -->
                  </div>
              </div>
          </div>

          <div  class="imx-mb-20 box-view-sample width-312">
            <div class="box-title">
                <h6>Same Month Visits</h6>
                <span fxFlex="1 1 auto"></span>
                <mat-icon class="heading-icon">date_range</mat-icon>
            </div>
            <div class="box-content-body">
                <div
                *ngIf="isAudit && (placeDetail['properties']['measures'] && placeDetail['properties']['measures']['related_same_month_brand'])">
                <p *ngFor="let place of placeDetail['properties']['measures']['related_same_month_brand']; let i = index"
                  class="imx-mb-5">{{i+1}}. {{place | truncate:'middle':10 | titlecase}}</p>
              </div>

              <div class="no-audit-content" *ngIf="!isAudit">
                <div>
                  <p class="medium-emphasis">Once audited, this insights will allow you to see the average length of visits to this place.</p>
                </div>
              </div>
              <div class="item-center">
                  <a class="alink request-Audit-link" ><mat-checkbox formControlName="monthVisit"> Add to Audit Request </mat-checkbox></a>
                  <span fxFlex="1 1 auto"></span>
                  <!-- <a class="alink">Suggest Changes</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>  <!-- close left content-->
    <div class="request-audit-box">
      <h6>Request an Audit</h6>
      <p>You have included the sections below into your audit request.</p>

      <ul class="unit-test-selected-audit">
        <li *ngFor="let selectedAudit of selectedRequestAudits" >{{selectedAudit.name}} <span fxFlex="1 1 auto"></span> <mat-icon (click)="onRemoveAudit(selectedAudit.id)" title="Remove">close</mat-icon> </li>
      </ul>
      <div *ngIf="selectedRequestAudits.length<=0"><p> No Data Found </p></div>
      <div class="imx-divider white-color imx-mb-20">
          <mat-divider></mat-divider>
      </div>
      <div class="request-action">
          <button mat-button class="btn-primary-color unit-test-clear-all" type="button" (click)="onClearAll()">
              <mat-icon>close</mat-icon>
              <span>Clear All</span>
          </button>
          <button mat-raised-button class="btn-primary-color unit-request-audit-submit" type="button" (click)="onSubmitAuditRequest()">
              <mat-icon>check</mat-icon>
              <span>Submit Audit Request</span>
          </button>
      </div>
    </div>
  </div>
  <div class="imx-divider">
    <mat-divider></mat-divider>
  </div>
</form>
  <div class="popupActionBlock" fxLayoutAlign="end center">
    <button mat-raised-button class="btn-primary-color" id="detailSheetBtn" type="button" (click)="onReturnDetailsSheet()">
      <mat-icon>undo</mat-icon>
      <span>Return to Detail Sheet</span>
    </button>
    <!-- <button mat-raised-button class="btn-primary-color" id="sampleStatisticsBtn" type="button" *ngIf="isAudit">
      <mat-icon>redo</mat-icon>
      <span>Sampling Statistics and More Details</span>
    </button> -->
  </div>
</div>
