@import "/src/assets/mixins/mixin-sticky-column-left-fix";
    table {
      width: 100%;
    }

    .mat-cell-contract {
      word-break: break-word;
    }

    th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
      border: none !important;
    }

    .id-cell {
      text-align: center !important;
    }

    .mat-table .mat-header-row .mat-header-cell {
      text-align: start;
    }

    a:not([href]):not([tabindex]) {
      color: var(--primary-bg-800);
  }

    .vlist-header-action{
      width:100%;
      background: #ffffff;
      padding: 0.5rem 1rem;
      border-bottom: 1px solid;
      border-color: var(--grays-bg-400);
      mat-icon{
        color:var(--primary-bg);
        cursor: pointer;
        &.tune-icon{
          transform: rotate(90deg);
        }
      }

      .full-screen-exit-icon{
        padding: 3px;
        border-radius: 4px;
        path, line {
          stroke: var(--white-color);
        }
        background-color: var(--primary-bg);
      }
    }



    .svg-primary{
      path, line {
        stroke: var(--primary-bg);
      }
    }

    .vendor-list-main{
      padding-right:30px;
    }
    .vlist-header{
      width:100%;
    }

    .vlist-body{
      margin-top: 20px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }
    .header-button{
      padding-right: 40px;
    }

    .noDataFound{
      width: 100%;
      background: #fff;
      margin:.25rem 0px;
      text-align: center;
      p{
        font-size: 1.75rem;
        line-height: 2.313rem;
        font-weight:400;
        text-align: center;
        color: var(--grays-bg-800);
      }
      img{
        height: 13.5rem;
      }
    }
    .vlist-pagination{
      background: #fff;
      position: relative;
      min-height: 48px;
      max-height: 48px;
      border-top: 1px solid;
      &.no-top-border{
        border:none;
      }
      border-color: var(--grays-bg-400);
      .spiner-div{
      position: absolute;
      align-items: center;
      display: flex;
      place-content: center;
      width: 100%;
      top: 12px;
      }

    }
    .vendor-group-input{
      width: 210px;
      .small-font{
        font-size: 11px;
      }
      input{
        height: auto;
        border-bottom: unset;
      }
    }
    .optional-option{
      color: var(--low-emphasis);
    }
    .vendor-name-td{
      position: relative;
      align-items: center;
      display: flex;
    }


    ::ng-deep{

      app-contracts-list-table{
        .mat-sort-header-container {
          border-bottom: none !important;
        }
      }

      .error-field-extra-width {
        &.mat-form-field-invalid {
          .mat-form-field-subscript-wrapper {
            width: 238px;
          }
        }
      }
      .vendor-list-dialog-fullscreen {
        max-width: 90vw !important;
        .mat-dialog-container {
          padding: 0px;
          overflow: hidden;
        }
        .vendor-list-main {
          padding-right: 0px;
        }
        .vlist-table-parent {
          width: auto;
          min-width: 100%;
          min-height: calc(80vh - 56px) !important;
          max-height: calc(80vh - 56px) !important;
        }
        .vlist-body {
          margin-top: 0px !important;
        }
        .full-screen-exit-icon{
          padding: 3px;
          border-radius: 4px;
          path, line {
            stroke: var(--white-color);
          }
          background-color: var(--primary-bg);
        }
        .noDataFound{
          min-height: calc(80vh - 160px) !important;
          img {
            height: 100% !important;
          }
        }
      }

        .mat-sort-header-sorted .mat-sort-header-arrow {
          opacity: 1 !important;
          transform: translateY(0%) !important;
        }
        margin-top: -22px;
        .vlist-table-parent{
          width:calc(99vw - 260px);
          overflow:auto;
          background: #ffffff;
          min-height: calc(60vh - 56px) !important;
          max-height: calc(60vh - 56px) !important;
        }
        .search-btn{
          width : 96px;
          height : 34px;
          line-height:34px;
        }
        /*.mat-column-currentFlag, .mat-column-parentFlag{
          span{
            left: 20%;
            position: relative;
          }
        }*/
        .vendor-type-field{
          margin-left:14px;
        }
        .imx-input-no-border{
          height:auto;
          border: none;
        }
        .mat-paginator {
          .mat-paginator-container{
            height: 48px;
            min-height: 48px;
            max-height: 48px;
          }
          .mat-paginator-page-size{
            max-height: 48px;
            align-items: center;
          }
          .mat-paginator-range-actions {
            min-height: 48px;
            max-height: 48px;
          }
          .mat-paginator-page-size-select {
            .mat-form-field-underline {
              display: none;
            }
            .mat-form-field-infix {
              border: 1px solid var(--grays-bg-600);
              border-radius: 5px;
              padding: 5px;
              margin-top: 10px;
            }
          }
          .mat-paginator-range-actions{
            .mat-paginator-range-label{
              display: none;
            }
          }
        }
        .mat-table{
          min-width: fit-content; // Added min-width based on figma
          mat-row{
            border: none;
            mat-cell{
              word-break: break-word;
              word-wrap: break-word;
              &.mat-table-sticky{
                z-index: 0 !important;
              }
            }
          }
          mat-cell, mat-header-cell {
            .mixin-sticky-column-left-fix(160px);
          }
        }
        width: 100%;
        .svg-primary{
          path, line {
            stroke: var(--primary-bg);
          }
        }
        mat-header-row{
          z-index: 1 !important;
        }
        .vlist-header-action{
          width:100%;
          background: #ffffff;
          padding: 0.5rem 1rem;
          // border-bottom: 1px solid;
          // border-color: var(--grays-bg-400);
          mat-icon{
            color:var(--primary-bg);
            cursor: pointer;
            &.tune-icon{
              transform: rotate(90deg);
            }
          }
          .total-record{
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: var(--grays-bg-700);
          }
        }
        /*.mat-column-action{
          .action-btn-main{
            position: absolute;
            .action-btn{
              top: -12px;
              position: absolute;
              right: -15px;
            }
          }
        }*/

        /*.action-btn-main{
          position: absolute;
          z-index: 1;
        }*/
        .mat-column-state{
          place-content:center;
        }
        mat-header-cell{
          &.mat-column-state{
            .mat-sort-header-sorted{
              display: flex;
              .mat-sort-header-content{
                order:2;
              }
              .mat-sort-header-arrow{
                display:flex;
                order:1;
                position:relative;
                margin-right: 5px !important;
              }
            }
            .mat-sort-header-arrow{
              left: inherit !important;
              margin-left: -15px !important;
            }
            place-content:center;
          }
        }

      .placeholder-default{
        .mat-select-value-text{
          color: var(--low-emphasis);
        }
      }

      .vendor-group-autocomplete{
        min-width:160px !important;
        max-height: 14.375rem;
        overflow-y: auto;
      }

      .vendor-delete-dialog{
        h3,.modal-description{
          word-break: break-word;
        }
      }
      .vendor-name-search-field{
        &:not(.mat-form-field-should-float){
          .mat-form-field-label{
            text-transform: inherit !important;
          }
        }
      }

      .autocomplete-scroll {
        .vendor-group-autocomplete{
          max-height: 14.375rem;
          overflow-y: auto;
        }

        // &.mat-autocomplete-panel{
        //   overflow-y: hidden !important;
        //   padding-right: 0 !important;
        // }
      }
      .mat-column-contractId{
        .mat-sort-header-container{
          .mat-sort-header-button{
            border-bottom: none !important;
          }
        }
      }
    }
