<div class="clist-body" fxLayout="column" fxLayoutAlign="start start" fxFill>
  <section fxLayout="row" class="clist-header-action">
    <div fxFlex="20" class="total-record" fxLayoutAlign="start center" *ngIf="!searchFilterApplied">
      Total : {{clientsPagination?.total || 0}}
    </div>
    <div fxFlex="20" class="total-record" fxLayoutAlign="start center" *ngIf="searchFilterApplied">
      Found : {{clientsPagination?.found || 0}}
    </div>
    <div fxFlex="80" fxLayoutAlign="end" fxLayoutGap="1.2rem">
      <div *ngIf='searchFilterApplied && !isSearchInValid' tooltip='Refresh' placement='top' delay='200'
           tooltipClass='imx-tooltip-v3' customClass='imx-field-tooltip'>
        <mat-icon class='close-icon' svgIcon='IMX-refresh' (click)='refreshLineItems()'></mat-icon>
      </div>
      <div tooltip="Customize Columns" placement="top" delay="200" tooltipClass="imx-tooltip-v3" customClass="imx-field-tooltip" *ngIf="!isDialogOpenend">
        <mat-icon (click)="customizeColumn()" svgIcon="IMX-columns" class="svg-primary"></mat-icon>
      </div>
      <div *ngIf="!isDialogOpenend; else closeDialog" tooltip="Expand Table" placement="top" delay="200" tooltipClass="imx-tooltip-v3" customClass="imx-field-tooltip">
        <mat-icon (click)="openClientDialog()">zoom_out_map</mat-icon>
      </div>
      <ng-template #closeDialog>
        <mat-icon tooltip="Collapse Table" placement="top" delay="200" tooltipClass="imx-tooltip-v3" customClass="imx-field-tooltip" svgIcon="IMX-fullscreen-exit" class="full-screen-exit-icon" (click)="closeDialogBox()"></mat-icon>
      </ng-template>
    </div>

  </section>

  <section class="ctable-container" fxFill>
    <div class="clist-table-parent" [ngStyle]="{'max-height.px': scrollContent, 'min-height.px': scrollContent}" fxFill
        id="{{ isDialogOpenend ? 'client-fullscreen-scroll' : 'client-table-scroll'}}" #tableScrollRef>

      <mat-table [dataSource]="dataSource"
                 matSort (matSortChange)="onSorting($event)"
                 matSortActive="{{sortName}}"
                 matSortDirection="{{sortDirection}}"
                 matSortDisableClear
                 [matSortDisabled]="!dataSource?.data?.length"
                 class="margin-top-20 imx-table-striped table-header-auto"
                 (window:resize)="reSize()" [ngClass]="{'enable-table-scroll': hasHorizontalScrollbar}">
        <ng-container matColumnDef="clientName" sticky>
          <mat-header-cell *matHeaderCellDef fxFlex="21.25rem" mat-sort-header>Client Name</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="21.25rem" class="imx-link-cursor" (click)="openClientDetails(element)">
            <a class="primary-color-text font-weight-normal contact-name-td imx-name-wrap"  placement="right" delay="200" customClass="imx-field-tooltip" >
              {{element.clientName }}
            </a>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="mediaAgency.name">
          <mat-header-cell *matHeaderCellDef class="" fxFlex="10.625rem" mat-sort-header>Agency</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="10.625rem" class="imx-name-wrap">{{element.mediaAgency?.name}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="mediaClientCode">
          <mat-header-cell *matHeaderCellDef class="justify-content--center client-code__cell" fxFlex="8.063rem" mat-sort-header>Client Code</mat-header-cell>
          <mat-cell *matCellDef="let element" class="justify-content--center"
                    fxFlex="8.063rem">{{element.mediaClientCode}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="office.name">
          <mat-header-cell *matHeaderCellDef fxFlex="10.188rem" mat-sort-header>Office</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="10.188rem">{{element?.office?.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="managedBy.firstName">
          <mat-header-cell *matHeaderCellDef fxFlex="8.375rem" mat-sort-header>Managed By</mat-header-cell>
          <mat-cell *matCellDef="let element" fxFlex="8.375rem" class="imx-name-wrap">{{element.managedBy?.firstName}} {{element.managedBy?.lastName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="isParent">
          <mat-header-cell *matHeaderCellDef class="justify-content--center" fxFlex="3.75rem" mat-sort-header> Parent</mat-header-cell>
          <mat-cell *matCellDef="let element" class="circle-flag-main justify-content--center imx-checkbok" fxFlex="3.75rem">
            <span class="circle-flag" *ngIf="element?.isParent">P</span>
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="isCurrent">
          <mat-header-cell *matHeaderCellDef class="justify-content--center" fxFlex="6.156rem" mat-sort-header> Current</mat-header-cell>
          <mat-cell *matCellDef="let element" class="circle-flag-main justify-content--center imx-checkbok" fxFlex="6.156rem">
            <span class="circle-flag" *ngIf="element?.isCurrent">C</span>
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="updatedAt">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="9.5rem">Last Modified</mat-header-cell>
          <mat-cell *matCellDef="let element; let i = index;" class="last-column" fxFlex="9.5rem">
            <span class="lowercase" [innerHTML]="element.updatedAt | dateAgo :'new'"></span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action" [sticky]="true">
          <mat-header-cell *matHeaderCellDef fxFlex="2.5rem" class="action-menu-column" [ngStyle]="{'left.px': 339.99}"></mat-header-cell>
          <mat-cell *matCellDef="let element;let i = index" fxFlex="2.5rem" class="action-menu-column" [ngStyle]="{'left.px': 339.99}">
            <mat-icon [matMenuTriggerFor]="actionMenu" class="action-icon" [isAccessDenied]="(!userPermission?.delete && !userPermission?.create)" visiblityType="menu" module="client_general" appUserAccessPermission>more_vert</mat-icon>
            <mat-menu #actionMenu="matMenu" xPosition="before" class="action-dropdown-imx minimun-height action-menu-position action-dropdown-width table-action-position">
              <button [isAccessDenied]="!userPermission?.create" module="client_general" visiblityType="create" appUserAccessPermission mat-menu-item (click)="duplicateClient(element)">Duplicate</button>
              <button [isAccessDenied]="!userPermission?.delete" module="client_general" visiblityType="delete" appUserAccessPermission mat-menu-item (click)="deleteClient(element)">Delete</button>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; let i = index; columns: displayedColumns;" class="clist-row"></mat-row>
      </mat-table>

      <section *ngIf="dataSource?.data?.length === 0 && !isLoadingClients" class="noDataFound" fxLayout="row"
               fxLayoutAlign="center center"
               fxFill>
        <div>
          <p>No Client found with that Criteria.<br> Try searching for something else</p>

          <div [ngStyle]="{'height.px': scrollContent -190}">
            <img src="../../../assets/images/cuate.svg" alt="">
          </div>
        </div>
      </section>
    </div>

    <section class="vlist-pagination">

      <div class="spiner-div" fxLayout="row" fxLayoutAlign="center center" *ngIf="isLoadingClients">
        <mat-spinner diameter="30"></mat-spinner>
      </div>

      <mat-paginator *ngIf="dataSource?.data?.length"
                     (page)="getPageEvent($event)"
                     [length]="clientsPagination?.found || 0"
                     [pageIndex]="(clientsPagination?.page || 1) - 1"
                     [pageSize]="clientsPagination?.perPage"
                     [pageSizeOptions]="paginationSizes"
                     [showFirstLastButtons]="true">
      </mat-paginator>
    </section>
  </section>
</div>
