::ng-deep {
  app-client-view {
    width: 100%;
    padding-right: 30px;

    .c-client-view {
      padding: 30px 0 30px 30px;

      .bory-right-content {
       display:flex !important;
      }
    }

    .header {
      h4 {
        word-break: break-all;
      }
    }

    .client-products-table {
      margin-right: 2rem;
      padding-top: 1.4rem;
      overflow-y: auto;
    }

    .add-contact-btn {
      margin-right: 2rem;
    }

    .contact-tab-body {
      padding: 1.5rem 0 !important;
    }


    section.header {
      padding-right: 24px;
    }


    .imx-button-secondary, .imx-button-primary {
      height: 34px;
    }

    .vendor-tabs {
      overflow: hidden;
      margin-top: 16px;

      mat-tab-group {
        width: 100%;
      }

      .vendor-tabs-scroll {
        padding-right: 26px;
        padding-top: .5rem;
        overflow-y: auto;
      }
    }

    .back-to-link {
      font-size: 12px;
      color: var(--primary-bg);

      mat-icon {
        margin-right: 8px;
        height: 11px;
        width: 11px;
        font-size: 11px;
        line-height: 11px;
      }
    }

    .footer-block {
      padding: 1rem 0;
    }

    .enable-tabwindow-size {
      .clist-table-parent {
        max-height: 200px !important;
        min-height: 200px !important;
      }
    }

    app-logos .file-container {
      margin-top: 0 !important;
    }

    .mat-tab-body-content, .mat-tab-body{
      overflow-y: hidden;
    }
  }

  .add-product__panel {
    width: 48.125rem;
    max-width: 48.125rem !important;
    min-width: 48.125rem !important;

    .mat-dialog-container {
      padding: 8px 0 0 16px !important;
      overflow-x: hidden;
    }
  }

  .add-estimate__panel {
    width: 56.375rem;
    max-width: 56.375rem !important;
    min-width: 56.375rem !important;

    .mat-dialog-container {
      padding: 8px 0 0 16px !important;
      overflow-x: hidden;
    }
  }

  app-file-upload-v2 .upload-area-block {
    margin-bottom: 2.2rem !important;
  }
}
