@import "/src/assets/mixins/mixin-sticky-column-left-fix";
.clist-body {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  &.client-contact{
    box-shadow: unset;
    .ctable-container{
      padding-right:2.5rem;
    }
    .mat-paginator{
      box-shadow: 0 0.5px 6px rgba(0, 0, 0, 0.1);
    }
  }
}
.total-count-width{
  width: calc(100vw - 235px) !important;
}
.clist-header-action {
  width: 100%;
  // width: calc(100vw - 235px) !important;
  background: rgb(255 255 255);
  padding: 8px 16px;

  mat-icon {
    color: var(--primary-bg);
    cursor: pointer;

    &.tune-icon {
      transform: rotate(90deg);
    }
  }
  .total-record{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: var(--grays-bg-700);
  }
}


.noDataFound{
  width: 100%;
  background: #fff;
  margin:.25rem 0px;
  text-align: center;
  p{
    font-size: 1.75rem;
    line-height: 2.313rem;
    font-weight:400;
    text-align: left;
    color: var(--grays-bg-800);
  }
  img{
    height:100%;
  }
  &.common-module{
    margin:2rem 0px;
  }
}

.contact-name-td {
  mat-icon {
    position: absolute;
    left: -18px;
    font-size: 23px;
    color: var(--high-emphasis);
  }
}
.action-btn{
  position: absolute;
}


.last-column{
  position: relative;
}

::ng-deep {
  .contact-list-dialog-fullscreen {
    max-width: 90vw !important;

    .mat-dialog-container {
      padding: 0px;
      overflow: hidden;
    }
    .vendor-list-main {
      padding-right: 0px;
    }
    .clist-table-parent {
      width: auto;
      min-width: 100%;
      min-height: calc(80vh - 56px) !important;
      max-height: calc(80vh - 56px) !important;
    }
    .clist-body {
      margin-top: 0px !important;
    }
    .full-screen-exit-icon{
      padding: 3px;
      border-radius: 4px;
      path, line {
        stroke: var(--white-color);
      }
      background-color: var(--primary-bg);
    }
    .noDataFound{
      min-height: calc(80vh - 160px) !important;
    }
  }
  app-contacts-list-v2 {
    width: 100%;
    .mat-sort-header-sorted .mat-sort-header-arrow {
      opacity: 1 !important;
      transform: translateY(0%) !important;
    }
    .modular-contacts {
      .vlist-pagination, .elist-pagination {
        border: none;
      }
    }
    .vlist-pagination{
      background: #fff;
      position: relative;
      min-height: 48px;
      max-height: 48px;
      border-top: 1px solid;
      &.no-top-border{
        border:none;
      }
      border-color: var(--grays-bg-400);
      .spiner-div{
      position: absolute;
      align-items: center;
      display: flex;
      place-content: center;
      width: 100%;
      top: 12px;
      }

    }
    .mat-column-action{
      .action-btn-main{
        position: absolute;
        .action-btn{
          top: -12px;
          position: absolute;
          right: -15px;
        }
      }
    }

    .action-btn-main{
      position: absolute;
      z-index: 1;
    }

    .mat-paginator {
      border-radius: 0px 0px 4px 4px;
      .mat-paginator-container {
        height: 48px;
        min-height: 48px;
        max-height: 48px;
      }

      .mat-paginator-page-size {
        max-height: 48px;
        align-items: center;
      }

      .mat-paginator-range-actions {
        min-height: 48px;
        max-height: 48px;
      }

      .mat-paginator-page-size-select {
        .mat-form-field-underline {
          display: none;
        }

        .mat-form-field-infix {
          border: 1px solid var(--grays-bg-600);
          border-radius: 5px;
          padding: 5px;
          margin-top: 10px;
        }
      }
      .mat-paginator-range-actions{
        .mat-paginator-range-label{
          display: none;
        }
      }
    }

    mat-header-row {
      min-height: 48px !important;
    }

    .mat-table .mat-row {
      min-height: 50px !important;
      position: relative;
    }

    .mat-table {
      // overflow: auto;
      max-width: inherit;
      min-width: fit-content;
      mat-row {
        border: none;
        mat-cell {
          word-break: break-all;
          &.mat-table-sticky{
            z-index: 0 !important;
          }
          &.mat-column-state{
            place-content:center;
          }         
        }
      }

      mat-header-cell{
        &.mat-column-state{
          .mat-sort-header-sorted{
            display: flex;
            .mat-sort-header-content{
              order:2;
            }
            .mat-sort-header-arrow{
              display:flex;
              order:1;
              position:relative;
              margin-left: 0 !important;
              margin-right: 5px !important;
            }
          }
          .mat-sort-header-arrow{
            left: inherit !important;
            margin-left: -15px !important;
          }
          place-content:center;
        }
      }
      mat-cell, mat-header-cell {
        .mixin-sticky-column-left-fix(339.99px);
      }
    }

    .svg-primary{
      path, line {
        stroke: var(--primary-bg);
      }
    }


    .clist-header-action {

      > div{
        display: flex;
        align-items: center;
      }

      mat-icon {
        color: var(--primary-bg) !important;
        cursor: pointer;
        width: 22px !important;
        height: 22px !important;
        font-size: 22px !important;

        &.tune-icon {
          transform: rotate(90deg);
        }
      }
    }
    .clist-table-parent{
      border-radius: 4px 4px 0px 0px;
      width:calc(100vw - 235px);
      overflow:auto;
      background: #ffffff;
    }
  }
  .contact-delete-dialog{
    h3,.modal-description{
      word-break: break-word;
    }
  }
}
