.add-date-btn {
  cursor: pointer;
  color: var(--medium-emphasis);
  font-size: 20px;
}
.date-fields {
  margin-bottom: 5px;
}
::ng-deep{
  app-change-spot-schedules-dialog-v3{
    .mat-dialog-content{
      padding: 10px 24px;
    }
  }
  .spot-date-select-dialog{
    h4{
      font-size: 1.25rem;
    }
    .continue-btn{
      background: var(--primary-bg-800) !important;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
      color: #FFFFFF;
    }
    .cancel-btn{
      background: #FCFCFC;
      box-shadow: unset !important;
      line-height: 18px;
      text-transform: uppercase;
      color: var(--primary-bg-800) !important;
    }
  }
}