<h5 class="save-view-title" mat-dialog-title>Select Schedule Date ({{data.id}})</h5>
<div mat-dialog-content>
  <form [formGroup]="scheduleDateForm" (ngSubmit)='submitForm(scheduleDateForm)' class="pl-20">
    <mat-error *ngIf="scheduleDateForm['controls']['dates']['errors'] && scheduleDateForm['controls']['dates']['errors']['type']">{{scheduleDateForm['controls']['dates']['errors']['message']}}</mat-error>
    <div formArrayName="dates" fxLayout="column" fxLayoutAlign="center start"  class="field-area"
    *ngFor="let column of datesGroup.controls; let i = index">
      <div [formGroupName]="i" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="date-fields">
       <mat-form-field floatPlaceholder="always" class="">
          <label class="placeholder-text">Start Date #{{i + 1}}</label>
          <input matInput [matDatepicker]="picker" appDateFormat formControlName="start" readonly>
          <!--  (focus)="picker.open()" (click)="picker.open()" -->
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker  [panelClass]="'imx-calander'"></mat-datepicker>
          <mat-error *ngIf="datesGroup.controls[i]['controls']['start']['errors'] && datesGroup.controls[i]['controls']['start']['errors']['type']">{{datesGroup.controls[i]['controls']['start']['errors']['message']}}</mat-error>
        </mat-form-field>
        <mat-form-field floatPlaceholder="always" class=""> 
          <label class="placeholder-text">End Date #{{i + 1}}</label>
          <input matInput [matDatepicker]="end_picker" appDateFormat formControlName="end"  readonly>
          <!-- (focus)="end_picker.open()" (click)="end_picker.open()"  -->
          <mat-datepicker-toggle matSuffix [for]="end_picker"></mat-datepicker-toggle>
          <mat-datepicker #end_picker  [panelClass]="'imx-calander'"></mat-datepicker>
          <mat-error *ngIf="datesGroup.controls[i]['controls']['end']['errors'] && datesGroup.controls[i]['controls']['end']['errors']['type']">{{datesGroup.controls[i]['controls']['end']['errors']['message']}}</mat-error>
        </mat-form-field>
        <div *ngIf='datesGroup.controls.length > 1'><mat-icon (click) = 'deleteItem(i)' class="add-date-btn">delete</mat-icon></div>
        <!-- <div *ngIf='i >= (datesGroup.controls.length - 1)'><mat-icon (click) = 'addItem()' class="add-date-btn">add</mat-icon></div> -->
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end" class="btn-nextsize">
      <button type='button'  mat-button class="button  imx-button-secondary uppercase" mat-dialog-close> Close
      </button>
      <button type='submit' mat-button class="button  imx-button-primary uppercase"> Save </button>
    </div>
  </form>
</div>
