.time-field{
  width: 90px;
  margin-right: 10px;
}

.imx-time-label{
  min-width: 100px;
  margin-bottom: 20px;
}

.link{
  color: var(--primary-bg);
  cursor: pointer;
  margin-left: 20px;
}

.action-link-div{
  width: 100%;
  margin: 20px 0px;
}