<form
  method="post"
  class="noAnimation imx-project-form"
  [formGroup]="projectForm"
  novalidate
  autocomplete="off"
  (ngSubmit)="onSubmit(projectForm)"
>
  <h4 mat-dialog-title>{{pageTitle}}</h4>
  <button mat-icon-button mat-dialog-close class="mat-dialog-close">
    <mat-icon>highlight_off</mat-icon>
  </button>
  <mat-dialog-content>
    <mat-form-field  class="imx-input">
      <mat-label>{{labels['project'][0]}} Name</mat-label>
      <input matInput formControlName="name" maxlength="140"/>
      <mat-error *ngIf="projectForm.controls.name.invalid">
        <span>{{nameValidError}}</span>
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field  class="imx-input">
      <mat-label>{{labels['project'][0]}} Description</mat-label>
      <textarea matInput formControlName="description" maxlength="320"></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="imx-button-basic">Cancel</button>
    <button mat-button class="imx-button-primary">Create {{labels['project'][0]}}</button>
  </mat-dialog-actions>
</form>
