<div class="markets-section" fxLayout="column">
    <div class="market-type-section" fxLayout="row">
      <div fxLayout="row" fxLayoutGap="10px" fxFlex="63" fxLayoutAlign="end" class="market-selection">
        <mat-label>Type:</mat-label>
        <mat-radio-group fxLayoutGap="20px" [formControl]="marketSelectionCtrl" class="market-type-selector">
          <mat-radio-button name="Market" *ngIf="config.allowedGeoTypes.includes('National')" value="National">National</mat-radio-button>
          <mat-radio-button name="Market" *ngIf="config.allowedGeoTypes.includes('DMA')"  value="DMA">DMA</mat-radio-button>
          <mat-radio-button name="Market" *ngIf="config.allowedGeoTypes.includes('CBSA')"  value="CBSA">CBSA</mat-radio-button>
          <mat-radio-button name="Market"  *ngIf="config.allowedGeoTypes.includes('County')"  value="County">County</mat-radio-button>
          <mat-radio-button name="Market"  *ngIf="config.allowedGeoTypes.includes('GEO_SET')" value="GEO_SET">
            My Saved Geography Sets
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

  <section class="geography-sets-section" *ngIf="marketSelectionCtrl.value == 'GEO_SET' else otherMarketTypesSection">
    <app-geography-sets-list
      [showLargeBtns]="true"
      [clearSet]="clearSet"
      (setSelected)="onGeoSetSelected($event)"
      (setCleared)="onGeoSetCleared()">
    </app-geography-sets-list>
  </section>

  <ng-template #otherMarketTypesSection>
    <div class="search-section" fxLayout="row" *ngIf="marketSelectionCtrl.value !== 'National'">
      <div fxFlex="100">
        <mat-form-field fxFlexFill class="search-field market-search">
          <mat-label>Search Markets</mat-label>
          <input type="text" [formControl]="searchCtrl" matInput autocomplete="off">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="chip-section" fxLayout="row" [ngClass]="{'selected-market-avilable': selectedPreviewOptions.length>3, 'no-selected-market-avilable': selectedPreviewOptions.length>0 && selectedPreviewOptions.length<4 }">
      <mat-chip-list #chipList>
        <span *ngFor="let market of selectedPreviewOptions">
          <mat-chip *ngIf="market.id!== 'global'"  (removed)="removeMarket(market)" title="{{ market.name }}">
            {{(market.name.length>15)? (market.name | slice:0:15)+'...':(market.name)}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <mat-chip *ngIf="market.id === 'global'" [disabled]="true" (removed)="removeMarket(market)" title="{{ market.name }}">
            {{(market.name.length>15)? (market.name | slice:0:15)+'...':(market.name)}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </span>
      </mat-chip-list>
    </div>

    <div class="section" fxLayout="row" *ngIf="marketSelectionCtrl.value !== 'National'">
      <span class="add-link" (click)="addList(10)">
        <mat-icon matPrefix class="mat-button-icon">add</mat-icon>Add Top 10
      </span>
      <span class="add-link" (click)="addList(20)">
        <mat-icon matPrefix class="mat-button-icon">add</mat-icon>Add Top 20
      </span>
      <span *ngIf="searchCtrl?.value?.length>0" class="add-link" (click)="addList()">
        <mat-icon matPrefix class="mat-button-icon">add</mat-icon>Add All
      </span>
    </div>

    <cdk-virtual-scroll-viewport [itemSize]="44" class="radio-group-section" [ngClass]="{'no-audience':audienceLicense['status']==='hidden', 'no-selected-market': selectedPreviewOptions.length<1,'less-items': selectedPreviewOptions.length<3, 'more-items': selectedPreviewOptions.length>3, 'dialog-view':listOption !== 'checkbox' }" [maxBufferPx]="cdkContainerHeight" [minBufferPx]="cdkContainerHeight">
      <mat-selection-list fxLayout="column" [(ngModel)]="selectedOptions" [compareWith]="compare">
          <app-arrow-navigation *cdkVirtualFor="let market of filteredMarkets$ | async ; let i=index; trackBy: trackByFn" [option]="market"
                              [selectedOption]="selectedOptions" (setSelectedOption)="setSelectedMarket($event)"
                              (submit)="submitMarket($event)" fxLayout="column">
          <div class="market-options" *ngIf="listOption == 'checkbox'; else radioList">
            <mat-list-option *ngIf="marketSelectionCtrl.value !== 'National'" class="e2e-active-market-option" [value]="market" (click)="onSelectOptions(marketOption)" [selected]="market | marketSelection: selectedPreviewOptions"
              checkboxPosition="before" disableRipple #marketOption>
              <span class="slno" *ngIf="marketSelectionCtrl.value === 'DMA'">{{market['slno']}}.</span>
              <span class="slno" *ngIf="marketSelectionCtrl.value === 'CBSA' || marketSelectionCtrl.value === 'County'">{{i +1}}.</span>
              <span [innerHTML]="market.name | truncate:'middle':60 | imx_highlight : searchCtrl.value"></span>
            </mat-list-option>
            <mat-list-option *ngIf="marketSelectionCtrl.value === 'National'" class="e2e-active-market-option" [disabled]="true" [value]="market"
              checkboxPosition="before" disableRipple #marketOption >
              <span class="slno">{{i +1}}.</span>
              <span>{{market.name}}</span>
            </mat-list-option>
          </div>

          <ng-template #radioList>
            <mat-radio-button *ngIf="marketSelectionCtrl.value !== 'National'" class="e2e-active-market-option" [value]="market" (click)="onSelectOptions(marketOption)" [selected]="market | marketSelection: selectedPreviewOptions"
              checkboxPosition="before" disableRipple #marketOption>
              <span class="slno" *ngIf="marketSelectionCtrl.value === 'DMA'">{{market['slno']}}.</span>
              <span class="slno" *ngIf="marketSelectionCtrl.value === 'CBSA' || marketSelectionCtrl.value === 'County'">{{i +1}}.</span>
              <span [innerHTML]="market.name | truncate:'middle':60 | imx_highlight : searchCtrl.value"></span>
            </mat-radio-button>
            <mat-radio-button *ngIf="marketSelectionCtrl.value === 'National'" class="e2e-active-market-option" [disabled]="true" [value]="market"
              checkboxPosition="before" disableRipple #marketOption >
              <span class="slno">{{i +1}}.</span>
              <span>{{market.name}}</span>
            </mat-radio-button>
          </ng-template>

        </app-arrow-navigation>
      </mat-selection-list>
      <!--<p *ngIf="filteredMarkets.length <= 0" class="text-center" class="e2e-no-market-found">No Market Found</p>-->
    </cdk-virtual-scroll-viewport>

    <div class="action-container" [ngClass]="{ 'module-disable':allowInventory === 'disabled'}">
      <button mat-raised-button class="btn-clear" type="button" (click)="resetFilter()">{{config.cancelButtonLabel}}</button>
      <button mat-raised-button class="btn-primary-color e2e-apply-market-btn" type="button"
        (click)="submitMarket('individual')">{{config.singleButtonLabel}}</button>
      <button *ngIf="((selectedOptions.length > 1) || (selectedPreviewOptions.length > 1)) && config.groupSelectionEnabled" mat-raised-button class="btn-primary-color e2e-apply-market-btn" type="button" (click)="submitMarket('group')">{{config.groupButtonLabel}}</button>
    </div>

  </ng-template>

</div>
