@import '../../../../assets/css/variables.less';
.places-set-container{
  // width: 480px;
  // padding: 20px;
  .heading{
    margin: 0px;
  }
  hr{
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0.5px solid #212121;
    opacity: 0.1;
  }
}
.place-set-search{
  mat-icon{
    color: rgba(33,33,33,1);
    opacity: 0.6;
  }
}


button{
  height: 28px;
  line-height: 28px;
  border-right: 4px;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.83px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 10px;
}
.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: var(--primary-bg);
}
.secondary{
  background-color: #FAFAFA;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
  color: rgba(117,117,117,1);
}
.full-width{
  width: 100%;
}


.mat-list-option{
  border-bottom: 1px solid rgba(33,33,33,0.1);
}
.mat-icon.mat-list-icon{
  color: rgba(33,33,33,0.33);
}
.places-set-list{
  overflow: auto;
}
.mat-radio-button{
  width: 100%;
  border-bottom: 1px solid rgba(33,33,33,0.1);
  padding: 10px;
}
.no-item-found{
  text-align: center;
  padding: 10px;
}


.place-loader>mat-spinner {
  margin: 10px auto;
  // margin-top: 10px;
}
