.report-org-main{
  padding: 2rem;
  background: #F9F9F9;
}
app-report-generate-form{
  width: 100%;
}
app-reports-list{
  width: 100%;
}
::ng-deep{
  .report-dialog-container.imx-mat-dialog .mat-dialog-container {
    border-radius: 0 !important;
    padding: 2px !important;
  }
  .body-inner-content{
    overflow: auto !important;
  }
}
