
::ng-deep {
  app-add-job {
    .imx-project-form {
      .mat-form-field {
        width: 100%;
        .mat-input-element {
          font-size: 13px;
          line-height: 16px;
          letter-spacing: 0.5px;
          color: vat(--grays-bg-800);
        }
      }
    }
    mat-dialog-content.mat-dialog-content.duplicate {
      margin-top: 0 !important;
    }

    mat-dialog-actions.mat-dialog-actions.duplicate {
      margin-top: 0 !important;
    }

    .imx-input-no-border {
      height: auto;
      border: none;
    }

    .mat-dialog-content{
      margin-top: 3rem !important;
    }

    .mat-dialog-actions{
      margin: 3rem 0 1rem !important;
    }

    .mat-dialog-title{
      text-transform: initial !important;
    }
    .cancel-btn-margin{
      margin-right: 3.188rem;
    }
  }
  .add-job-clientname {
    overflow-y: auto !important;
  }
  .field-height {
    height: 5rem;
  }
}
