.billing-report {
  .billing-title{
    color: var(--grays-bg-700);
  }
  .imx-invoice-report-note {
    color: var(--grays-bg-800);
    font-size: 14px;
    border: 1px solid var(--grays-bg-800);
    border-radius: 5px;
    padding: 10px;
    line-height: 20px;
    margin-top: 1.5rem;
  }
  .billing-margin{
    margin-top: 1.5rem;
    .row-margin{
      margin-bottom: 1rem;
    }
  }
  .report-label{
    color: var(--grays-bg-700);
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    font-weight: normal;
    margin-right: 0.5rem;
  }
  .report-value{
    font-size: 1rem;
    line-height: 1.25rem;
    color: #101010;
  }
}
