.imx-time-stamp {
  margin: 0;

  th {
    color: var(--grays-bg-600);
    font-size: 10px !important;
    font-weight: normal;
    padding-right: 1rem;
    text-align: left;

    th:last-child{
      padding-right: 1rem;
    }
  }

  td {
    font-size: 13px;
    color: var(--grays-bg-800);
    font-weight: normal;
  }
}

